<!--<div id="mainmap" style="width: 100%;"></div>

<div id="m-ico-group" class="m-ico-group"></div>

<div class="toggle-bottom">
  <a href="#" class="a-toggle">Развернуть карту</a>
</div>-->


    <div class="constrain">
      <a href="#?" class="map__close sprite-close js-map-close"></a>
    </div>
    <div class="map__route route-list route-list_draggable route-list_deleteable">
      <ul class="list">
        <li class="item hide">
          <span class="drag"></span>
          <span class="number">0</span>
          <img src="" alt="" class="img">
          <div class="text">
            <span class="text__place"></span>
            <span class="text__type c-place"></span>
          </div>
        </li>
        <li class="item">
          <span class="drag"></span>
          <span class="number">1</span>
          <img src="media/uploads/route-1.png" alt="" class="img">
          <div class="text">
            <span class="text__place">Ферапонтов монастырь</span>
            <span class="text__type c-place">место</span>
          </div>
        </li>
        <li class="item">
          <span class="drag"></span>
          <span class="number">2</span>
          <img src="media/uploads/route-2.png" alt="" class="img">
          <div class="text">
            <span class="text__place">Российский дельфинарий впервые...</span>
            <span class="text__type c-event">событие 14.09—20.10</span>
          </div>
        </li>
        <li class="item">
          <span class="drag"></span>
          <span class="number">3</span>
          <img src="media/uploads/route-3.png" alt="" class="img">
          <div class="text">
            <span class="text__place">Фестиваль красок ХОЛИ Не пропустите самый...</span>
            <span class="text__type c-event">событие 14.09</span>
          </div>
        </li>
        <li class="item">
          <span class="drag"></span>
          <span class="number">4</span>
          <img src="media/uploads/route-4.png" alt="" class="img">
          <div class="text">
            <span class="text__place">Архиерейское подворье (Вологодский кремль)</span>
            <span class="text__type c-place">место</span>
          </div>
        </li>
        <li class="item">
          <span class="drag"></span>
          <span class="number">5</span>
          <img src="media/uploads/route-1.png" alt="" class="img">
          <div class="text">
            <span class="text__place">Ферапонтов монастырь</span>
            <span class="text__type c-place">место</span>
          </div>
        </li>
        <li class="item">
          <span class="drag"></span>
          <span class="number">6</span>
          <img src="media/uploads/route-2.png" alt="" class="img">
          <div class="text">
            <span class="text__place">Российский дельфинарий впервые...</span>
            <span class="text__type c-event">событие 14.09—20.10</span>
          </div>
        </li>
        <li class="item">
          <span class="drag"></span>
          <span class="number">7</span>
          <img src="media/uploads/route-3.png" alt="" class="img">
          <div class="text">
            <span class="text__place">Фестиваль красок ХОЛИ Не пропустите самый...</span>
            <span class="text__type c-event">событие 14.09</span>
          </div>
        </li>
        <li class="item">
          <span class="drag"></span>
          <span class="number">8</span>
          <img src="media/uploads/route-4.png" alt="" class="img">
          <div class="text">
            <span class="text__place">Архиерейское подворье (Вологодский кремль)</span>
            <span class="text__type c-place">место</span>
          </div>
        </li>
      </ul>
      <a href="#?" class="delete-item js-delete"></a>
    </div>
    <div class="baloon">
      <div class="baloon__head">
        <a href="#?" class="title title_tag">
          <i class="icon"></i>
           ТРК «Ярославский Вернисаж»
        </a>
        <a href="#?" class="close"></a>
      </div>
      <div class="baloon__body">
        <div class="text">
          <img src="media/uploads/baloon-img.png" alt="" class="img">
          Расположен в Ярославле на пересечении Московского проспекта и улицы Калинина 30 Га. На
        </div>
        <div class="type">
          <i class="icon sprite-place-small"></i>
        </div>
      </div>
    </div>
    <div class="map__container" id="map"></div>
    <div class="map__ctrls-wrap">
      <div class="map__ctrls hide">
        <form action="/">
          <input type="submit" value="Сохранить маршрут" class="btn btn_color_blue">
          <ul class="map-counter">
            <li class="map-counter__item hide">
              <a href="#?" class="map-counter__link map-counter__link_type_event " data-type="event" data-toggle="tooltip" title="Добавленные&nbsp;события">0</a>
            </li>
            <li class="map-counter__item hide">
              <a href="#?" class="map-counter__link map-counter__link_type_place" data-type="place" data-toggle="tooltip" title="Добавленные&nbsp;места">0</a>
            </li>
          </ul>
          <div class="hint hint_pos_ne" style="bottom: -115px; left: -115px; width: 220px;">
            Места и события, добавленные в ваш новый маршрут
            <a href="#?" class="hint__close"></a>
          </div><!-- class="hint" -->
        </form>
      </div>
    </div>
    <div class="constrain">
      <div class="map__where">
        <a href="#?" class="btn btn_color_green btn-change-city js-change-city"><span class="text">Вы едете из <span class="city">Вологды</span>  ?</span></a>
        <div class="select-wrap">
          <select>
            <option value="1">Вологда</option>
            <option value="2">Москва</option>
            <option value="3">Санкт-Петербург</option>
            <option value="4">Воронеж</option>
            <option value="5">Пермь</option>
          </select>
          <a href="#?" class="btn btn_color_green js-chosen-city">ОК</a>
        </div>
      </div>
    </div>

