*.log
*.pot
*.pyc
settings_local.py
/.idea/*
/assets/media/avatar/*
/assets/media/cache/*
/assets/media/point/*
/assets/admin/*
/assets/node_modules/*
/assets/debug/*
/data/*
/logs/*
.env
migrations
.DS_Store
._*
.~*#
*.swp
*.swo
*.swn
.svn
*.orig
_build
build
dist
*.egg-info
*.sql
/assets/node_modules/*
sphinx.conf
