<div class="popupwin__title clearfix">
  <div class="steps">
    <div class="steps__title">
      <span class="title-place">Добавьте места и события в свое путешествие</span>
    </div>
  </div>
</div>

<div class="route-search">
  <select data-placeholder="Поиск по местам и событиям">
    <option></option>
    <option value="1" data-type="g" data-city="г. Вологда">Вологодские узоры</option>
    <option value="2" data-type="y" data-city="г. Вологда">Вологодские мероприятия</option>
    <option value="3" data-type="b" data-city="г. Вологда">Вологодские кафе</option>
    <option value="4" data-type="br" data-city="г. Вологда">Вологодские места отдыха</option>
    <option value="5" data-type="g" data-city="г. Вологда">Вологодские дороги</option>
  </select>
</div>

<div class="route-categories">
  <ul class="categories">
    {{#each tags}}
      <li class="categories__item">
        <a href="#" class="categories__link sprite-filter-photo {{style}}" data-id="{{id}}" data-toggle="tooltip" data-placement="bottom" title="{{name}}"></a>
      </li>
    {{/each}}
    <li class="categories__item"><a href="#?" class="categories__link categories__link_type_all sprite-filter-all"></a></li>
  </ul>
</div>

<div class="map map_popupwin map_route">
  <div class="map__container" id="map-route"></div>
  <a href="#" class="map__open js-map-open">Открыть карту</a>
  <a href="#" class="map__close sprite-close js-map-close"></a>
</div>

<div id="trip-grid-region"></div>
