<div class="route-list route-list_deleteable route-list_draggable mb20">
  <div class="title">Добавленные места и события</div>
  <ul class="list">
    <li class="item hide">
      <span class="drag"></span>
      <span class="number">0</span>
      <img src="" alt="" class="img">
      <div class="text">
        <span class="text__place"></span>
        <span class="text__type"></span>
      </div>
    </li>
  </ul>
</div><!-- class="route-list" -->
<div class="trip-ctrls">
  <a href="#?" class="btn btn_color_blue btn_finish js-finish-adding">Готово</a>
</div>
