<div class="box__title box__title_type_trip">Путешествие</div>
<div class="box__img">
  <a href="" class="js-popupwin-trip">
    <img src="{{blocks.[0].imgs.[0].thumbnail207}}" alt="{{name}}" class="img">
    <div class="icons">
      <!--<a href="#?" class="icon sprite-place" data-toggle="tooltip" title="Добавить место"></a>
      <a href="#?" class="icon sprite-like" data-toggle="tooltip" title="Нравится"></a>-->
    </div>
  </a>
</div>
<div class="box__description">
  <div class="name">{{name}}</div>
  <!--<span class="info info_like">{{likes_count}}</span>-->
  <!--<span class="info info_comment">0</span>-->
</div>
<div class="box__person">
  <img src="{{author.avatar}}" alt="{{author.first_name}} {{author.last_name}}" class="img">
  <div class="text">
    Путешествие составил<br>
    <span class="name">{{author.first_name}} {{author.last_name}}</span>
  </div>
</div>
