<div class="box__title box__title_type_trip">{{#if price}}Экскурсия{{else}}Путешествие{{/if}}</div>
<div class="box__img">
  <a href="/trip/{{id}}" class="js-popupwin-trip">
    {{#if blocks}}
      {{#if blocks.[0].imgs}}
        <img src="{{blocks.[0].imgs.[0].thumbnail207}}" height="{{blocks.[0].imgs.[0].thumbnail207_height}}" alt="{{name}}" class="img">
      {{else}}
        <img src="/static/images/place-unknown.png" height="174" alt="{{name}}" class="img">
      {{/if}}
    {{else}}
      <img src="/static/images/place-unknown.png" height="174" alt="{{name}}" class="img">
    {{/if}}

    {{#if editable}}
      {{#ifContains author.id user}}
        <div class="btns">
          <a href="/trip/{{id}}/edit" class="btn btn_color_green btn_edit">Редактировать</a>
          <a href="/#trip/{{id}}/delete" class="btn btn_color_red btn_remove">Удалить</a>
        </div>
      {{/ifContains}}
    {{else}}
    <div class="icons">
      <!--<a href="#" class="icon sprite-place" data-toggle="tooltip" title="Добавить место"></a>
      <a href="#" class="icon sprite-like" data-toggle="tooltip" title="Нравится"></a>-->
    </div>
    {{/if}}
  </a>
</div>
<div class="box__description">
  {{#if price}}
  <div class="price price_green">
    {{price}} <span class="sprite-ruble-white"></span>
  </div>
  {{/if}}
  <div class="name">{{name}}</div>
  <!--<span class="info info_like">{{likes_count}}</span>-->
  <!--<span class="info info_comment">0</span>-->
</div>
<div class="box__person">
  <img src="{{author.icon}}" alt="{{author.first_name}} {{author.last_name}}" class="img">
  <div class="text">
    Путешествие составил<br>
    <span class="name">{{author.first_name}} {{author.last_name}}</span>
  </div>
</div>
