<a href="#" class="btn-delete js-delete-from-trip"></a>
<div class="box__title box__title_type_place">Место</div>
<div class="box__img">
  <a href="/point/{{id}}" class="js-popupwin-place">
    {{#if imgs}}
      <img src="{{imgs.[0].thumbnail207}}" height="{{imgs.[0].thumbnail207_height}}" alt="{{name}}" class="img">
    {{else}}
      <img src="/static/images/place-unknown.png" height="174" alt="{{name}}" class="img">
    {{/if}}
    {{#if addtotrip}}
    <div class="btns">
      <a href="#" class="btn btn_color_blue js-add-to-trip-popupwin">Добавить в путешествие</a>
    </div>
    {{/if}}
    {{#if editable}}
      {{#ifContains author.id user}}
        <div class="btns">
          <a href="/point/{{id}}/edit" class="btn btn_color_green btn_edit">Редактировать</a>
          <a href="/#point/{{id}}/delete" class="btn btn_color_red btn_remove">Удалить</a>
        </div>
      {{/ifContains}}
    {{else}}
    <div class="icons">
      <!--
      <a class="icon sprite-place" data-toggle="tooltip" title="Добавить место"></a>
      <a href="#" class="icon sprite-like {{#if isliked}}active{{/if}}" data-toggle="tooltip" title="Нравится"></a>
      -->
    </div>
    {{/if}}
  </a>
</div>
<div class="box__description">
  <div class="name">{{name}}</div>
  <span class="info info_like">{{#if likes_count}}{{likes_count}}{{else}}0{{/if}}</span>
  <span class="info info_comment">{{#if reviews}}{{reviews.length}}{{else}}0{{/if}}</span>
</div>
