<div class="box__title box__title_type_route">Маршрут</div>
<div class="box__img">
  <a href="#route/{{id}}" class="js-popupwin-route">
    {{#if points}}
      {{#if points.[0].imgs}}
        <img src="{{points.[0].imgs.[0].thumbnail207}}" height="{{points.[0].imgs.[0].thumbnail207_height}}" alt="{{name}}" class="img">
      {{else}}
        <img src="/static/images/place-unknown.png" height="174" alt="{{name}}" class="img">
      {{/if}}
    {{else}}
      <img src="/static/images/place-unknown.png" height="174" alt="{{name}}" class="img">
    {{/if}}
    {{#ifCond days '!=' 0}}
    <div class="days">
                  <div class="days__circle">
                    <span class="days__count">{{days}}</span>
                    <br> дней
                  </div>
                </div>
    {{/ifCond}}
    <div class="icons">
      <!--<a href="#?" class="icon sprite-place" data-toggle="tooltip" title="Добавить место"></a>-->
      <a class="icon sprite-like" data-toggle="tooltip" title="Нравится"></a>
    </div>
  </a>
</div>
<div class="box__description">
  {{#ifCond price '!=' '0.00'}}
  <div class="price price_green">
    {{price}} <span class="sprite-ruble-white"></span>
  </div>
  {{/ifCond}}
  <div class="name">{{name}}</div>
  <span class="info info_like">{{likes_count}}</span>
  <span class="info info_comment">0</span>
</div>
<div class="box__person">
  <img src="{{author.icon}}" alt="{{author.first_name}} {{author.last_name}}" class="img">
  <div class="text">
    Путешествие составил<br>
    <span class="name">{{author.first_name}} {{author.last_name}}</span>
  </div>
</div>
