<div class="box__title box__title_type_trip">{{#if price}}Экскурсия{{else}}Путешествие{{/if}}</div>
<div class="box__img">
  <a href="/trip/{{id}}" class="js-popupwin-trip">
    {{#if blocks}}
      {{#if blocks.[0].imgs}}
        <img src="{{blocks.[0].imgs.[0].thumbnail207}}" height="{{blocks.[0].imgs.[0].thumbnail207_height}}" alt="{{name}}" class="img">
      {{else}}
        <img src="/static/images/place-unknown.png" height="174" alt="{{name}}" class="img">
      {{/if}}
    {{else}}
      <img src="/static/images/place-unknown.png" height="174" alt="{{name}}" class="img">
    {{/if}}

    {{#if editable}}
      {{#ifContains author.id user}}
        <div class="btns">
          <a href="/trip/{{id}}/edit" class="btn btn_color_green btn_edit">Редактировать</a>
          <a href="/#trip/{{id}}/delete" class="btn btn_color_red btn_remove">Удалить</a>
        </div>
      {{/ifContains}}
    {{else}}
    <div class="icons">
      <!--<a href="#" class="icon sprite-place" data-toggle="tooltip" title="Добавить место"></a>
      <a href="#" class="icon sprite-like" data-toggle="tooltip" title="Нравится"></a>-->
    </div>
    {{/if}}
  </a>
</div>
<div class="box__description">
  {{#if summary_info.group.group_price_tour}}
  <div class="price price_green">
    {{toFixed summary_info.group.group_price_tour 0}} <span class="sprite-ruble-white"></span> / чел
  </div>
  {{else}}
    {{#if summary_info.personal.personal_price_tour}}
      <div class="price price_green">
        {{toFixed summary_info.personal.personal_price_tour 0}} <span class="sprite-ruble-white"></span>
      </div>
    {{/if}}
  {{/if}}
  <div class="name">{{name}}</div>
  <span class="info info_like">{{#if likes_count}}{{likes_count}}{{else}}0{{/if}}</span>
  <span class="info info_comment">{{#if review_count}}{{review_count}}{{else}}0{{/if}}</span>
</div>
<div class="box__person">
  <a class="link" href="/guide/{{author.id}}/">
    <img src="{{author.icon}}" alt="{{author.first_name}} {{author.last_name}}" class="img">
    <div class="text">
      {{#if price}}Автор экскурсии{{else}}Автор путешествия{{/if}}<br>
      <span class="name">{{author.first_name}} {{author.last_name}}</span>
    </div>
  </a>
</div>
