<div class="popupwin__title clearfix">
  <div class="steps">
    <ul class="steps__list steps__list_place">
      <li class="steps__item active">1</li>
      <li class="steps__item active">2</li>
      <li class="steps__item active">3</li>
    </ul>
  </div>
</div>
<div class="popupwin__container clearfix">
  <section class="toggle-list">
    <div class="toggle-list__item">
      <div class="toggle-list__title">Дополнительные контактные данные</div>
      <div class="toggle-list__body">
      <div class="form">
        <div class="field clearfix">
          <div class="item item_add-cont">
            <label>Телефон:</label>
            <input name="phone" type="text" value="{{additional.phone}}">
          </div>
          <div class="item item_add-cont">
            <label>Группа vkontakte:</label>
            <input name="vk" type="text" placeholder="vk.com/groupname" value="{{additional.vk}}">
          </div>
        </div>
        <div class="field clearfix">
          <div class="item item_add-cont">
            <label>Веб-сайт:</label>
            <input name="website" type="text" placeholder="example.com" value="{{additional.website}}">
          </div>
          <div class="item item_add-cont">
            <label>Twitter:</label>
            <input name="twitter" type="text" placeholder="@twittername" value="{{additional.twitter}}">
          </div>
        </div>
      </div>

      </div>
    </div>
    <div class="toggle-list__item">
      <div class="toggle-list__title">Время работы</div>
      <div class="toggle-list__body">
        <section class="working-period clearfix">
          <div class="working-period__choice">
            <ul class="working-days">
              <li class="working-days__item active" data-number="1">ПН</li>
              <li class="working-days__item active" data-number="2">ВТ</li>
              <li class="working-days__item active" data-number="3">СР</li>
              <li class="working-days__item active" data-number="4">ЧТ</li>
              <li class="working-days__item active" data-number="5">ПТ</li>
              <li class="working-days__item" data-number="6">СБ</li>
              <li class="working-days__item" data-number="7">ВС</li>
            </ul>
            <div class="working-time clearfix">
              <input type="text" value="10:00" class="start-time">&nbsp;&nbsp;&mdash;&nbsp;&nbsp;<input type="text" value="18:00" class="end-time">
              <a href="#" class="btn btn_color_green js-add-days">Добавить</a>
            </div>
            <div class="note">Вы можете выбрать один или несколько дней</div>
          </div>
          <ul class="working-period__result">
            {{#each additional.working_hours}}
              <li class="item">
                {{working_hours .}}
                <input type="hidden" name="working_hours" value="{{.}}">
                <a href="#" class="delete js-delete"></a>
              </li>
            {{/each}}
          </ul>
        </section>
      </div>
    </div>
    <div class="toggle-list__item">
      <div class="toggle-list__title">Подробности</div>
      <div class="toggle-list__body">
        <div class="form-detail">
          <div class="field field_price clearfix">
            <label>Цена:</label>
            <div class="input-wrap right">
              от <input name="price_start" type="text" value="{{additional.price_start}}">&nbsp;&nbsp;&nbsp;&nbsp;
              до <input name="price_end" type="text" value="{{additional.price_end}}">&nbsp;<span class="sprite-ruble-dark"></span>
            </div>
          </div>
          <div class="field clearfix">
            <label>Предлагается:</label>
            <div class="input-wrap right">
              <div class="select-quasi">
                <div class="select-quasi__btn js-select-quasi">Выберите из списка</div>
                <ul class="select-quasi__list">
                  <li class="select-quasi__item">
                    <label>
                      <input name="services" value="Завтрак" type="checkbox" {{#ifContains 'Завтрак' additional.services}}checked="checked"{{/ifContains}}>
                      <span></span> Завтрак
                    </label>
                  </li>
                  <li class="select-quasi__item">
                    <label>
                      <input name="services" value="Бизнес-ланч" type="checkbox" {{#ifContains 'Бизнес-ланч' additional.services}}checked="checked"{{/ifContains}}>
                      <span></span> Бизнес-ланч
                    </label>
                  </li>
                  <li class="select-quasi__item">
                    <label>
                      <input name="services" value="Линия раздачи еды" type="checkbox" {{#ifContains 'Линия раздачи еды' additional.services}}checked="checked"{{/ifContains}}>
                      <span></span> Линия раздачи еды
                    </label>
                  </li>
                  <li class="select-quasi__item">
                    <label>
                      <input name="services" value="Ужин" type="checkbox" {{#ifContains 'Ужин' additional.services}}checked="checked"{{/ifContains}}>
                      <span></span> Ужин
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="field field_sub clearfix">
            <label>Кредитные карты:</label>
            <div class="input-wrap input-wrap_radio right">
              <label>
                <input type="radio" name="credit_card" value="Да" {{#ifEquals additional.credit_card 'Да'}}checked="checked"{{/ifEquals}}>
                <span></span>Да
              </label>
              <label>
                <input type="radio" name="credit_card" value="Нет" {{#ifEquals additional.credit_card 'Да'}}{{else}}checked="checked"{{/ifEquals}}>
                <span></span>Нет
              </label>
            </div>
            <div class="input-wrap input-wrap_checkbox clear clearfix">
              <label><input name="credit_card_type" value="Visa" type="checkbox"><span></span> Visa</label>
              <label><input name="credit_card_type" value="MasterCard" type="checkbox"><span></span> MasterCard</label>
              <label><input name="credit_card_type" value="American Express" type="checkbox"><span></span> American Express</label>
              <label><input name="credit_card_type" value="Discover" type="checkbox"><span></span> Discover</label>
            </div>
          </div>
          <div class="field clearfix">
            <label>Бронирование:</label>
            <div class="input-wrap input-wrap_radio right">
              <label>
                <input type="radio" name="booking" value="Да" {{#ifEquals additional.booking 'Да'}}checked="checked"{{/ifEquals}}>
                <span></span>Да
              </label>
              <label>
                <input type="radio" name="booking" value="Нет" {{#ifEquals additional.booking 'Да'}}{{else}}checked="checked"{{/ifEquals}}>
                <span></span>Нет
              </label>
            </div>
          </div>
          <div class="field field_sub clearfix">
            <label>WiFi:</label>
            <div class="input-wrap input-wrap_radio right">
              <label>
                <input type="radio" name="wifi" value="Да" {{#ifEquals additional.wifi 'Да'}}checked="checked"{{/ifEquals}}>
                <span></span>Да
              </label>
              <label>
                <input type="radio" name="wifi" value="Нет" {{#ifEquals additional.wifi 'Да'}}{{else}}checked="checked"{{/ifEquals}}>
                <span></span>Нет
              </label>
            </div>
            <div class="input-wrap input-wrap_checkbox clear clearfix">
              <label><input name="wifi_type" value="Бесплатный" type="checkbox"><span></span> Бесплатный</label>
              <label><input name="wifi_type" value="Платный" type="checkbox"><span></span> Платный</label>
            </div>
          </div>
          <div class="field clearfix">
            <label>Уличная веранда:</label>
            <div class="input-wrap input-wrap_radio right">
              <label>
                <input type="radio" name="terrace" value="Да" {{#ifEquals additional.terrace 'Да'}}checked="checked"{{/ifEquals}}>
                <span></span>Да
              </label>
              <label>
                <input type="radio" name="terrace" value="Нет" {{#ifEquals additional.terrace 'ДА'}}{{else}}checked="checked"{{/ifEquals}}>
                <span></span>Нет
              </label>
            </div>
          </div>
          <div class="field field_price clearfix">
            <label>Доставка:</label>
            <div class="input-wrap input-wrap_radio right">
              <label>
                <input type="radio" name="delivery" value="Да" {{#ifEquals additional.delivery 'Да'}}checked="checked"{{/ifEquals}}>
                <span></span>Да
              </label>
              <label>
                <input type="radio" name="delivery" value="Нет" {{#ifEquals additional.delivery 'Да'}}{{else}}checked="checked"{{/ifEquals}}>
                <span></span>Нет
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- class="toggle-list" -->
</div>
<div class="popupwin__footer clearfix">
  <a href="#" class="btn btn_color_green left js-back">Назад</a>
  <button href="#" class="btn btn_color_blue right js-finish">Готово</button>
</div>
