<div class="popupwin__title clearfix">
  <div class="steps">
    <ul class="steps__list steps__list_place">
      <li class="steps__item active">1</li>
      <li class="steps__item active">2</li>
      {{#if user.dealer}}
      <li class="steps__item">3</li>
      {{/if}}
    </ul>
  </div>
</div>
<div class="popupwin__container clearfix">
  <div class="field">
    <div class="field__title">Укажите, что за место:</div>
    <ul class="categories categories_tag">
      {{#each rootLabels}}
      <li class="categories__item">
      <a href="#" class="categories__link sprite-filter-photo {{style}}"
        data-id="{{id}}" data-style="{{style}}" data-text="{{name}}"
        data-placement="bottom" title="{{name}}"></a>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="field field_tags hide">
    <div class="field__title">
      Можете указать тип места:
    </div>
    <input type="text" class="select-type tags-additional" placeholder="Можете указать тип места">
    <ul class="tags">
      {{#each additionalLabels}}
      <li class="tags__item">
        <a href="#" class="tags__link" title="{{name}}"
          data-parent="{{parent}}" data-id="{{id}}" data-style="{{style}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="field">
    <div class="map open map_popupwin mb10">
      <div class="map__container" id="map-point-add"></div>
    </div>
    <div class="point-address-input field__input-map">
      <input name="address" type="text" placeholder="Город, улица, дом" value="{{address}}">
    </div>
  </div>

</div>
<div class="popupwin__footer clearfix">
  <a href="#" class="btn btn_color_green left js-back">Назад</a>
  {{#if user.dealer}}
  <a href="#" class="btn btn_color_blue right js-next">Следующий шаг</a>
  {{else}}
  <button href="#" class="btn btn_color_blue right js-finish">Готово</button>
  {{/if}}
</div>
