<div class="popupwin__content clearfix">
  <div class="popupwin__title clearfix">
    <div class="steps">
      <ul class="steps__list steps__list_place">
        <li class="steps__item active">1</li>
        <li class="steps__item">2</li>
        {{#if user.dealer}}
        <li class="steps__item">3</li>
        {{/if}}
      </ul>
    </div>
  </div>
  <div class="popupwin__container clearfix">
    <div class="form">
      <form action="/">
        <div class="form__field form__field_name">
          <label>Название места:</label>
          <input type="text" placeholder="Например: Домик Петра" value="{{name}}">
          <span class="star">*</span>
          <div class="already-added hide">
            <div class="already-added__title">Уже есть!</div>
            <ul class="already-added__list">
              <li class="already-added__item">
                <a href="#?" class="already-added__link">
                  <img src="media/uploads/added-1.png" alt="" class="img">
                  <span class="name">Софийский собор</span>
                  <span class="city">г.Вологда</span>
                </a>
              </li>
              <li class="already-added__item active">
                <a href="#?" class="already-added__link">
                  <img src="media/uploads/added-2.png" alt="" class="img">
                  <span class="name">Софийский собор</span>
                  <span class="city">г.Новгород</span>
                </a>
              </li>
              <li class="already-added__item">
                <a href="#?" class="already-added__link">
                  <img src="media/uploads/added-1.png" alt="" class="img">
                  <span class="name">Софийский собор</span>
                  <span class="city">г.Киев</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="form__field form__field_description">
          <label>Описание места:</label>
          <textarea placeholder="Опишите этот место так,чтобы захотелось туда поехать">{{description}}</textarea>
        </div>
      </form>
    </div>
    <div class="photo-upload">
      <form action="/photos/add" class="dropzone clearfix" id="place-dropzone">
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form>
    </div>
  </div>
  <div class="popupwin__footer clearfix">
    <a href="#?" class="btn btn_color_blue right js-next">Следующий шаг</a>
  </div>
</div>

<div id="imgs-region"></div>
