<div class="popupwin__title clearfix">
  <div class="steps">
    <ul class="steps__list steps__list_place">
      <li class="steps__item active">1</li>
      <li class="steps__item active">2</li>
      <li class="steps__item">3</li>
    </ul>
  </div>
</div>
<div class="popupwin__container clearfix">
  <div class="field">
    <div class="field__title">Укажите, что за место:</div>
    <ul class="categories categories_tag">
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-photo" data-type="photo"></a>
        Достопримечательности
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-gun" data-type="gun"></a>
        Охота
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-fish" data-type="fish"></a>
        Рыбалка
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-ski" data-type="ski"></a>
        Активные отдых
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-music" data-type="music"></a>
        Развлечения и искусство
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-food" data-type="food"></a>
        Кафе и рестораны
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-drink" data-type="drink"></a>
        Ночные клубы и бары
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-tag" data-type="tag"></a>
        Магазины и услуги
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-theatre" data-type="theatre"></a>
        Учреждения
      </li>
      <li class="categories__item">
        <a href="#?" class="categories__link sprite-filter-place" data-type="place"></a>
        Другое
      </li>
    </ul>
  </div>
  <div class="field field_tags hide">
    <div class="field__title">
      Можете указать тип места:
    </div>
    <div class="select-type"></div>
    <ul class="tags">
      <li class="tags__item">
        <a href="#?" class="tags__link">Ловля</a>
      </li>
      <li class="tags__item">
        <a href="#?" class="tags__link">Снасти</a>
      </li>
      <li class="tags__item">
        <a href="#?" class="tags__link">Магазин</a>
      </li>
      <li class="tags__item">
        <a href="#?" class="tags__link">Окуни</a>
      </li>
      <li class="tags__item">
        <a href="#?" class="tags__link">Спиннинг</a>
      </li>
    </ul>
  </div>
  <div class="field">
    <div class="field__title">Где находится:</div>
    <div class="map map_popupwin mb10">
      <a href="#?" class="map__close sprite-close js-map-close"></a>
      <div class="map__container" id="map5"></div>
      <a href="#?" class="btn-open js-map-open"></a>
    </div>
    <div class="field__input-map">
      <input type="text" placeholder="Город, улица, дом">
    </div>
  </div>
</div>
<div class="popupwin__footer clearfix">
  <a href="#?" class="btn btn_color_green left js-back">Назад</a>
  <a href="#?" class="btn btn_color_blue right js-next">Следующий шаг</a>
</div>
