<div class="trip-step__blocks">

  <div class="trip-step__block trip-step__block_title popupwin__content mb10 clearfix">
    <div class="popupwin__title fs18 clearfix">
      Создание путешествия
    </div>
    <div class="popupwin__container clearfix">
      <div class="form">
        <div class="form__field form__field_name">
          <label>Общее название путешествия:</label>
          <input type="text" placeholder="Например: семидневное путешествие по Калифорнии">
          <span class="star">*</span>
        </div>
      </div>
    </div>
  </div><!-- class="popupwin__content" -->

  <div id="trip-blocks-region"></div>

</div><!-- class="trip-step__blocks" -->

<div id="trip-action-region"></div>
