<div class="popupwin__title fs18 clearfix">
  <div class="steps">
    <ul class="steps__list steps__list_trip">
      <li class="steps__item active">1</li>
      <li class="steps__item active">2</li>
    </ul>
  </div>
</div>
<div class="popupwin__container clearfix">
  <section class="toggle-list toggle-list_trip">
    <div class="toggle-list__item">
      <div class="toggle-list__title">
        <label class="check-wrap">
          {{#if summary_info.personal.personal_price_tour}}
          <input type="checkbox" class="check-wrap__input" checked="">
          {{else}}
          <input type="checkbox" class="check-wrap__input">
          {{/if}}
          <span class="check-wrap__icon"></span>
        </label>
        Индивидуальный тур
      </div>
      <div class="toggle-list__body">
        <form id="personalTour">
          <div class="form">
            <div class="form__field">
              <div class="form__item form__item_men-count">
                <label>Макс. кол-во человек:</label>
                <input name="personal_max_people" type="text" value="{{summary_info.personal.personal_max_people}}">
              </div>
              <div class="form__item form__item_price">
                <label>Цена за тур:</label>
                <input name="personal_price_tour" type="text" value="{{summary_info.personal.personal_price_tour}}">
                <span class="rouble">o</span>
              </div>
            </div>
            <div class="form__field">
              <label>Продолжительность тура:</label>
              <div class="form__item form__item_time">
                <input name="personal_dur_days" type="text" value="{{summary_info.personal.personal_dur_days}}">
                <label>дней</label>
              </div>
              <div class="form__item form__item_time">
                <input name="personal_dur_hours" type="text" value="{{summary_info.personal.personal_dur_hours}}">
                <label>часов</label>
              </div>
              <div class="form__item form__item_time">
                <input name="personal_dur_minutes" type="text" value="{{summary_info.personal.personal_dur_minutes}}">
                <label>минут</label>
              </div>
            </div>
            <div class="form__field">
              <div class="form__item-wrap">
                <div class="form__item form__item_date">
                  <label>Дата проведения:</label>
                  <input type="text" class="js-datapicker-period input-date input-date-personal" placeholder="дд.мм.гггг - дд.мм.гггг">
                </div>
                <label class="label-start">Время начала</label>
                <div class="form__item form__item_start">
                  <label>с</label>
                  <input type="text" class="input-start js-parse-time" placeholder="00:00">
                </div>
                <div class="form__item form__item_start">
                  <label>до</label>
                  <input type="text" class="input-end js-parse-time" placeholder="00:00">
                </div>
              </div>
              <label for="personalFullYear" style="text-align: right;"><input id="personalFullYear" type="checkbox">&nbsp;Весь год</label>
              <button style="margin-top:0;" class="btn btn_color_green js-add-tour-item">Добавить</button>
            </div>

            {{#each summary_info.personal.personal_date}}
            <div class="form__field form__field_tour">
              <span class="date">{{orderDate 'date' this}}</span>
              <span class="time"> c {{orderDate 'start' this}} до {{orderDate 'end' this}}</span>
              <input name="personal_date" type="hidden" value="{{this}}">
              <a href="#" class="close js-delete-field"></a>
            </div>
            {{/each}}

            <div class="form__field">
              <div class="form__item-wrap">
                <div class="form__item form__item_start_place" style="width:100%">
                  <label>Место сбора:</label>
                  <textarea name="meet_point" style="height: 70px;" placeholder="Напишите, где произодет встреча с туристами" value="{{summary_info.personal.meet_point}}">{{summary_info.personal.meet_point}}</textarea>
                </div>
              </div>
            </div>

            <div class="form__field">
              <div class="subtitle">
                Добавьте дополнительные услуги
              </div>
            </div>
            <div class="form__field">
              <div class="form__item-wrap">
                <div class="form__item form__item_service">
                  <label>Наименование услуги:</label>
                  <textarea></textarea>
                </div>
                <div class="form__item form__item_service-price">
                  <label>Цена за услугу:</label>
                  <input type="text">
                  <span class="rouble">o</span>
                </div>
              </div>
              <button class="btn btn_color_green js-add-tour-service">Добавить</button>
            </div>
            {{#each summary_info.personal.additional}}
            <div class="form__field form__field_service">
              <span class="service">{{orderService 'name' this}}</span>
              <span class="price">{{orderService 'price' this}} <span class="rouble">o</span></span>
              <input name="additional" type="hidden" value="{{this}}">
              <a href="#" class="close js-delete-field"></a>
            </div>
            {{/each}}
          </div>
        </form>
      </div>
    </div>
    <!-- class="toggle-list__item" -->
    <div class="toggle-list__item">
      <div class="toggle-list__title">
        <label class="check-wrap">
          {{#if summary_info.group.group_price_tour}}
          <input type="checkbox" class="check-wrap__input" checked="">
          {{else}}
          <input type="checkbox" class="check-wrap__input">
          {{/if}}
          <span class="check-wrap__icon"></span>
        </label>
        Групповой тур
      </div>
      <div class="toggle-list__body">
        <form id="groupTour">
          <div class="form">
            <div class="form__field">
              <div class="form__item form__item_men-count">
                <label>Макс. кол-во взрослых:</label>
                <input name="group_max_people" value="{{summary_info.group.group_max_people}}" type="text">
              </div>
              <div class="form__item form__item_price">
                <label>Цена за человека:</label>
                <input name="group_price_tour" value="{{summary_info.group.group_price_tour}}" type="text">
                <span class="rouble">o</span>
              </div>
            </div>
            <!--
            <div class="form__field">
              <div class="form__item form__item_men-count">
                <label>Макс. кол-во детей:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input name="group_max_children" value="{{summary_info.group.group_max_children}}" type="text">
              </div>
              <div class="form__item form__item_price">
                <label>Цена за ребенка:</label>
                <input name="group_price_children" value="{{summary_info.group.group_price_children}}" type="text">
                <span class="rouble">o</span>
              </div>
            </div>
            -->
            <div class="form__field">
              <label>Продолжительность тура:</label>
              <div class="form__item form__item_time">
                <input name="group_dur_days" value="{{summary_info.group.group_dur_days}}" type="text">
                <label>дней</label>
              </div>
              <div class="form__item form__item_time">
                <input name="group_dur_hours" value="{{summary_info.group.group_dur_hours}}" type="text">
                <label>часов</label>
              </div>
              <div class="form__item form__item_time">
                <input name="group_dur_minutes" value="{{summary_info.group.group_dur_minutes}}" type="text">
                <label>минут</label>
              </div>
            </div>
            <div class="form__field">
              <div class="form__item-wrap">
                <div class="form__item form__item_date">
                  <label>Дата проведения:</label>
                  <input type="text" class="js-datapicker-period input-date input-date-group" placeholder="дд.мм.гггг - дд.мм.гггг">
                </div>
                <div class="form__item form__item_begin">
                  <label>Время начала</label>
                  <input type="text" class="input-start js-parse-time" placeholder="00:00">
                </div>
              </div>
              <label for="groupFullYear" style="text-align: right;"><input id="groupFullYear" type="checkbox">&nbsp;Весь год</label>
              <a href="#" style="margin-top:0;" class="btn btn_color_green js-add-tour-item">Добавить</a>
            </div>

            {{#each summary_info.group.group_date}}
            <div class="form__field form__field_tour">
              <span class="date">{{orderDate 'date' this}}</span>
              <span class="time"> c {{orderDate 'start' this}}</span>
              <input name="group_date" type="hidden" value="{{this}}">
              <a href="#" class="close js-delete-field"></a>
            </div>
            {{/each}}

            <div class="form__field">
              <div class="form__item-wrap">
                <div class="form__item form__item_start_place" style="width:100%">
                  <label>Место сбора:</label>
                  <textarea name="meet_point" style="height: 70px;" placeholder="Напишите, где произодет встреча с туристами" value="{{summary_info.group.meet_point}}">{{summary_info.group.meet_point}}</textarea>
                </div>
              </div>
            </div>

            <div class="form__field">
              <div class="subtitle">
                Добавьте дополнительные услуги
              </div>
            </div>
            <div class="form__field">
              <div class="form__item-wrap">
                <div class="form__item form__item_service">
                  <label>Наименование услуги:</label>
                  <textarea></textarea>
                </div>
                <div class="form__item form__item_service-price">
                  <label>Цена за услугу:</label>
                  <input type="text">
                  <span class="rouble">o</span>
                </div>
              </div>
              <a href="#" class="btn btn_color_green js-add-tour-service">Добавить</a>
            </div>
            {{#each summary_info.group.additional}}
            <div class="form__field form__field_service">
              <span class="service">{{orderService 'name' this}}</span>
              <span class="price">{{orderService 'price' this}} <span class="rouble">o</span></span>
              <input name="additional" type="hidden" value="{{this}}">
              <a href="#" class="close js-delete-field"></a>
            </div>
            {{/each}}
          </div>
        </form>
      </div>
    </div><!-- class="toggle-list__item" -->
  </section><!-- class="toggle-list toggle-list_trip" -->
</div>
<div class="popupwin__footer clearfix">
  <a href="#" class="btn btn_color_yel left js-back">Назад</a>
  <button data-placement="bottom" data-title="Напишите название путешествия" class="btn btn_color_blue right js-finish">Готово</button>
</div>
