<div class="trip-list trip-list_deleteable route-list_draggable popupwin__content">
  {{#if items}}
  <div class="title">Содержание</div>
  <ul class="list">
    {{#each items}}
    <li class="item clearfix" data-step="{{position}}">
      <span class="drag"></span>
      <span class="number">{{position}}</span>
      <div class="text">
        <span class="text__place">{{name}}</span>
        <span class="text__type"></span>
      </div>
      <a data-position="{{position}}" href="#" class="delete-item js-delete"></a>
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div><!-- class="trip-list" -->

<div class="trip-ctrls">
  <a href="#" class="btn btn_color_blue btn_finish js-finish-preview">Предпросмотр</a>
</div>
