<div class="trip-list trip-list_deleteable dd route-list_draggable popupwin__content">
  {{#if items}}
  <div class="title">Содержание</div>
  <ul class="list dd-list">
    {{#each items}}
    <li class="item dd-item clearfix" data-id="{{position}}" data-step="{{position}}">
      <div class="dd-handle">
        <span class="drag"></span>
        <span class="number">{{position}}</span>
        <div class="text">
          <span class="text__place">{{name}}</span>
          <span class="text__type"></span>
        </div>
        <a data-position="{{position}}" href="#" class="delete-item js-delete"></a>
      </div>
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div><!-- class="trip-list" -->

<div class="trip-ctrls">
  <button class="btn btn_color_yel js-add-block">Добавить еще один блок</button>
  <button href="#" class="btn btn_color_blue btn_finish js-finish-preview">Предпросмотр</button>
  {{#if user.dealer}}
  <button data-placement="bottom" data-title="Напишите название путешествия" class="btn btn_color_blue js-next">Следующий шаг</button>
  {{else}}
  <button data-placement="bottom" data-title="Напишите название путешествия" class="btn btn_color_blue js-finish">Готово</button>
  {{/if}}
</div>
