<div class="trip-step__blocks">

  <div class="trip-step__block trip-step__block_title popupwin__content mb10 clearfix">
    {{#if user.dealer}}
    <div class="popupwin__title fs18 clearfix">
      <div class="steps">
        <ul class="steps__list steps__list_trip">
          <li class="steps__item active">1</li>
          <li class="steps__item">2</li>
        </ul>
      </div>
    </div>
    {{else}}
    <div class="popupwin__title fs18 clearfix">
      Создание путешествия
    </div>
    {{/if}}
    <div class="popupwin__container clearfix">
      <div class="form">
        <div class="form__field form__field_name">
          {{#if user.dealer}}
          <label>Общее название экскурсии:</label>
          <input type="text" placeholder="Например: семидневная экскурсия по Калифорнии" value="{{name}}">
          {{else}}
          <label>Общее название путешествия:</label>
          <input type="text" placeholder="Например: семидневное путешествие по Калифорнии" value="{{name}}">
          {{/if}}
          <span class="star">*</span>
        </div>
        <div class="form__field form__field_description">
          {{#if user.dealer}}
          <label>Общее описание экскурсии:</label>
          {{else}}
          <label>Общее описание путешествия:</label>
          {{/if}}
          <textarea>{{description}}</textarea>
        </div>
      </div>
    </div>
  </div><!-- class="popupwin__content" -->

  <div id="trip-blocks-region"></div>

</div><!-- class="trip-step__blocks" -->

<div id="trip-action-region"></div>
