<div class="popupwin__container clearfix">
  <div class="form">
    
    <div class="form__field form__field_title">
      <span class="number">{{position}}</span>
      <span class="span-title editable" data-text="Блок вашего путешествия:">{{#if name}}{{name}}{{else}}Блок вашего путешествия:{{/if}}</span>

      <div class="form__field form__field_description hide">
        <input type="text" placeholder="Введите заголовок" class="input-title" value="{{name}}">
        <span class="star">*</span>
      </div>
    
    </div>
    
    <div id="blockitem-imgs-region-{{cid}}"></div>
    
    <div class="form__field mb20">
      <textarea id="tinyeditor-{{position}}" class="tinyeditor" placeholder="Добавьте описание путешествия и фотографий загруженных выше">{{txt}}</textarea>
    </div>

    <div class="field">
      <div class="map map_popupwin mb10">
        <a href="#" class="map__open js-map-open">Отметить на карте</a>
        <a href="#" class="map__clear js-map-close">Свернуть карту</a>
        <div class="map__container" id="map-block-{{cid}}"></div>
      </div>
      <div class="field__input-map">
        <input name="address-block-{{cid}}" type="text" placeholder="Город, улица, дом" value="{{address}}">
      </div>
    </div>
    
    <div class="form__field form__field_add-stuff">
      <a href="#" class="btn btn_color_blue js-add-place">Прикрепить места и события</a>
      <div id="blockitem-points-region-{{cid}}"></div>
    </div>

  </div>
</div>
