<article class="sc-item">
    <div class="sc-body">
        <a href="#" class="photo">
            <img src="temp/img-208x164.jpg" alt="" width="208" height="164">
        </a>

        <h3>
            <a href="#">
                Кирилло-Белозерский монастырь
            </a>
        </h3>

        <p>Софи́йский собо́р (Собор Софии Премудрости Божией) &mdash; православный храм, ныне музей, древнейшее сохранившееся каменное сооружение на территории Вологды, одна из крупнейших построек эпохи Ивана Грозного&hellip;</p>
    </div>

    <footer>
        <span class="like">123</span>
        <span class="label">123</span>
    </footer>
</article>