{% block postload_js %}
    <!--<script src="{{ STATIC_URL }}js/yamap2.js"></script>-->
{% endblock %}

{% block content %}
    {# include 'includes/yamap.html' #}
    <div id="content">
    <section class="maps">
        <a href="#" class="fr a-add-place">
                    <span>
                        Добавить место
                    </span>
        </a>

        <ul class="tabs-maps">
                {% for categ in categories %}
                    <li {% if forloop.first %} class="active" {% endif %}  >
                        <a href="#">{{ categ.name }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="#">События</a>
                </li>
        </ul>

        <div class="content-maps">
            <div class="item-map">
                <a href="#" class="a-hide">Свернуть</a>
                <div class="map" id="mainmap"></div>
                <div class="selects">
                    <select id="select1">
                        {% for area in areas %}
                            <option value="{{ area.id }}">{{ area.name }}</option>
                        {% endfor %}
                    </select>

                    <select id="select2">
                        {% for region in regions %}
                            <option value="{{ region.id }}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <menu class="tabs-places">
            <a href="#" class="tab-place active">Места</a>
            <a href="#" class="tab-path">Маршруты</a>
            <!--<a href="#" class="tab-path">Хочу посетить</a>
            <a href="#" class="tab-path">Мои маршруты</a>
            <a href="#" class="tab-path">Я добавил</a>-->
        </menu>
    </section>

    <section class="index-column">
    <menu class="tabs-content">
        <a href="#" class="active">
            <span>Новые</span>
        </a>

        <a href="#">
            <span>Популярные</span>
        </a>
    </menu>
    <!-- sc - slide-column -->
    <div id="slide-colums">
        {% for point in points %}
            <article class="sc-item">
                <div class="sc-body">
                    <a href="#" class="photo">
                        {% for img in point.imgs.all %}
                            {% if forloop.first %}
                                <img src="{{ MEDIA_URL }}{{ img.img }}" alt="" width="208" height="164">
                            {% endif %}
                        {% endfor %}
                    </a>
                    <h3>
                        <a href="#">
                            {{ point.name }}
                        </a>
                    </h3>

                    <p>{{ point.description }}&hellip;</p>
                </div>

                <footer>
                    <span class="like">{{ point.likes }}</span>
                    <span class="label">{{ point.visits }}</span>
                </footer>
            </article>
        {% endfor %}
    </div>
        <nav id="page-nav">
            <a href="points/2/new"></a>
        </nav>
    </section>
    </div>
{% endblock %}