{% block postload_js %}
{% endblock %}

{% block content %}
    <div id="content">
    <header class="clearfix top-panel">
        <a href="#" class="fr btn btn-event"><b>+</b> Событие</a>
        <a href="#" class="fr btn btn-place"><b>+</b> Место</a>
        <menu class="tabs">
            <a href="#" class="active">популярное</a>
            <a href="#">новое</a>
            <a href="#">события</a>
        </menu>
    </header>

    <div class="content tabs-content">
    <section id="tab-new" class="items">

    </section>
    </div>
    </div>
{% include 'main/templates.html' %}
{% endblock %}