<footer id="footer">
    <a href="#" class="a-toggle" title="переключить панель">&nbsp;</a>
    <div class="f-body">
        <ul>
            <li><a href="#" class="aboutProject nonav">О проекте</a></li>
            <li><a href="#" class="contacts nonav">Контакты</a></li>
            <li><a href="#">Соглашение</a></li>
        </ul>

        <div class="apps">
            <a href="#" class="app-android">&nbsp;</a>
            <a href="#" class="app-store">&nbsp;</a>
        </div>

        <div class="share">
            <div id="vk_like"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like", {type: "mini"});
            </script>
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
        </div>

        <div class="f-social">
            <a href="http://vk.com/yasenput" target="_blank" class="a-vk">&nbsp;</a>
            <a href="http://www.facebook.com/yasenput" target="_blank" class="a-fb">&nbsp;</a>
        </div>
    </div>
</footer>