<footer id="footer">
    <div class="fl copyright">
        ЯсенПуть 2012 г.<br>Все права защищены
    </div>

    <a href="#" class="fl a-feedback">Обратная связь</a>

    <div class="fl social">
        <a href="http://vk.com/yasenput" class="vk">&nbsp;</a>
        <a href="#" class="tw">&nbsp;</a>
        <a href="#" class="ok">&nbsp;</a>
        <a href="#" class="fb">&nbsp;</a>
    </div>

    <a href="#" class="fl app-button">&nbsp;</a>

    <div class="fr design">
        Дизайн сайта &mdash;
        <a href="#" class="lollipop"></a>
    </div>
</footer>