<footer id="footer">
    <a href="#" class="a-toggle" title="переключить панель">&nbsp;</a>
    <div class="f-body">
        <ul>
            <li><a href="#">О проекте</a></li>
            <li><a href="#" class="contacts nonav">Контакты</a></li>
            <li><a href="#">Соглашение</a></li>
        </ul>

        <div class="apps">
            <a href="#" class="app-android">&nbsp;</a>
            <a href="#" class="app-store">&nbsp;</a>
        </div>

        <div class="share">
            <img src="{{ STATIC_URL }}temp/share.png" alt="">
        </div>

        <div class="f-social">
            <a href="http://vk.com/yasenput" class="a-vk">&nbsp;</a>
            <a href="#" class="a-fb">&nbsp;</a>
        </div>
    </div>
</footer>