{% block header %}
    <header id="header" style="padding-top: 78px;">
{##}
{#        <div class="short-service">#}
{#            <div class="l">&nbsp;</div>#}
{#            <div class="r">&nbsp;</div>#}
{##}
{#            <ul>#}
{##}
{#                    {% for head in heads %}#}
{#                        <li>#}
{#                            <img src="{{ head.img.url }}" alt="" class="fl">#}
{#                            <div class="body">#}
{#                                <p>{{ head.descripton }}</p>#}
{#                            </div>#}
{#                        </li>#}
{#                    {% endfor %}#}
{##}
{#            </ul>#}
{##}
{#            <a href="#" class="a-full-desc">очень подробное описание</a>#}
{#        </div>#}

{#        <div class="slogan">Пора путешествовать!</div>#}
    </header><!--/ #header-->
{% endblock %}