{% block header %}
    <header id="header">
        <div class="wrap">
            <a href="/" class="logo">ясен путь</a>

            <nav>
                <ul class="nav">
                    <li class="item-places active">
                        <a href="#">Места</a>
                    </li>

                    <li class="item-pathes">
                        <a href="#">Маршруты</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="item-want">
                        <a href="#">Хочу посетить <sup>0</sup></a>

                        <ul class="subnav">
                            <li><a href="#">Новости</a></li>
                            <li class="last"><a href="/logout/">Выход</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="item-want">
                        <a href="#" class="a-enter">Вход</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% if user.is_authenticated %}
            <div class="auth user">
                <img src="{% if user.person.avatar %}{{ user.person.avatar.url|default:"null" }}{% else %}null{% endif %}" alt="" class="avatar" width="30" height="30">
                <div class="user-body">
                    <div class="user-name"><a href="#">{{ user.first_name }} {{ user.last_name }}</a></div>
                    <div class="user-likes">
                        <span class="ico ico-like-small"></span>
                        {{ count_liked_objects }}
                        <span class="ico ico-comment-small"></span>
                        {{ count_commented_objects }}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="search">
                <form action="#">
                    <input type="submit" value="Найти">

                    <div class="label-fields">
                        <div class="label label-add">
                            Добавить
                            <span>+</span>
                        </div>
                        <span class="text-field"><input type="text"></span>
                    </div>
                    <button type="button" class="clear-input"></button>
                </form>

                <div class="drop-search">
                    <button class="toggle-panel"></button>

                    <div class="inner-wrap" id="multisearch" onClick="update_multisearch()"></div>

                </div>
            </div>
        </div>
    </header><!--/ #header-->
{% endblock %}