{% extends "base.html" %}

{% block seo %}
    {% include 'includes/seo.html' %}
{% endblock %}
{% block title %}ЯсенПуть - туристический онлайн сервис с отзывами туристов{% endblock %}

{% block keywords %}
путешествия по россии, туризм, охота, рыбалка, отпуск, отпускные турпакеты, места, поездка, планирование, отель, мотель, мини отель, ночлег и завтрак, гостиница, утеводитель, карты, лыжи, достопримечательности, рестораны, российские достопримечательности, туризм по россии, деревня, отдых душой, интересные места, путешествия на автомобиле, путеводители, маршруты, туры, путевка
{% endblock %}
{% block description %}
Сервис ЯсенПуть объединяет в себе все, что нужно туристу: отзывы об отелях и ресторанах, фотографии и полезные советы по турам и маршрутам. Все достопримечательности в одном месте. С сервисом ЯсенПуть начнется ваше хорошо спланированное путешествие по России. Сервис подбора путешествий, бронирование билетов и гостиниц.
{% endblock %}



{% block wrap %}
  <div class="page">
    <header id="header-region" class="header"></header>

    <section class="container">
      <div id="map-region"></div>
      <div id="board-region" class="constrain"></div>
      <div class="loader hide"></div>
    </section>

    <footer id="footer-region" class="footer">
    </footer>
  </div>
{% endblock %}

{% block popups %}
    <div class="overlay"></div>
    {% include 'includes/popups.html' %}
{% endblock %}
