{% extends "base.html" %}

{% block title %}Ясен Путь{% endblock %}


{% block wrap %}
    <header id="header">
    {% block header %}
        {% include 'main/header.html' %}
    {% endblock %}
    </header><!--/ #header-->

    {% block mainmap %}
        {% include 'main/mainmap.html' %}
    {% endblock %}

    {% block content %}{% endblock %}
    {% include 'main/content.html' %}

    <footer id="footer">
      {% block footer %}
          {% include 'main/footer.html' %}
      {% endblock %}
    </footer>
{% endblock %}

{% block popups %}
    {% include 'includes/popups.html' %}
    {% include 'includes/confirm-remove-comment.html' %}
    {% include 'includes/confirm-remove-photo.html' %}
{% endblock %}
