<div id="overlay">
<div class="popup" id="popup-details-tour">
    <aside class="fl">
        <h3>Маршрут</h3>

        <ul>
            <li>
                <a href="#"><span>Кирилло-белозерский монастырь</span></a>
            </li>

            <li class="active">
                <a href="#"><span>Ферапонтов монастырь</span></a>
            </li>

            <li>
                <a href="#"><span>База Отдыха <br>Веселый одуванчик</span></a>
            </li>

            <li>
                <a href="#"><span>Кирилло-белозерский монастырь</span></a>
            </li>

            <li>
                <a href="#"><span>Ферапонтов монастырь</span></a>
            </li>

            <li>
                <a href="#"><span>База Отдыха <br>Веселый одуванчик</span></a>
            </li>

            <li>
                <a href="#"><span>Кирилло-белозерский монастырь</span></a>
            </li>

            <li>
                <a href="#"><span>Ферапонтов монастырь</span></a>
            </li>

            <li>
                <a href="#"><span>База Отдыха <br>Веселый одуванчик</span></a>
            </li>
        </ul>
    </aside>

    <div class="fl popup-content">
        <article class="popup-body">
            <div class="slider">
                <a href="#" class="a-see-scheme">Посмотреть схему</a>

                <a href="#" class="a-like">Мне нравится</a>

                <div class="slider-pager">32 / 45</div>

                <a class="prev">&nbsp;</a>
                <a class="next">&nbsp;</a>

                <div class="scrollable">
                    <div class="items">
                        <div class="item">
                            <img src="temp/img-484x325.jpg" alt="" width="484" height="325">
                        </div>

                        <div class="item">
                            <img src="temp/img-484x325.jpg" alt="" width="484" height="325">
                        </div>

                        <div class="item">
                            <img src="temp/img-484x325.jpg" alt="" width="484" height="325">
                        </div>

                        <div class="item">
                            <img src="temp/img-484x325.jpg" alt="" width="484" height="325">
                        </div>

                        <div class="item">
                            <img src="temp/img-484x325.jpg" alt="" width="484" height="325">
                        </div>
                    </div>
                </div>
            </div>

            <h2>Софийский собор</h2>
            <small class="place">Вологодская область, Вологда</small>

            <p>Наряду с храмом Покрова на Рву в Москве, Успенским собором Троице-Сергиевой лавры и другими). Сооружён в 1568 &mdash; 1570 годах по распоряжению Ивана Грозного. С 1587 по 1923 год &mdash; кафедральный собор Вологодской епархии (с 1776 по 1938 годы &mdash; вместе с тёплым Воскресенским собором) и усыпальница вологодских архиереев. В соборе практически полностью сохранились фрески XVII века и иконостас первой половины XVIII века.</p>

            <a href="#" class="a-want">
                Хочу посетить
            </a>
        </article>

        <footer>
            <div class="share">
                <div>
                    <img src="temp/fb-button.png" alt="">
                </div>

                <div>
                    <img src="temp/vk-button.png" alt="">
                </div>

                <div>
                    <img src="temp/tw-button.png" alt="">
                </div>

                <div>
                    <img src="temp/po-button.png" alt="">
                </div>

                <div>
                    <img src="temp/lj-button.png" alt="">
                </div>
            </div>
        </footer>
    </div>
</div>

<div class="popup" id="popup-add-place">
    <h3>Добавление места</h3>

    <div class="map-add-place">
        <div class="map">
            <img src="temp/map-910x392.png" alt="" width="900" height="392">
        </div>

        <div class="hint-specify-place">Указать место<br>на карте</div>
        <div class="map-shadow-top"></div>
        <div class="map-shadow-left"></div>
        <div class="map-shadow-right"></div>
    </div>

    <form action="#" method="post">
        <fieldset>
            <div class="fl">
                <dl><!-- ap- add place -->
                    <dt><label for="ap-name">Название</label></dt>
                    <dd><input type="text" value="Поиск по сочетанию букв" onfocus="if(this.value == this.defaultValue) this.value = '';" onblur="if(this.value == '') this.value = this.defaultValue;" id="ap-name"></dd>

                    <dt><label for="">Добавление фото</label></dt>
                    <dd>
                        <div class="custom-file-field">
                            <div class="file-button">
                                <input type="file">
                                <span class="txt-button">Обзор</span>
                            </div>
                            <input type="text" class="file-name" readonly>
                            <button class="delete-file">&nbsp;</button>
                        </div>

                        <small class="hint-file">не более 15 Мб</small>
                        <a href="#" class="a-add-more-photo">добавить еще фото</a>
                    </dd>

                    <dt><label for="ap-coords">Координаты</label></dt>
                    <dd>
                        <input type="text" id="ap-coords">
                        <a href="#">определить мои координаты</a>
                    </dd>
                </dl>
            </div>

            <div class="fr">
                <dl>
                    <dt><label for="ap-desc">Описание</label></dt>
                    <dd><textarea cols="40" rows="7" id="ap-desc"></textarea></dd>

                    <dt><label for="ap-section">Раздел</label></dt>
                    <dd>
                        <label class="custom-checkbox">
                            <input type="checkbox">
                            Туризм
                        </label>
                        <br>
                        <label class="custom-checkbox">
                            <input type="checkbox">
                            Охота
                        </label>
                        <br>
                        <label class="custom-checkbox">
                            <input type="checkbox">
                            Рыбалка
                        </label>
                        <br>
                        <label class="custom-checkbox">
                            <input type="checkbox">
                            Активный отдых
                        </label>
                    </dd>
                </dl>
            </div>

            <div class="clear"></div>

            <input type="submit" value="Добавить место" class="a-want">
        </fieldset>
    </form>

    <footer>
        <div class="share">
            <div>
                <img src="temp/fb-button.png" alt="">
            </div>

            <div>
                <img src="temp/vk-button.png" alt="">
            </div>

            <div>
                <img src="temp/tw-button.png" alt="">
            </div>

            <div>
                <img src="temp/po-button.png" alt="">
            </div>

            <div>
                <img src="temp/lj-button.png" alt="">
            </div>
        </div>
    </footer>
</div>

<div class="popup" id="popup-auth">
    <form action="#" method="post">
        <fieldset>
            <dl>
                <dt><label for="pa-name">Имя</label></dt>
                <dd><input type="text" id="pa-name" onfocus="if(this.value == this.defaultValue) this.value = '';" onblur="if(this.value == '') this.value = this.defaultValue;" value="Путешественник"></dd>

                <dt><label for="pa-password">Пароль</label></dt>
                <dd>
                    <input type="text" id="pa-password">
                    <a href="#" class="forgot">Забыли пароль?</a>
                </dd>
            </dl>

            <input type="submit" value="Войти">
        </fieldset>
    </form>

    <footer>
        <div class="auth-social">
            <strong class="title-auth-social">Войти через социальную сеть</strong>

            <div class="social">
                <a href="#" class="vk">&nbsp;</a>
                <a href="#" class="tw">&nbsp;</a>
                <a href="#" class="ok">&nbsp;</a>
                <a href="#" class="fb">&nbsp;</a>
            </div>
        </div>
    </footer>
</div>
</div>