<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Личный кабинет</title>
  <meta name="viewport" content="width=device-width">
  <link href="media/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="apple-touch-icon" href="media/images/apple-touch-icon.png">
  <meta name="keywords" content="{{ metadata.keywords }}">
  <meta name="description" content="">

  <link rel="stylesheet" type="text/css" href="media/css/base/base.css">
  <link rel="stylesheet" type="text/css" href="media/css/select2.css">
  <link rel="stylesheet" type="text/css" href="media/css/animate-custom.css">
  <link rel="stylesheet" type="text/css" href="media/css/main.css">
  <link rel="stylesheet" type="text/css" href="media/css/media.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="media/css/fancybox/jquery.fancybox.css">
  <script type="text/javascript" src="media/js/libs/modernizr-2.6.2.min.js"></script>
  <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <!--[if lt IE 7]>
    <script type="text/javascript" src="media/js/libs/ie6no.ru.js"></script>
  <![endif]-->
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="media/css/ie/ie.css">
  <![endif]-->
</head>
<body>
  <div class="page">
    <header class="header header_small">
      <div class="header__ctrls">
        <div class="constrain clearfix">
          <div class="header__search">
            <select data-placeholder="Места, маршруты, события...">
              <option></option>
              <option value="1" data-type="g" data-city="г. Вологда">Вологодские узоры</option>
              <option value="2" data-type="y" data-city="г. Вологда">Вологодские мероприятия</option>
              <option value="3" data-type="b" data-city="г. Вологда">Вологодские кафе</option>
              <option value="4" data-type="br" data-city="г. Вологда">Вологодские места отдыха</option>
              <option value="5" data-type="g" data-city="г. Вологда">Вологодские дороги</option>
            </select>
          </div><!-- class="header__search" -->
          <a href="#?" class="logo">
            <img src="media/images/logo.png" alt="ЯсенПуть">
          </a>
          <div class="header__btns">
            <a href="#?" class="btn btn_action_add btn_color_green js-popup-add">
              <span class="sprite-add"></span>
            </a>
            <!-- <a href="#?" class="btn btn_color_blue">Войти</a> -->
            <div class="header__user">
              <a href="#?" class="link-user">
                <img src="media/uploads/user-1.png" alt="uset" class="photo">
                Константин Константиновский
              </a>
              <a href="#?" class="btn btn_color_blue js-profile-menu"></a>
              <ul class="profile-menu">
                <li class="item">
                  <a href="#?" class="link">
                    <span class="icon sprite-bag"></span>
                    Я создал
                  </a>
                  <a href="#?" class="link">
                    <span class="icon sprite-heart"></span>
                    Мне нравится
                  </a>
                  <a href="#?" class="link">
                    <span class="icon sprite-settings"></span>
                    Настройки
                  </a>
                  <a href="#?" class="link">
                    <span class="icon sprite-power"></span>
                    Выход
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- class="header__btns" -->
        </div>
      </div><!-- class="header__ctrls" -->
      <div class="header__dashboard">
        <div class="constrain clearfix">
          <div class="user-info">
            <img src="media/uploads/dashboard-1.png" alt="user" class="img">
            <div class="text">
              <span class="name">Константин Константиновский</span>
              <span class="location">Вологда</span>
              <span class="mail">youremail@gmail.com</span>
            </div>
          </div>
          <div class="user-ctrls">
            <ul class="list">
              <li class="item">
                <a href="#?" class="link link_make">Я создал<span class="number">85</span></a>
              </li>
              <li class="item">
                <a href="#?" class="link link_like">Мне нравится<span class="number">2</span></a>
              </li>
              <li class="item"><a href="#?" class="link link_settings active">Настройки</a></li>
              <li class="item"><a href="#?" class="link link_exit">Выход</a></li>
            </ul>
          </div>
        </div>
      </div><!-- class="header__dashboard" -->
      <div class="header__title">
        <div class="constrain">
          <div class="title">Настройки профиля</div>
        </div>
      </div><!-- class="header__title" -->
    </header><!-- class="header" -->
    <section class="container">
      <div class="constrain">
        <div class="dashboard-change clearfix">
          <div class="picture">
            <img src="media/uploads/dashboard-2.png" alt="" class="img">
            <img src="media/uploads/dashboard-3.png" alt="" class="img">
          </div>
          <div class="btns btns_picture">
            <a href="#?" class="btn btn_color_green">Сменить автар</a>
            <a href="#?" class="btn btn_color_blue">Аватар из вконтакте</a>
          </div>
          <div class="btns btns_ctrls">
            <a href="#?" class="btn btn_color_yel">Получать новости</a>
            <a href="#?" class="btn btn_color_white">Удалить аккаунт</a>
          </div>
        </div><!-- class="dashboard-change" -->
        <div class="form form_dashboard">
          <div class="form__field">
            <label>Ваш email:</label>
            <input type="text">
          </div>
          <div class="form__field">
            <label>Ваше имя:</label>
            <input type="text">
          </div>
          <div class="form__field">
            <label>Ваш ник:</label>
            <input type="text">
          </div>
          <div class="form__field">
            <label>Местоположение:</label>
            <input type="text" placeholder="Например: Вологда">
          </div>
          <div class="form__field">
            <label>Ваш телефон:</label>
            <input type="text">
          </div>
          <div class="form__field">
            <label>Ваш сайт:</label>
            <input type="text" placeholder="Например: https://vk.com/ivan">
          </div>
          <div class="form__field">
            <label>О себе:</label>
            <textarea placeholder="Напишите немного о себе"></textarea>
          </div>
        </div>
      </div><!-- class="form form_dashboard" -->
    </section><!-- class="container" -->
    <footer class="footer">
      <div class="logo"><img src="media/images/logo-footer.png" alt="ЯсенПуть" class="img"></div>
      <div class="constrain">
        <nav class="nav">
          <ul class="nav_list">
            <li class="nav__item"><a href="#?" class="nav__link">О проекте</a></li>
            <li class="nav__item"><a href="#?" class="nav__link">Контакты</a></li>
            <li class="nav__item"><a href="#?" class="nav__link">Соглашение</a></li>
          </ul>
        </nav>
        <a href="#?" class="link-up js-up">Вверх</a>
      </div>
    </footer><!-- class="footer" -->
  </div><!-- class="page" -->
  <script type="text/javascript" src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="media/js/libs/jquery-1.9.1.js"><\/script>')</script>
  <script type="text/javascript" src="media/js/plugins.js"></script>
  <script type="text/javascript" src="media/js/script.js"></script>
</body>
</html>
