@media screen and (max-width: 10000px) {
  .constrain {
    max-width: 2220px;
  }
}
@media screen and (max-width: 2300px) {
  .constrain {
    max-width: 1970px;
  }
}
@media screen and (max-width: 2025px) {
  .constrain {
    max-width: 1725px;
  }
}
@media screen and (max-width: 1780px) {
  .constrain {
    max-width: 1475px;
  }
}
@media screen and (max-width: 1535px) {
  .constrain {
    max-width: 1225px;
  }
}
@media screen and (max-width: 1290px) {
  .constrain {
    max-width: 980px;
  }
}
@media screen and (max-width: 980px) {
  .constrain {
    max-width: 980px;
  }
}
