body {
  font: 12px 'Open Sans', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  background: #fff;
  color: #666666;
}
::selection {
  background: #0784ad;
  color: #fff;
}
::-moz-selection {
  background: #0784ad;
  color: #fff;
}
a {
  color: #1b66ff;
}
/*Blocks*/
/*$page*/
.page {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  *zoom: 1;
}
.page:before,
.page:after {
  display: table;
  content: "";
}
.page:after {
  clear: both;
}
/*$constrain*/
.constrain {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 980px;
}
/*$container*/
.container {
  position: relative;
  margin: 0 auto 140px;
  height: 1%;
}
.container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*$footer*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
/*$header*/
.header {
  position: relative;
  margin: 0 auto;
  height: 100px;
}
.header__ctrls {
  border-bottom: 1px solid #d9d9d9;
  padding: 14px;
  height: 35px;
}
.header__ctrls .logo {
  position: absolute;
  top: -2px;
  left: 50%;
  display: block;
  margin-left: -57.5px;
  width: 115px;
  height: 41px;
}
.header__search {
  float: left;
}
.header__btns {
  float: right;
}
.header__btns .btn_action_add {
  margin-right: 10px;
}
.header__user {
  position: relative;
  display: inline-block;
}
.header__user .link-user {
  display: inline-block;
  max-width: 160px;
  text-decoration: none;
  line-height: 16px;
  color: #787777;
}
.header__user .photo {
  float: left;
  margin-right: 8px;
  border-radius: 2px;
}
.header__user .btn {
  width: 6px;
}
.header__user .btn:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 8px;
  display: block;
  border: 7px solid transparent;
  border-top-color: #fff;
}
.header__user .btn.open:after {
  top: 5px;
  border-top-color: transparent;
  border-bottom-color: #fff;
}
.profile-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  border-radius: 3px;
  width: 150px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
}
.profile-menu .link {
  position: relative;
  display: block;
  padding: 10px 15px 11px 43px;
  font-size: 13px;
  text-decoration: none;
  color: #53b6d8;
}
.profile-menu .link:hover {
  background-color: #53b6d8;
  color: #FFF;
}
.profile-menu .icon {
  position: absolute;
  top: 10px;
  left: 12px;
}
.profile-menu .icon.sprite-heart {
  top: 13px;
}
.profile-menu .icon.sprite-power {
  top: 8px;
}
/*$select2*/
.select2-results .type {
  position: relative;
  display: block;
}
.select2-results .type:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  border-radius: 4px;
  width: 8px;
  height: 8px;
}
.select2-results .type_g:after {
  background-color: #26b89a;
}
.select2-results .type_y:after {
  background-color: #f8aa33;
}
.select2-results .type_b:after {
  background-color: #15a6cc;
}
.select2-results .type_br:after {
  background-color: #ca7953;
}
.select2-results .select2-highlighted .type_g {
  color: #26b89a;
}
.select2-results .select2-highlighted .type_y {
  color: #f8aa33;
}
.select2-results .select2-highlighted .type_b {
  color: #15a6cc;
}
.select2-results .select2-highlighted .type_br {
  color: #ca7953;
}
