/* glue: 0.3 hash: a1dab1e0e1 */
.sprite-prev,
.sprite-next,
.sprite-photo-add,
.sprite-reload,
.sprite-reload-active,
.sprite-place,
.sprite-place-active,
.sprite-like,
.sprite-like-active,
.sprite-close,
.sprite-fb,
.sprite-checkbox,
.sprite-checkbox-checked,
.sprite-place-user,
.sprite-place-user-active,
.sprite-tw,
.sprite-like-user,
.sprite-like-user-active,
.sprite-upload,
.sprite-upload-active,
.sprite-settings,
.sprite-settings-hover,
.sprite-power,
.sprite-power-hover,
.sprite-heart,
.sprite-heart-hover,
.sprite-bag,
.sprite-bag-hover,
.sprite-vk,
.sprite-up,
.sprite-close-popupwin,
.sprite-point,
.sprite-add,
.sprite-type-check,
.sprite-type-check-hover,
.sprite-like-small,
.sprite-comment-small,
.sprite-tile {
background: url(../images/sprite.png) no-repeat;
  display: inline-block;
}

.sprite-prev{background-position:-2px -2px;width:46px;height:46px;}
.sprite-next{background-position:-52px -2px;width:46px;height:46px;}
.sprite-photo-add{background-position:-2px -52px;width:40px;height:27px;}
.sprite-reload:hover{background-position:-102px -2px;width:33px;height:33px;}
.sprite-reload{background-position:-102px -39px;width:33px;height:33px;}
.sprite-reload-active{background-position:-2px -83px;width:33px;height:33px;}
.sprite-place:hover{background-position:-39px -83px;width:33px;height:33px;}
.sprite-place{background-position:-76px -83px;width:33px;height:33px;}
.sprite-place-active{background-position:-139px -2px;width:33px;height:33px;}
.sprite-like:hover{background-position:-139px -39px;width:33px;height:33px;}
.sprite-like{background-position:-139px -76px;width:33px;height:33px;}
.sprite-like-active{background-position:-2px -120px;width:33px;height:33px;}
.sprite-close{background-position:-39px -120px;width:32px;height:32px;}
.sprite-fb{background-position:-46px -52px;width:14px;height:27px;}
.sprite-checkbox{background-position:-64px -52px;width:27px;height:27px;}
.sprite-checkbox-checked{background-position:-75px -120px;width:27px;height:27px;}
.sprite-place-user{background-position:-113px -83px;width:18px;height:24px;}
.sprite-place-user-active{background-position:-106px -120px;width:18px;height:24px;}
.sprite-tw{background-position:-128px -120px;width:22px;height:18px;}
.sprite-like-user{background-position:-176px -2px;width:22px;height:18px;}
.sprite-like-user-active{background-position:-176px -24px;width:22px;height:18px;}
.sprite-upload{background-position:-176px -46px;width:21px;height:19px;}
.sprite-upload-active{background-position:-176px -69px;width:21px;height:19px;}
.sprite-settings{background-position:-176px -92px;width:20px;height:20px;}
.sprite-settings-hover{background-position:-176px -116px;width:20px;height:20px;}
.sprite-power{background-position:-2px -157px;width:17px;height:20px;}
.sprite-power-hover{background-position:-23px -157px;width:17px;height:20px;}
.sprite-heart{background-position:-44px -157px;width:20px;height:16px;}
.sprite-heart-hover{background-position:-68px -157px;width:20px;height:16px;}
.sprite-bag{background-position:-202px -2px;width:20px;height:19px;}
.sprite-bag-hover{background-position:-202px -25px;width:20px;height:19px;}
.sprite-vk{background-position:-202px -48px;width:14px;height:19px;}
.sprite-up{background-position:-202px -71px;width:15px;height:18px;}
.sprite-close-popupwin{background-position:-202px -93px;width:18px;height:18px;}
.sprite-point{background-position:-202px -115px;width:11px;height:17px;}
.sprite-add{background-position:-202px -136px;width:16px;height:16px;}
.sprite-type-check{background-position:-202px -156px;width:15px;height:10px;}
.sprite-type-check-hover{background-position:-176px -140px;width:15px;height:10px;}
.sprite-like-small{background-position:-154px -120px;width:15px;height:12px;}
.sprite-comment-small{background-position:-92px -157px;width:15px;height:14px;}
.sprite-tile{background-position:-202px -170px;width:10px;height:6px;}
