/* glue: 0.3 hash: 9aeff9d633 */
.sprite-filter2-up-active,
.sprite-filter2-theatre-small,
.sprite-filter2-tag-small,
.sprite-filter2-ski-small,
.sprite-filter2-place-small,
.sprite-filter2-photo-small,
.sprite-filter2-music-small,
.sprite-filter2-gun-small,
.sprite-filter2-food-small,
.sprite-filter2-fish-small,
.sprite-filter2-drink-small {
background: url(../images/sprite-filter2.png) no-repeat;
  display: inline-block;
}

.sprite-filter2-up-active{background-position:-2px -2px;width:42px;height:43px;}
.sprite-filter2-theatre-small{background-position:-48px -2px;width:30px;height:30px;}
.sprite-filter2-tag-small{background-position:-82px -2px;width:30px;height:30px;}
.sprite-filter2-ski-small{background-position:-2px -49px;width:30px;height:30px;}
.sprite-filter2-place-small{background-position:-36px -49px;width:30px;height:30px;}
.sprite-filter2-photo-small{background-position:-70px -49px;width:30px;height:30px;}
.sprite-filter2-music-small{background-position:-116px -2px;width:30px;height:30px;}
.sprite-filter2-gun-small{background-position:-116px -36px;width:30px;height:30px;}
.sprite-filter2-food-small{background-position:-2px -83px;width:30px;height:30px;}
.sprite-filter2-fish-small{background-position:-36px -83px;width:30px;height:30px;}
.sprite-filter2-drink-small{background-position:-70px -83px;width:30px;height:30px;}
