@import 'sprite.css';

@font-face {
    font-family: SquareSansPro;
    src: url('fonts/PF_Square_Sans_Pro/pfsquaresanspro-light.eot');
    src: url('fonts/PF_Square_Sans_Pro/pfsquaresanspro-light.eot') format('embedded-opentype'),
         url('fonts/PF_Square_Sans_Pro/pfsquaresanspro-light.woff') format('woff'),
         url('fonts/PF_Square_Sans_Pro/pfsquaresanspro-light.ttf') format('truetype'),
         url('fonts/PF_Square_Sans_Pro/pfsquaresanspro-light.svg#PFSquareSansProLight') format('svg');
}

@font-face {
    font-family: DinCondensedPro;
    src: url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-regular.eot');
    src: url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-regular.eot') format('embedded-opentype'),
         url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-regular.woff') format('woff'),
         url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-regular.ttf') format('truetype'),
         url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-regular.svg#PFDinTextCondProRegular') format('svg');
}
@font-face {
    font-family: DinCondensedProItalic;
    src: url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-italic.eot');
    src: url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-italic.eot') format('embedded-opentype'),
         url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-italic.woff') format('woff'),
         url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-italic.ttf') format('truetype'),
         url('fonts/Din_Text_Condensed_Pro/pfdintextcondpro-italic.svg#PFDinTextCondProItalic') format('svg');
}

body {
  font: 12px 'Open Sans', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  background: #fff;
  color: #666666;
}
::selection {
  background: #0784ad;
  color: #fff;
}
::-moz-selection {
  background: #0784ad;
  color: #fff;
}
a {
  color: #1b66ff;
}
/*Blocks*/
/*$page*/
.page {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  min-width: 1024px;
  *zoom: 1;
  background: url(../images/pattern-content.png) repeat 0 0;
}
.page:before,
.page:after {
  display: table;
  content: "";
}
.page:after {
  clear: both;
}
/*$constrain*/
.constrain {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}
/*$container*/
.container {
  position: relative;
  margin: 0 auto 55px;
  height: 1%;
}
.container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*$footer*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 12px;
  width: 100%;
  height: 35px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: url(../images/footer-line.png) repeat-x 0 0;
  }
  .logo {
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    background: url(../images/pattern-content.png) repeat 0 0;

    .img {
      display: block;
      margin: 0 auto;
    }
  }
  .constrain {
    height: 20px;
  }
  .link-up {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: -1;
    opacity: 0;
    display: block;
    border-radius: 3px 3px 0 0;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 55px;
    height: 15px;
    background: url(../images/link-up-bg.png) repeat 0 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    color: #FFF;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;

    &:after {
      content: '';
      .sprite-up;
      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -7.5px;
    }
    &.visible {
      z-index: 100;
      opacity: 1;
    }
  }
}
.nav__item {
  display: inline-block;
  margin-right: 30px;
}
.nav__link {
  font-size: 15px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  color: #adadad;
}
/*$header*/
.header {
  position: relative;
  margin: 0 auto;
  padding-top: 64px;
  height: 252px;
}
.header_small {
  height: 160px;
}
.header__ctrls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  height: 63px;
  background: #FFF;

  .constrain {
    padding: 14px 20px;
  }
}
.header__ctrls .logo {
  position: absolute;
  top: 12px;
  left: 50%;
  display: block;
  margin-left: -57.5px;
  width: 115px;
  height: 41px;
}
.header__search {
  float: left;
}
.header__btns {
  float: right;
}
.header__btns .btn_action_add {
  margin-right: 10px;
}
.header__user {
  position: relative;
  display: inline-block;
}
.header__user .link-user {
  display: inline-block;
  max-width: 160px;
  text-decoration: none;
  line-height: 16px;
  color: #787777;
}
.header__user .photo {
  float: left;
  margin-right: 8px;
  border-radius: 2px;
}
.header__user .btn {
  width: 6px;
}
.header__user .btn:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 8px;
  display: block;
  border: 7px solid transparent;
  border-top-color: #fff;
}
.header__user .btn.open:after {
  top: 5px;
  border-top-color: transparent;
  border-bottom-color: #fff;
}

.profile-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;
  border-radius: 3px;
  width: 150px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background-color: #FFF;

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    right: 10px;
    .sprite-tile;
  }

  .link {
    position: relative;
    display: block;
    padding: 10px 15px 11px 43px;
    font-size: 13px;
    text-decoration: none;
    color: #53b6d8;

    &:hover {
      background-color: #53b6d8;
      color: #FFF;
    }
    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
.profile-menu .icon {
  position: absolute;
  top: 10px;
  left: 12px;
}
.profile-menu .icon.sprite-heart {
  top: 13px;
}
.profile-menu .icon.sprite-power {
  top: 8px;
}
.profile-menu .link:hover {

  .sprite-bag {
    .sprite-bag-hover;
  }

  .sprite-heart {
    .sprite-heart-hover;
  }

  .sprite-settings {
    .sprite-settings-hover;
  }

  .sprite-power {
    .sprite-power-hover;
  }
}

.header__destination {
  padding-top: 25px;
  height: 160px;
  background: url(../images/pattern-overlay.png) repeat 0 0;
}
.header__destination .slogan {
  margin-bottom: 25px;
  text-align: center;
  font-family: SquareSansPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 36px;
  color: #15a6cc;
}
.header__destination .query {
  margin: 0 auto 6px;
  width: 650px;
}
.header__destination .query_from-to{
  width: 710px;
}
.header__destination .query__destination {
  display: inline-block;
}
.header__destination .query__item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 250px;
}
.header__destination .query input[type="text"] {
  margin-right: 25px;
  border-radius: 4px;
  border: 2px solid #26b89a;
  padding: 10px 15px 12px;
  width: 440px;
  height: 20px;
  background: transparent;
  line-height: 20px;
  font-size: 16px;
  color: #7f7f7f;

  &:focus {
    box-shadow: 0px 0px 5px rgba(38, 184, 154, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(38, 184, 154, 0.5);
  }
}
.header__destination .query .btn {
  position: relative;
  padding-right: 25px;
  padding-left: 45px;
  height: 46px;
  font-size: 18px;

  &:after {
    content: '';
    .sprite-point;
    position: absolute;
    top: 15px;
    left: 20px;
  }
}
.header__filter {
  border-bottom: 1px solid #c8cccf;
  padding-top: 10px;
  height: 55px;
  background-color: #FFF;

  .categories {
    float: left;
    margin-right: 45px;
  }
  .filter-sort {
    float: left;
  }
  .filter-type {
    float: right;
    width: 180px;
  }
}

.breadcrumbs {
  padding: 0 15px;
  width: 620px;
  margin: 0 auto;

  .link {
    color: #53b6d8;
  }
}

.categories__item {
  display: inline-block;
  margin-right: 13px;
  width: 43px;
  word-wrap: break-word;
  vertical-align: top;
  letter-spacing: -0.4px;
  line-height: 12px;
  font-size: 12px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  color: #848484;

  &:last-child {
    margin-right: 0;
  }
}

.filter-type {
  position: relative;

  .btn {
    padding: 13px 58px 14px 18px;
    font-size: 15px;

    &.open {
      background-color: #dbdddf;
      color: #FFF;
    }
    &:after {
      content: '';
      position: absolute;
      top: 19px;
      right: 18px;
      display: block;
      border: 7px solid transparent;
      border-top-color: #929191;
    }
    &.open:after {
      top: 12px;
      border-top-color: transparent;
      border-bottom-color: #fff;
    }
  }
}
.filter-type__list {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  z-index: 110;
  overflow: hidden;
  border-radius: 4px;
  background-color: #efeded;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.filter-type__item {
  border-bottom: 1px solid #FFF;
}
.filter-type__link {
  position: relative;
  display: block;
  border-bottom: 1px solid #dbdddf;
  padding: 8px 35px 8px 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;

  &:after {
    content: '';
    position: absolute;
    top: 14px;
    right: 18px;
    .sprite-type-check;
    display: none;
  }
  &:hover {
    background-color: #dbdddf;

    &:after {
      content: '';
      .sprite-type-check-hover;
      display: none;
    }
  }
  &.active {

    &:after {
      display: block;
    }
  }
}
.filter-type__item_checkbox {
  text-align: right;
  padding: 5px 12px;

  .checkbox-label {
    margin-left: 6px;
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;
  }
  .checkbox-bg {
    .sprite-checkbox;
  }
  input[type="checkbox"]:checked + .checkbox-bg {
    .sprite-checkbox-checked;
  }
}

.header__dashboard {
  border-bottom: 1px solid #DDDFE2;
  padding: 15px 0;
  height: 62px;
  background: url(../images/pattern-content-grey.png) repeat 0 0;

  .user-info {
    float: left;
  }
  .user-ctrls {
    float: right;
  }
}

.user-info {

  .img {
    float: left;
    border-radius: 3px;
    width: 62px;
    height: 62px;
  }
  .text {
    margin-left: 70px;
  }
  .name {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 15px;
    color: #4A4A4A;
  }
  .location,
  .mail {
    position: relative;
    display: block;
    padding-left: 20px;
    line-height: 12px;
    font-size: 12px;
  }
  .location {
    margin-bottom: 10px;
    color: #545455;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1px;
      .sprite-place-very-small;
    }
  }
  .mail {
    color: #757575;

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      .sprite-mail;
    }
  }
}

.user-ctrls {

  .item {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
  }
  .link {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    padding-top: 42px;
    width: 80px;
    height: 20px;
    background: url(../images/pattern-user-ctrls.png) repeat 0 0;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.5px;
    line-height: 14px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    color: #53B6D8;

    &:hover,
    &.active {
      background-image: url(../images/pattern-user-ctrls-active.png);
      color: #FFF;
    }
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 50%;
    }
  }
  .link_make {

    &:after {
      margin-left: -14px;
      .sprite-bag-big;
    }
    &:hover,
    &.active {

      &:after {
        .sprite-bag-big-active;
      }
    }
  }
  .link_like {

    &:after {
      margin-left: -15px;
      .sprite-heart-big;
    }
    &:hover,
    &.active {

      &:after {
        .sprite-heart-big-active;
      }
    }
  }
  .link_settings {

    &:after {
      top: 8px;
      margin-left: -15px;
      .sprite-settings-big;
    }
    &:hover,
    &.active {

      &:after {
        .sprite-settings-big-active;
      }
    }
  }
  .link_exit {

    &:after {
      margin-left: -13px;
      .sprite-power-big;
    }
    &:hover,
    &.active {

      &:after {
        .sprite-power-big-active;
      }
    }
  }
  .number {
    position: absolute;
    top: -11px;
    right: -11px;
    display: block;
    border-radius: 11px;
    padding: 4px 0;
    width: 22px;
    height: 14px;
    background-color: #EA5854;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 14px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    color: #FFF;
  }
}

.header__title {
  padding: 18px 0 22px;
  height: 26px;
  border-bottom: 1px solid #CACED0;
  background: #FFF;

  .title {
    letter-spacing: -0.7px;
    line-height: 26px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 26px;
    color: #15A6CC;
  }
}

/*$blocks*/
/*$content*/
.content {
  margin-right: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*$box*/
.box {
  position: relative;
  margin-bottom: 15px;
  margin-right: 16px;
  border-radius: 4px;
  padding-top: 32px;
  width: 232px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
          box-shadow: 0 2px 1px rgba(0, 0, 0, .1);

  .btn-delete {
    position: absolute;
    z-index: 20;
    top: 5px;
    right: 5px;
    display: none;
  }

  &:hover {

    .btns {
      display: block;
    }
  }
  &.added {

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 15;
      display: block;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 20;
      margin-left: -15px;
      margin-top: -22px;
      .sprite-added;
    }
    .icons,
    .btns {
      display: none !important;
    }
    .img {
      opacity: 1 !important;
    }
    .btn-delete {
      display: block !important;
    }
  }
}
.box__title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 4px 4px 0 0;
  padding: 8px 0 12px;
  width: 100%;
  height: 18px;
  background: url(../images/box-title-bg.png) repeat-x -5px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 16px;
}
.box__title_type_trip {
  color: #15a6cc;
}
.box__title_type_place {
  color: #26b89a;
}
.box__title_type_route {
  color: #ca7953;
}
.box__title_type_event {
  color: #f8aa33;
}
.box__img {
  position: relative;
  width: 232px;

  > a {
    text-decoration: none;
  }
  .img {
    max-width: 100%;
  }
  .icons {
    display: none;
    position: absolute;
    right: 0;
    bottom: 12px;
    height: 33px;
    text-align: right;
  }
  .icon {
    position: relative;
    margin-right: 10px;
  }
  .btns {
    display: none;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;

    .btn_color_blue {
      font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
      font-size: 16px;
      color: #EAEAEA;
    }
  }
  &:hover {

    .img {
      opacity: 0.7;
    }
    .icons {
      display: block;
    }
  }
}
.box__description {
  padding: 8px 12px 12px;

  > a {
    text-decoration: none;
  }
  .name {
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 13px;
    color: #262626;
  }
  .info {
    position: relative;
    display: inline-block;
    margin-right: 11px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 12px;
    color: #c7c7c7;
  }
  .info_like {

    &:after {
      content: '';
      .sprite-like-small;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
  .info_comment {

    &:after {
      content: '';
      .sprite-comment-small;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
}
.box__person {
  padding: 10px 12px 12px;
  border-top: 1px solid #d4d4d4;

  > a {
    text-decoration: none;
  }
  .img {
    float: left;
    border-radius: 3px;
  }
  .text {
    margin-top: 4px;
    margin-left: 45px;
    line-height: 16px;
    font-size: 11px;
    font-weight: bold;
    color: #c7c7c7;
  }
  .name {
    color: #767676;
  }
}
.box_dashboard {

  .btns {
    bottom: 5px;
    text-align: center;
  }
  .btn {
    margin-bottom: 12px;
    padding-top: 7px;
    padding-bottom: 9px;
    width: 150px;
    letter-spacing: -0.5px;
    line-height: 17px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 17px;
  }
}

/*$map*/
.map {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #CACCCD;
  height: 80px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    height: 14px;
    display: block;
  }
  &:before {
    top: 0;
    background: url(../images/map-top-bg.png) repeat-x 0 0;
  }
  &:after {
    bottom: 0;
    background: url(../images/map-bottom-bg.png) repeat-x 0 0;
  }
  &.map_fixed {
    position: fixed !important;
    top: 64px !important;
  }
  &.open {
    .map-counter {
      display: none;
    }
    .map__close {
      display: block;
    }
    .map__where {
      display: block;
    }
    .baloon {
      display: block;
    }
    .map__route {
      display: block;
    }
    .map__ctrls {
      position: absolute;
      top: -55px;
      right: 240px;
    }
  }

  .ui-resizable-handle {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    display: block;
    border-radius: 4px 4px 0 0;
    margin-left: -87px;
    width: 174px;
    height: 14px;
    background-color: #26B89A;
    cursor: move;
  }
}
.map_popupwin {
  position: relative;
  border-bottom-color: #a7b5b2;

  &:after,
  &:before {
    background-image: none;
    background-color: #d9dbdc;
  }
}
.map_route {
  height: 150px;
}
.map__close {
  display: none;
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;
}
.map__container {
  height: 100%;
  overflow: hidden;
}
.map__ctrls-wrap {
  position: relative;
}
.map__ctrls {
  position: absolute;
  z-index: 20;
  top: -55px;
  right: 40px;

  &.fixed {
    position: fixed !important;
    top: 90px !important;
    right: 40px !important;

    .map-counter {
      display: inline-block;
    }
  }
  .btn {
    height: 30px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  }
}
.map-counter {
  display: inline-block;
}
.map-counter__item {
  display: inline-block;
  margin-left: 8px;
}
.map-counter__link {
  display: inline-block;
  border-radius: 15px;
  padding: 7px;
  height: 16px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  line-height: 15px;
  font-size: 15px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  color: #FFF;
}
.map-counter__link_type_place {
  background-color: #26b89a;
}
.map-counter__link_type_trip {
  background-color: #15A6CC;
}
.map-counter__link_type_route {
  background-color: #CA7953;
}
.map-counter__link_type_event {
  background-color: #F8AA33;
}
.map__where {
  display: none;
  position: absolute;
  top: -55px;
  left: 20px;

  .btn {
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 15px;

    .text {
      border-bottom: 1px dashed #fff;
    }
    &:hover {
      .text {
        border-bottom-color: transparent;
      }
    }
  }
  .select-wrap {
    display: none;
    border-radius: 4px;
    border: 1px solid #26b89a;
    background-color: #FFF;
    font-size: 0;

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
.map__route {
  display: none;
  position: absolute;
  top: 0;
  max-height: 100%;
  height: 100%;
  z-index: 5;
  right: 0;
  -ms-overflow-y: auto;
      overflow-y: auto;

/*  &.fullHeight {
    height: 100%;
  }*/
  .list {

    .item {

      &:nth-child(2) {
        padding-top: 16px;

        .number {
          top: 10px;
        }
      }
      &:last-child {
        padding-bottom: 16px;
      }
    }
  }
}
.map__add-place {
  position: absolute;
  z-index: 100;
  top: 50px;
  left: 50px;
  width: 230px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background-color: #FFF;

  .title {
    position: relative;
    padding: 5px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 15px;
    background: #2FBA9D;
    line-height: 15px;
    font-size: 16px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-weight: normal;
    color: #FFF;

    &:after {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      display: block;
      margin-left: -5px;
      border: 10px solid transparent;
      border-bottom-color: #2FBA9D;
    }
  }
  .form {
    padding: 10px 15px;
  }
  .form__field {
    margin-bottom: 10px;
  }
  .btn {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 16px;
  }
}
.map-aside {
  border: 5px solid #dcdde1;
  border-radius: 3px;
  height: 210px;
}
/*$place*/
.place-info {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 14px;
  background: url(../images/pattern-content-light.png) repeat 0 0;

  .user {
    display: block;
    float: left;
    letter-spacing: -0.3px;
    text-decoration: none;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    color: #969696;

    .img {
      display: block;
      float: left;
      margin-right: 5px;
    }
    .name {
      line-height: 17px;
      font-size: 15px;
      color: #6F6F6F;
    }
    .type {
      letter-spacing: -0.5px;
      line-height: 15px;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  .actions {
    float: right;

    .item {
      position: relative;
      display: inline-block;
      margin-left: 8px;
      vertical-align: top;
    }
    .date {
      display: inline-block;
      border: 1px solid #f8aa33;
      border-radius: 3px;
      padding: 3px 5px 4px;
      line-height: 22px;
      font-size: 22px;
      font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    }
    .soc-wrap {
      display: none;
      position: absolute;
      z-index: 50;
      top: 38px;
      left: 50%;
      margin-left: -62px;
      border-radius: 3px;
      padding: 10px;
      background: #FFF;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

      &:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        margin-left: -5px;
        .sprite-tile;
      }
    }
    .btn-upload.active + .soc-wrap {
      display: block;
    }
    .soc-list__item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .btn_color_blue {
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 14px;
  }
}
.description__title {
  margin-bottom: 12px;
  line-height: 24px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 22px;
  color: #3B3B3B;
}
.description__text {
  margin-bottom: 20px;
  line-height: 18px;
  font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 12px;
  color: #535353;
}
.description__address {
  font-family: DinCondensedProItalic, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 15px;
  color: #6E6E6E;
}
.description__places {
  margin-bottom: 3px;

  .title {
    margin-bottom: 10px;
    padding: 0;
    background: none;
    letter-spacing: -0.8px;
    font: normal 22px DinCondensedProItalic, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    line-height: 22px;
    color: #6E6E6E;
  }
  .item {
    margin-bottom: 5px;
  }
  .link {
    letter-spacing: -0.6px;
    font-style: italic;
    font-family: normal 15px DinCondensedProItalic, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    line-height: 15px;
  }
}

.place-step_name,
.event-step_name {

  .form {
    float: left;
    width: 245px;
  }
}
.place-step_what,
.event-step_what {
  display: none;

  .popupwin__content {
    width: 530px;
  }
  .popupwin__container {
    padding: 20px;
  }
  .categories__item {
    margin-bottom: 20px;
    margin-right: 6px;
    width: 60px;
    overflow: hidden;
    text-align: center;
  }
  .map {
    border-bottom: none;
    margin: 0 -20px;
    height: 250px;
  }
}
.place-step_what {

  .field {

    .tag {
      margin-left: 5px;
    }
  }
}
.event-step_name {
  display: block;
}
.event-step_what {
  display: none;
}
.event-step_name,
.event-step_what {

  .already-added {
    width: 220px;
  }
}
.event-step_what {

  .already-added {
    top: 40px;
  }

  .already-added-photos {
    padding: 15px;
  }
}
/*$trip*/
.trip-step_wide {
  margin: 0 auto;
  width: 900px;

  .trip-step__container {
    margin-left: 0;
    margin-right: 0;
  }
  .trip-step__aside {
    display: block;
  }
  .trip-list {

    .list {
      max-height: 200px;
      overflow: hidden;
    }
  }
}
.trip-step__container {
  margin: 0 auto;
}
.trip-step__aside {
  position: relative;
  display: none;
  float: right;
  width: 220px;
}
.trip-add-place {
  position: relative;
  margin: 0 auto;
  width: 940px;

  .route-step__aside {
    float: right;
    width: 220px;
  }
  .popupwin__content_route_place {
    width: 700px;
  }
}
.trip-list {
  position: relative;
  border-radius: 3px;
  width: 220px;
  background: url(../images/pattern-content-light.png) repeat 0 0;

  &:hover {

    .delete-item {
      display: block;
    }
  }
  .title {
    border-bottom: 1px solid #e2e3e3;
    background: url(../images/pattern-content-light.png) repeat 0 0;
  }
  .list {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .item {
    position: relative;
    border-bottom: 1px solid #e2e3e3;
    padding: 10px 8px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      background-color: #FFF;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;

      &:after {
        display: none;
      }
    }
  }
  .number {
    display: block;
    float: left;
    margin: 0 10px 4px 0;
    border-radius: 10px;
    padding: 2px 0 3px;
    width: 20px;
    height: 15px;
    background-color: #616161;
    text-align: center;
    line-height: 15px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 15px;
    color: #FFF;
  }
  .text {
    margin-top: 2px;
    padding-right: 28px;
    height: 17px;
    overflow: hidden;
    word-break: break-all;
    line-height: 17px;
  }
  .text__place {
    text-decoration: none;
    color: #666;
  }
  .drag {
    position: absolute;
    top: 15px;
    right: 20px;
    .sprite-drag;
    display: none;
  }
  .delete-item {
    position: absolute;
    top: 10px;
    right: 4px;
    .sprite-close-route;
    display: none;
  }
}
.trip-list_draggable {

  .item {

    &:hover {
      background-color: #E5E5E5;

      .number {
        background-color: #FFF;
        color: #616162;
      }
      .drag {
        display: block;
      }
    }
  }
}
.trip-ctrls {
  border-radius: 3px;
  padding: 10px 20px;
  background-color: #F3F3F3;

  .btn {
    display: block;
    text-align: center;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 16px;
  }
}

.title-trip {
  padding: 18px 25px;
  background-color: #FFF;
  letter-spacing: -0.6px;
  line-height: 27px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 22px;
}
/*$comments*/
.comments {

  .photo {
    display: block;
    float: left;
  }
  .photo__img {
    border-radius: 2px;
  }
  .text {
    margin-left: 50px;
  }
  .text__info {
    margin-bottom: 3px;

     .name {
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        color: #5A5A5A;
     }
     .time {
        font-size: 11px;
        color: #959595;
     }
  }
  .text__comment {
    line-height: 15px;
    font-size: 12px;
    color: #393939;
  }

  .btn {
    margin-top: 10px;
    height: 34px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 14px;
  }
}
.comments__item {
  margin-bottom: 20px;
}

/*$peoples*/
.peoples__item {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 38px;
  vertical-align: top;
  text-align: center;
}
.peoples__link_all {
  display: inline-block;
  margin-bottom: 8px;
  border-bottom: 1px dashed #898989;
  padding-top: 8px;
  line-height: 16px;
  font-size: 16px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  text-decoration: none;
  color: #898989;

  &:hover {
    border-bottom-color: transparent;
  }
}
.peoples__img {
  border-radius: 3px;
}

/*$baloon*/
.baloon {
  display: none;
  position: absolute;
  z-index: 50;
  top: 100px;
  left: 50%;
  border-radius: 3px;
  width: 270px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background-color: #FFF;
}
.baloon__head {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 38px 8px 8px;

  .title {
    position: relative;
    display: block;
    padding: 3px 0 3px 35px;
    min-height: 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;


    .icon {
      position: absolute;
      top: -3px;
      left: 0;
    }

    &.title_tag {
      color: #967ADC;

      .icon {
        .sprite-filter2-tag-small;
      }
    }
    &.title_fish {
      color: #53B6D8;

      .icon {
        .sprite-filter2-fish-small;
      }
    }
    &.title_food {
      color: #F8AA33;

      .icon {
        .sprite-filter2-food-small;
      }
    }
    &.title_gun {
      color: #A85D3A;

      .icon {
        .sprite-filter2-gun-small;
      }
    }
    &.title_music {
      color: #5196D9;

      .icon {
        .sprite-filter2-music-small;
      }
    }
    &.title_photo {
      color: #ea5854;

      .icon {
        .sprite-filter2-photo-small;
      }
    }
    &.title_place {
      color: #26B89A;

      .icon {
        .sprite-filter2-place-small;
      }
    }
    &.title_theatre {
      color: #1EA2A4;

      .icon {
        .sprite-filter2-theatre-small;
      }
    }
    &.title_drink {
      color: #EC87C0;

      .icon {
        .sprite-filter2-drink-small;
      }
    }
    &.title_ski {
      color: #CF7171;

      .icon {
        .sprite-filter2-ski-small;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-bottom: 1px solid #fff;
    border-top-right-radius: 3px;
    height: 100%;
    width: 38px;
    background-color: #EFEFEF;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -7px;
      margin-left: -7px;
      .sprite-close-baloon;
    }
  }
}
.baloon__body {
  position: relative;
  padding: 8px 38px 8px 8px;

  .text {
    line-height: 14px;
    color: #666567;
  }
  .img {
    float: left;
    margin-right: 5px;
    border-radius: 3px;
  }
  .type {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-right-radius: 3px;
    width: 38px;
    height: 100%;
    background-color: #EFEFEF;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -9px;
  }
}

/*$stuff-add*/
.stuff-add {

  .icon {
    position: absolute;
    top: 0;
    left: 50%;
  }
  .icon_place {
    .sprite-place-big;
    margin-left: -33px;
  }
  .icon_event {
    .sprite-calendar;
    margin-left: -32.5px;
  }
  .icon_route {
    .sprite-route;
    margin-left: -40px;
  }
  .icon_trip {
    .sprite-trip;
    margin-left: -40px;
  }
  .btn {
    margin-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
    width: 124px;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 13px;
  }
  .text {
    letter-spacing: -0.5px;
    color: #A1A1A1;
  }
}
.stuff-add__item {
  display: inline-block;
  border-right: 1px solid #eaeaea;
  padding: 28px 14px 22px;
  width: 124px;
  height: 170px;
  vertical-align: top;

  &:last-child {
    border-right-color: transparent;
  }
}
.stuff-add__link {
  position: relative;
  display: block;
  padding-top: 100px;
  text-decoration: none;
  text-align: center;

  &:hover {

    .icon_place {
      .bounce;
      .animated;
      .sprite-place-big-active;
    }
    .icon_event {
      .swing;
      .animated;
      .sprite-calendar-active;
    }
    .icon_route {
      .tada;
      .animated;
      .sprite-route-active;
    }
    .icon_trip {
      .wobble;
      .animated;
      .sprite-trip-active;
    }
  }
}

/*&steps*/
.steps__list {
  position: relative;
  float: left;
  margin-right: 10px;

  &:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 3px;
    right: 3px;
    display: block;
    height: 9px;
    background-color: #CACACB;
  }
}
.steps__list_route {

  .steps__item.active {
    background-color: #CA7953;

    &:after {
      width: 110px;
      background-color: #CA7953;
    }
  }
}
.steps__list_place {

  .steps__item.active {
    background-color: #26b89a;

    &:after {
      width: 110px;
      background-color: #26b89a;
    }
  }
}
.steps__list_event {

  .steps__item.active {
    background-color: #f8aa33;

    &:after {
      width: 110px;
      background-color: #f8aa33;
    }
  }
}
.steps__list_trip {

  .steps__item.active {
    background-color: #53b6d8;

    &:after {
      width: 110px;
      background-color: #53b6d8;
    }
  }
}
.steps__item {
  position: relative;
  display: inline-block;
  margin-right: 100px;
  border-radius: 12.5px;
  width: 25px;
  height: 25px;
  background-color: #CACACB;
  text-align: center;
  vertical-align: top;
  line-height: 25px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 18px;
  color: #FFF;

  &:first-child {

    &:after {
      display: none;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: -108px;
    width: 0;
    height: 9px;
  }
  &.animate {
    transition: all 0.1s linear 0.5s;
    -webkit-transition: all 0.1s linear 0.5s;

    &:after {
      transition: width 0.5s linear;
      -webkit-transition: width 0.5s linear;
    }
  }
}
.steps__title {
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 16px;
  color: #6A6A6A;

  .title-order {
    display: none;
  }
}

/*$route*/
.route-step_place {
  display: none;
  margin: 0 auto;
  width: 940px;

  .route-step__aside {
    float: right;
    position: relative;

    .route-list {
      display: none;

      .list {
        overflow: auto;
        max-height: 355px;
      }
    }
  }
}
.route-step_order {

  .route-search {
    display: none;
  }
  .route-grid {
    display: none;
  }
  .route-ctrls {

    .btn_finish {
      display: block;
    }
    .btn_next {
      display: none;
    }
  }
  .map_route {
    height: 480px;
  }
  .map__add-place {
    display: none;
  }
  .steps__title {

    .title-place {
      display: none;
    }
    .title-order{
      display: inline;
    }
  }
}
.route-search {
  border-bottom: 1px solid #DCDEE1;
  padding: 15px 20px;
  background-color: #F3F3F3;
}
.route-categories {
  padding: 8px 30px;
  background-color: #FFF;
}
.route-grid {
  padding: 20px;
  background: url(../images/pattern-content-light.png) repeat 0 0;

  .box {
    margin-right: 10px;
    width: 210px;
    box-shadow: 0 0 1px 1px #e5e5e5;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  .box__img {
    width: 210px;

    .btns {
      text-align: center;
    }

      &:hover {

      .img {
        opacity: 1;
      }
      .btns {
        display: block;
      }
    }
  }
}
.route-list {
  border-radius: 4px;
  width: 220px;
  background-color: #F3F3F3;

  .title {
    padding: 10px 10px 12px;
    border-bottom: 1px solid #e1e2e2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 22px;
    line-height: 22px;
    background: url(../images/pattern-content-light.png) repeat 0 0 #E7E7E8;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #6A6A6A;
  }
  .list {
    /*padding: 8px 0;*/
  }
  .item {
    position: relative;
    border-bottom: 1px solid #e1e2e2;
    padding: 8px;
    height: 44px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #FBFCFC;
    }
    &:last-child {
      border-bottom-color: transparent;

      &:after {
        display: none;
      }
    }
  }
  .link-wrap {
    text-decoration: none;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 3px;
    .sprite-close-route;
    display: none;
  }
  .drag {
    position: absolute;
    top: 30px;
    right: 10px;
    .sprite-drag;
    display: none;
  }
  .number {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 15px;
    color: #FFF;
  }
  .img {
    float: left;
    border-radius: 2px;
  }
  .text {
    margin-left: 50px;
  }
  .text__place {
    display: block;
    margin-bottom: 4px;
    height: 25px;
    overflow: hidden;
    line-height: 12px;
    color: #3D3D3D;
  }
  .text__type {
    text-transform: uppercase;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 14px;
  }
  .delete-item {
    position: absolute;
    top: 10px;
    right: 8px;
    .sprite-close-route;
    display: none;
  }
}
.route-list_deleteable {

  &:hover {

    .delete-item {
      display: block;
    }
  }

  .item {
    cursor: pointer;

    &:hover {
      background-color: #E5E5E5;

      .close {
        display: block;
      }

      .number {
        color: #4F4F4F;
        background-color: rgba(255,255,255,0.9);
      }
    }
  }
}
.route-list_draggable {

  .item {
    cursor: pointer;

    &:hover {
      background-color: #E5E5E5;

      .drag {
        display: block;
      }

      .number {
        color: #4F4F4F;
        background-color: rgba(255,255,255,0.9);
      }
    }
    &.dragged {
      background-color: #E5E5E5;
      cursor: pointer;

      .drag {
        display: block;
      }

      .close {
        display: none;
      }

      .number {
        color: #4F4F4F;
        background-color: rgba(255,255,255,0.9);
      }
    }
  }
}
.route-ctrls {
  padding: 15px 22px;
  width: 176px;

  .btn {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .btn_finish {
    display: none;
  }
}

/*$loader*/
.loader {

  .img {
    display: block;
    margin: 0 auto;
  }
}

/*$dashboard*/
.dashboard-change {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 3px;
  background: url(../images/pattern-content-grey.png) repeat 0 0;

  .picture {
    float: left;
    margin-right: 10px;

    .img {
      margin-right: 10px;
      border-radius: 3px;
    }
  }
  .btns {
    width: 145px;

    .btn {
      padding-top: 8px;
      padding-bottom: 10px;
      width: 120px;
      text-align: center;
      letter-spacing: -0.5px;
      line-height: 15px;
      font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
      font-size: 15px;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  .btns_picture {
    float: left;
  }
  .btns_ctrls {
    float: right;
  }
}

/*$photo-upload*/
.photo-upload {
  margin-top: 37px;
  margin-right: 20px;

  .drop-box {

  }
}
.dropzone {
  position: relative;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 10px 0 40px 10px;
  width: 305px;
  min-height: 145px;
  background: url(../images/pattern-content.png) repeat 0 0;

  &:before {
    content: 'Выбрать файл';
    position: absolute;
    left: 0;
    bottom: -35px;
    border-radius: 3px;
    padding: 7px 15px 8px;
    background-color: #C0C0C0;
    line-height: 13px;
    font-size: 13px;
    color: #FFF;
    cursor: pointer;

    &:hover {
      background-color: #C8C8C8;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -60px;
    margin-left: -90px;
    width: 180px;
    height: 119px;
    background: url(../images/digital-camera.png) no-repeat 0 0;
  }

  .text-no-photo {
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #A5A5A5;
  }
}
.dz-default.dz-message {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #A5A5A5;
  cursor: default;
}
.dz-preview {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 90px;
  height: 90px;
  vertical-align: top;

  img {
    border-radius: 3px;
    width: 90px;
    height: 90px;
  }

  &:hover {

    img {
      display: none;
    }
  }

  .dz-details {
    position: relative;

    &:before {
      content: 'Сделать главной';
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
      padding: 60px 0 15px;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
      text-align: center;
      letter-spacing: -0.6px;
      line-height: 15px;
      font-size: 13px;
      font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
      color: #FFF;
    }
    &:after {
      content: '';
      position: absolute;
      top: 30px;
      left: 50%;
      margin-left: -15px;
      .sprite-set-main-upload;
      display: none;
    }
  }

  .dz-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
    .sprite-remove-upload;
    text-indent: -9999px;
    cursor: pointer;
    display: none;
  }

  &.dz-processing {
    width: 100%;
    height: auto;
    overflow: hidden;

    .dz-details {

      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
    }

    .dz-progress {
      display: block;
      float: left;
      margin-top: 5px;
      border-radius: 3px;
      width: 140px;
      height: 10px;
      background-color: #FFF;
    }

    .dz-upload {
      display: block;
      border-radius: 3px;
      height: 10px;
      background-color: #64CBB6;
    }

    .dz-details {
      float: right;
      margin-right: 30px;
      width: 130px;
      overflow: hidden;

      .dz-filename {
        display: inline;
        font-size: 11px;
        color: #8E8E8E;
      }
    }

    img {
      display: none;
    }

    .dz-remove {
      .sprite-stop-upload;
      position: absolute;
      top: 5px;
      right: 14px;
      text-indent: -9999px;
    }
  }

  &:hover {
    cursor: pointer;

    .dz-details {

      &:before,
      &:after {
        display: block;
      }
    }

    .dz-remove {
      display: block;
    }
  }
}
.dz-filename {
  display: none;
}
.dz-size {
  display: none;
}
.dz-success-mark {
  display: none;
}

.dz-error-mark {
  display: none;
}

.already-added {
  position: absolute;
  z-index: 10;
  top: 60px;
  left: 0;
  border-radius: 3px;
  width: 170px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background-color: #FFF;

  .img {
    float: left;
    margin-right: 6px;
  }
  .name {
    display: block;
    margin-top: 2px;
    color: #53B6D8;
  }
  .city {
    font-style: italic;
    color: #7C7C7C;
  }
  .date {
    font-style: normal;
  }
}
.already-added__list {

  &.no-photo {
    border-top: 1px solid #2FBA9D;

    .name {
      display: inline-block;
    }
  }
}
.already-added__title {
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px 10px 8px;
  background-color: #2FBA9D;
  line-height: 16px;
  letter-spacing: -0.5px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 16px;
  color: #FFF;

  &:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    border: 6px solid transparent;
    border-bottom-color: #2FBA9D;
    margin-left: -4px;
  }
}
.already-added__item {
  padding: 8px;
  line-height: 14px;

  &.active {
    background-color: #D8D8D9;

    .name,
    .city {
      color: #FFF;
    }
  }
}
.already-added__link {
  display: block;
  text-decoration: none;
}
.already-added_type_event {
  .date {
    color: #F8AA33;
  }

  .active {

    .date {
      color: #FFF;
    }
  }

  .already-added__title {
    background-color: #F7AD3C;

    &:before {
      border-bottom-color: #f7ad3c;
    }
  }
}
.already-added-photos {

  .item {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 93px;
    height: 93px;
  }
  .item_event {

    .img {
      border-color: #f8aa33;
    }
  }
  .item_place {

    .img {
      border-color: #26b89a;
    }
  }
  .link {

    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      display: none;
      width: 87px;
      height: 87px;
      border-radius: 1px;
      background-color: rgba(0,0,0,0.5);
    }
    &:hover {

      &:after {
        display: block;
      }

      .icon {
        display: block;
      }
    }
  }
  .img {
    border: 3px solid #26b89a;
    border-radius: 3px;
    width: 87px;
    height: 87px;
  }
  .icon {
    position: absolute;
    z-index: 5;
    display: none;
  }
  .icon_delete {
    top: 8px;
    right: 8px;
  }
  .icon_upload {
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -21px;
  }
}

/*$select-type*/
.select-type {
  margin-bottom: 10px;
}

/*$tags*/
.tags__item {
  display: inline-block;
  vertical-align: top;
}
.tags__link {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 2px 5px 5px 5px;
  text-decoration: none;
  background-color: #53B6D8;
  font-size: 14px;
  letter-spacing: -0.3px;
  line-height: 13px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  color: #FFF;
}
.field_tags-photo {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-photo;
  }
}
.field_tags-gun {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-gun;
  }
}
.field_tags-fish {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-fish;
  }
}
.field_tags-ski {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-ski;
  }
}
.field_tags-music {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-music;
  }
}
.field_tags-food {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-food;
  }
}
.field_tags-drink {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-drink;
  }
}
.field_tags-tag {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-tag;
  }
}
.field_tags-theatre {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-theatre;
  }
}
.field_tags-place {

  .select2-choices .select2-search-choice,
  .tags__link {

    .bgc-place;
  }
}
.tag {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 2px 28px 5px 8px;
  text-decoration: none;
  background-color: #53B6D8;
  font-size: 14px;
  letter-spacing: -0.3px;
  line-height: 13px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  color: #FFF;

  .delete-tag {
    position: absolute;
    top: 5px;
    right: 5px;
    .sprite-delete-tag;
  }
}
