<div class="popupwin__content clearfix">
  <div class="popupwin__title clearfix">
    Выберите фотографии
  </div>
  <div class="popupwin__container">
    <div class="photo-upload">
      <form class="dropzone clearfix" id="photos-dropzone">
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form>
    </div>
  </div>
  <div class="popupwin__footer clearfix">
    <button disabled href="#" class="btn btn_color_blue right js-finish">Готово</button>
  </div>
</div><!-- class="popup-content" -->
