<!--<a href="#" class="fr a-btn a-subscribe">Подписаться</a>-->
<!--<div class="event-date">1―5 января</div>-->

<h2><a href="#" class="a-place-name">{{name}}</a></h2>
<small>Увидел</small>
<a href="#">{{author.first_name}} {{author.last_name}}</a>
<div class="addr">{{address}}</div>

<div class="p-place-desc">
  {{headDescription}}{{#if tailDescription}}<span class="hellip">&hellip;</span><span class="hidden more-desc">{{tailDescription}}<br></span><a href="#" class="a-toggle-desc">подробнее</a>{{/if}}
</div>

<div class="stats">
  <span>
    <span class="ico-want-small"></span>
    {{beens_count}}
  </span>

  <span>
    <span class="ico-like-small"></span>
    {{likes_count}}
  </span>

  <span>
    <span class="ico-star-small"></span>
    {{sets.length}}
  </span>

  <span>
    <span class="ico-vote-small"></span>
    {{reviewusersplus}}/{{reviewusersminus}}
  </span>
</div>
