<div class="clearfix p-body">
  <header id="point-header"></header>

  <div class="wide-box">
    <ul class="p-tabs">
      <li class="active"><a href="#tab-photo" data-toggle="tab">Фотография</a></li>
      <li><a href="#tab-map" data-toggle="tab">На карте</a></li>
      <li><a href="#tab-reviews" data-toggle="tab">Отзывы</a></li>
      <!--
      <li><a href="#tab-desc" data-toggle="tab">О месте</a></li>
      <li><a href="#tab-events" data-toggle="tab">События</a></li>
      -->

      <li><div class="shadow"></div></li>
    </ul>

    <div class="tabs-content">
      <div id="tab-photo" class="tab-pane active"></div><!-- end #tab-photo -->

      <div id="tab-map" class="tab-pane"></div><!-- end #tab-map -->

      <div id="tab-reviews" class="tab-pane"></div><!-- end #tab-reviews -->
    </div>

    <div id="point-tags" class="tabs-content p-common-content"></div>
  </div>

</div>

<aside id="right-panel"></aside>
