<div class="popupwin__content clearfix">
  <div id="event-header-region" class="place-info clearfix"></div>
  
  <div id="event-photo-region"></div> 

  <div id="event-description-region"></div> 

  <div id="event-map-region"></div>

  <div class="comments-wrap" id="event-comments-region"></div>
</div><!-- class="popup-content" -->

<div class="popupwin__content clearfix" id="event-likes-region"></div>

{{#if sets}}
<div class="popupwin__content clearfix">
  <div class="title title_green title_bg_light">Добавили к себе в путешествие:</div>
  <ul class="peoples">
    {{#sets}}
      <li class="peoples__item">
        <a href="#" class="peoples__link">
          <img src="{{author.icon}}" alt="user" class="peoples__img">
        </a>
      </li>
    {{/sets}}
    <li class="peoples__item">
      <a href="#" class="peoples__link peoples__link_all js-more-people">
        Ещё
      </a>
    </li>
  </ul>
</div><!-- class="popup-content" -->
{{/if}}
