.dz-preview {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 90px;
  height: 90px;
  vertical-align: top;
}
.dz-preview img {
  border-radius: 3px;
  width: 90px;
  height: 90px;
}
.dz-preview:hover img {
  /*display: none;*/
}
.dz-preview .dz-details {
  position: relative;
}
.dz-preview .dz-details.main-image:before,
.dz-preview .dz-details:before {
  content: 'Сделать главной';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  padding: 60px 0 15px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  letter-spacing: -0.6px;
  line-height: 15px;
  font-size: 13px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  color: #FFF;
}
.dz-preview .dz-details.main-image:before {
  display: block;
  content:"Главное фото";
}
.dz-preview .dz-details.main-image:after,
.dz-preview .dz-details:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -15px;
  background: url(../images/sprite.png) no-repeat;
  display: inline-block;
  background-position: -92px -268px;
  width: 30px;
  height: 21px;
  display: none;
}
.dz-preview .dz-details.main-image:after {
    display:block;
}
.dz-preview .dz-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
  background: url(../images/sprite.png) no-repeat;
  display: inline-block;
  background-position: -128px -347px;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  cursor: pointer;
  display: none;
}
.dz-preview.dz-processing {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.dz-preview.dz-image-preview {
  width: auto;
  z-index:100;
}
.dz-preview.dz-processing .dz-details:after {
  display: none;
}
.dz-preview.dz-processing .dz-details:before {
  display: none;
}
.dz-preview.dz-processing .dz-details.main-image:after {
  display: block;
}
.dz-preview.dz-processing .dz-details.main-image:before {
  display: block;
}
.dz-preview.dz-file-preview .dz-progress {
  display: block;
  float: left;
  margin-top: 5px;
  border-radius: 3px;
  width: 140px;
  height: 10px;
  background-color: #FFF;
}
.dz-preview.dz-image-preview .dz-progress {
    display:none;
}
.dz-preview.dz-processing .dz-upload {
  display: block;
  border-radius: 3px;
  height: 10px;
  background-color: #64CBB6;
}
.dz-preview.dz-processing .dz-details {
  float: right;
  margin-right: 30px;
  width: 90px;
  overflow: hidden;
}
.dz-preview.dz-processing .dz-details .dz-filename {
  display: none;
  font-size: 11px;
  color: #8E8E8E;
}
.dz-preview.dz-file-preview img {
  display: none;
}
.dz-preview.dz-image-preview img {
  display: block;
}
.dz-preview.dz-processing .dz-remove {
  background: url(../images/sprite.png) no-repeat;
  display: inline-block;
  background-position: -407px -118px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: 14px;
  text-indent: -9999px;
}

.dropzone {
  position: relative;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 10px 0 40px 10px;
  width: 305px;
  min-height: 145px;
  background: url(../images/pattern-content.png) repeat 0 0;
}
.dropzone:before {
  content: 'Выбрать файл';
  position: absolute;
  left: 0;
  bottom: -35px;
  border-radius: 3px;
  padding: 7px 15px 8px;
  background-color: #C0C0C0;
  line-height: 13px;
  font-size: 13px;
  color: #FFF;
  cursor: pointer;
}
.dropzone:before:hover {
  background-color: #C8C8C8;
}
.dropzone:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -60px;
  margin-left: -90px;
  width: 180px;
  height: 119px;
  background: url(../images/digital-camera.png) no-repeat 0 0;
}
.dropzone .text-no-photo {
  position: absolute;
  bottom: 17px;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  font-size: 15px;
  color: #A5A5A5;
}
.dz-default.dz-message {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #A5A5A5;
  cursor: default;
}
.dz-preview:hover {
  cursor: pointer;
}
.dz-preview:hover .dz-details:before,
.dz-preview:hover .dz-details:after {
  display: block;
}
.dz-preview:hover .dz-remove {
  display: block;
}
.dz-filename {
  display: none;
}
.dz-size {
  display: none;
}
.dz-success-mark {
  display: none;
}
.dz-error-mark {
  display: none;
}

.header__filter .filter-dropdown {
  float: right;
  margin-right: 15px;
}
.header__filter .filter-dropdown .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  height: 43px;
  vertical-align: top;
}
.header__filter .filter-dropdown .dropdown .dropdown-block {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 101;
  padding: 15px;
  background-color: #EFEDED;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  line-height: 32px;
  font-size: 13px;
  color: #848484;
}
.header__filter .filter-dropdown .dropdown .dropdown-block:after {
  content: '';
  position: absolute;
  top: -14px;
  left: 16px;
  display: block;
  border: 7px solid transparent;
  border-bottom-color: #EFEDED;
}
.header__filter .filter-dropdown .dropdown input[type="text"] {
  border-radius: 2px;
  border: 2px solid #c8c6c6;
  padding: 0 5px;
  width: 30px;
  height: 28px;
  text-align: center;
  background: transparent;
  color: #848484;
  font-size: 14px;
}
.header__filter .filter-dropdown .dropdown input[type="text"]:focus {
  border-color: #26b89a;
  background-color: #FFF;
}
.header__filter .filter-dropdown .dropdown.open .dropdown-block {
  display: block;
}
.header__filter .filter-dropdown .dropdown.open .sprite-filter2-time {
  background: url(../images/sprite-filter2.png) no-repeat;
  display: inline-block;
  background-position: -2px -49px;
  width: 43px;
  height: 43px;
}
.header__filter .filter-dropdown .dropdown.open .sprite-filter2-money {
  background: url(../images/sprite-filter2.png) no-repeat;
  display: inline-block;
  background-position: -142px -49px;
  width: 43px;
  height: 43px;
}
.header__filter .filter-dropdown .dropdown .dropdown-block_time {
  width: 240px;
}
.header__filter .filter-dropdown .dropdown .dropdown-block_money {
  width: 280px;
}
.header__filter .filter-dropdown .dropdown .dropdown-block_money input[type="text"] {
  width: 60px;
}
.header__filter .filter-dropdown .dropdown .btn {
  float: right;
  height: 32px;
  font-family: DinCondensedPro, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
}

/* glue: 0.3 hash: 9585c8434a */
.sprite-filter2-up-active,
.sprite-filter2-time,
.sprite-filter2-time-active,
.sprite-filter2-money,
.sprite-filter2-money-active,
.sprite-filter2-theatre-small,
.sprite-filter2-tag-small,
.sprite-filter2-ski-small,
.sprite-filter2-place-small,
.sprite-filter2-photo-small,
.sprite-filter2-music-small,
.sprite-filter2-gun-small,
.sprite-filter2-food-small,
.sprite-filter2-fish-small,
.sprite-filter2-drink-small {
  background: url(../images/sprite-filter2.png) no-repeat;
  display: inline-block;
}
.sprite-filter2-up-active {
  background-position: -2px -2px;
  width: 42px;
  height: 43px;
}
.sprite-filter2-time:hover {
  background-position: -48px -2px;
  width: 43px;
  height: 43px;
}
.sprite-filter2-time {
  background-position: -95px -2px;
  width: 43px;
  height: 43px;
}
.sprite-filter2-time-active {
  background-position: -2px -49px;
  width: 43px;
  height: 43px;
}
.sprite-filter2-money:hover {
  background-position: -49px -49px;
  width: 43px;
  height: 43px;
}
.sprite-filter2-money {
  background-position: -142px -2px;
  width: 43px;
  height: 43px;
}
.sprite-filter2-money-active {
  background-position: -142px -49px;
  width: 43px;
  height: 43px;
}
.sprite-filter2-theatre-small {
  background-position: -96px -49px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-tag-small {
  background-position: -2px -96px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-ski-small {
  background-position: -36px -96px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-place-small {
  background-position: -70px -96px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-photo-small {
  background-position: -104px -96px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-music-small {
  background-position: -138px -96px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-gun-small {
  background-position: -2px -130px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-food-small {
  background-position: -36px -130px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-fish-small {
  background-position: -70px -130px;
  width: 30px;
  height: 30px;
}
.sprite-filter2-drink-small {
  background-position: -104px -130px;
  width: 30px;
  height: 30px;
}
