<menu class="tabs-places user-tabs-places">
    <a href="points" class="active nonav" id="tab-point">Места</a>
    <a href="routes" class="nonav" id="tab-route">Маршруты</a>
    <a href="want" class="nonav" id="tab-want">Хочу посетить</a>
    <a href="myroutes" class="nonav" id="tab-myroutes">Мои маршруты</a>
    <a href="mypoints" class="nonav" id="tab-mypoints" class="last">Я добавил</a>
    <div class="count-want-visit" {% if countvisitpoints == 0 %}style="display: none;" {% endif %}>{{ countvisitpoints }}</div>
</menu>