<div class="modal popupwin popupwin_place fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_event fade" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_trip fade" tabindex="-3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_route fade" tabindex="-4" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_add fade" tabindex="-5" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_add-place fade" tabindex="-6" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_add-event fade" tabindex="-7" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_add-route fade" tabindex="-8" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_add-trip fade" tabindex="-9" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_add-place-to-trip fade" tabindex="-10" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_authorization fade" tabindex="-11" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_add-photos fade" tabindex="-12" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin popupwin_info fade" tabindex="-13" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin_login-commercial fade" tabindex="-14" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>

<div class="modal popupwin_order-route fade" tabindex="-15" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <a href="#?" class="popupwin__close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="modal-dialog"></div>
</div>
