<div class="popupwin__content clearfix">
  <div class="popupwin__title clearfix">
    <div class="steps">
      <ul class="steps__list steps__list_event">
        <li class="steps__item active">1</li>
        <li class="steps__item active">2</li>
      </ul>
    </div>
  </div>
  <div class="popupwin__container clearfix">
    <div class="field field_tags">
      <div class="field__title">
        Можете указать тип места:
      </div>
      <div class="select-type"></div>
      <ul class="tags">
        {{#each additionalLabels}}
        <li class="tags__item">
          <a href="#" class="tags__link" title="{{name}}"
            data-parent="{{parent}}" data-id="{{id}}" data-style="{{style}}">{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="field">
      <div class="field__title">Где будет проходить:</div>
      <div class="map map_popupwin mb10">
        <a href="#" class="map__close sprite-close js-map-close"></a>
        <div class="map__container" id="map5"></div>
        <a href="#" class="btn-open js-map-open"></a>
      </div>
      <div class="field__input-place">
        <input class="select-type" type="text" placeholder="Введите название места или город, улицу, дом">
      </div>
    </div>
  </div>
  <div class="popupwin__footer clearfix">
    <a href="#" class="btn btn_color_green left js-back">Назад</a>
    <a href="#" class="btn btn_color_blue right js-next">Готово</a>
  </div>
</div>

<div id="points-region"></div>
