@font-face {
    font-family: 'pf_agora_slab_pro';
    src: url('../fonts/pfagoraslabpro-boldwebfont.eot');
    src: url('../fonts/pfagoraslabpro-boldwebfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-boldwebfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-boldwebfont.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-boldwebfont.svg#pf_agora_slab_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'pf_agora_slab_pro_thin';
    src: url('../fonts/pfagoraslabpro-thinwebfont.eot');
    src: url('../fonts/pfagoraslabpro-thinwebfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-thinwebfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-thinwebfont.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-thinwebfont.svg#pf_agora_slab_pro_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_agora_slab_pro_medium';
    src: url('../fonts/pfagoraslabpro-mediumwebfont.eot');
    src: url('../fonts/pfagoraslabpro-mediumwebfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-mediumwebfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-mediumwebfont.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-mediumwebfont.svg#pf_agora_slab_pro_mediumRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_agora_slab_pro';
    src: url('../fonts/pfagoraslabpro-regwebfont.eot');
    src: url('../fonts/pfagoraslabpro-regwebfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-regwebfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-regwebfont.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-regwebfont.svg#pf_agora_slab_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{line-height:1;font-size:100.01%}
table{border-collapse:collapse;border-spacing:0}
* {margin:0;padding:0}
a img{border:none;text-decoration:none}
fieldset{border:0}
:focus{outline:none}
@-moz-document url-prefix() {
	input[type=submit]{
		padding-bottom:2px;
		font-family: arial, sans-serif;
	}
}
header, footer, article, nav, section, aside, hgroup, time{display:block}
#header ul, .maps ul, .popup ul, .top-panel-float ul{list-style:none}

/*   end global reset  */
html{height:100%}
body{height:100%;font-family:Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;text-align:center;font-size:14px;color:#666;line-height:1.45;background:url(../images/bg.jpg) 50% 0 repeat}
a{color:#984d56}
a:hover{color:#ec5a51}
/*a:visited{color:#6d534e}*/
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.body{overflow:hidden}
.clear{clear:both;height:1px;overflow:hidden;}

.a-auth, .sc-item footer span, .social a, .slider .prev, .slider .next, .txt-button, .custom-checkbox{background-color:none;background-image:url(../images/sprite.png);background-repeat:no-repeat}
.a-add-place, .tabs-places, .sc-body h3, .popup h3, .a-see-scheme, .popup h2, .popup .place, .a-want{font-family:"Trebuchet MS", "Helvetica CY", sans-serif}
.site-name, .txt-button{font-family: 'pf_agora_slab_pro';font-weight:700}
.slogan{font-family: 'pf_agora_slab_pro_medium';}
.a-hide{font-family: 'pf_agora_slab_pro_thin'}
.tabs-maps li a{font-family: 'pf_agora_slab_pro';font-weight:normal}

#wrap{min-width:960px;max-width:1500px;margin:0 auto -124px;text-align:left;padding:0 10px;min-height:100%;background:url(../images/bg-2.png) 50% 340px no-repeat;}

#header{height:362px;position:relative;background:url(../images/bg-top.png) 84% 40px no-repeat}
.site-name{font-size:40px;text-decoration:none;float:left;color:#984d56 !important;text-transform:uppercase;margin:15px 0 0 26px;height:30px;line-height:1em;font-weight:700;}
	.site-name span{color:#43653f !important}
.auth{float:right;width:22%;padding:20px 12px 0 0;height:45px;font-size:13px;text-align:right}
.a-auth{background-position:-461px 1px;padding:2px 0 2px 44px}
	#header .search{float:right;width:21%;height:22px;margin:20px 0 0}
		#header .search input{width:88%;padding:4px 6%;border:solid 1px #bcc6bb;background:#fff;border-radius:2px;color:#abadaa;font:14px verdana, sans-serif}
.short-service{margin:0 53px 14px;height:180px;background:url(../images/bg-menu-three.png) 0 -180px repeat-x;clear:both;position:relative;text-align:center}
	.short-service .l, .short-service .r{position:absolute;top:0;width:53px;height:180px;background-image:url(../images/bg-menu-three.png)}
	.short-service .l{left:-53px;background-position:0 0}
	.short-service .r{right:-53px;background-position:0 -360px}
	.short-service ul{position:absolute;width:100%;left:0;top:0;padding:22px 0 0;font-size:14px;color:#333;text-align:left}
	.short-service li{float:left;width:29%;padding:0 2% 0 0;position:relative;left:-22px}
	.short-service li + li{float:left;width:34%;padding:0}
	.short-service li + li + li{float:left;width:35%;padding:0;left:22px}
	.short-service .fl{margin:0 14px 0 0}
	.short-service .body{padding:8px 0 0}
.a-full-desc{display:inline-block;height:30px;line-height:32px;background:url(../images/desc-button.png) 0 0 no-repeat;text-decoration:none;font-size:10px;color:#fefefd !important;text-transform:uppercase;text-decoration:none;padding:0 10px;position:relative;top:156px;overflow:hidden}
.a-full-desc:hover{background-position:100% 0}
.slogan{font-size:78px;color:#687668;padding:0 0 0 102px;background:url(../images/logo.png) 14px 6px no-repeat;line-height:86px;text-decoration:none;display:block;min-height:86px;width:860px;margin:-8px auto 0;white-space:nowrap;font-weight:400;}

#content{padding:0 0 164px}

.a-add-place{margin-top: -5px;height:35px;background:url(../images/add-place-button.png) 100% 0 no-repeat;padding:0 12px 0 0;.width:148px;text-decoration:none}
	.a-add-place span{float:right;height:35px;background:url(../images/add-place-button.png) 0 0 no-repeat;padding:0 0 0 40px;line-height:33px;color:#fff;font-weight:bold}
.a-add-place:hover{background-position:100% -45px}
	.a-add-place:hover span{background-position:0 -45px}

.maps{position:relative;z-index:12}
.tabs-maps{overflow:hidden;padding:0 0 0 20px}
	.tabs-maps li{height:45px;float:left;margin:0 2px 0 0;padding:0 0 0 30px;cursor:pointer;font-size:17px}
	.tabs-maps li a{float:left;padding:0 30px 0 0;height:45px;line-height:36px}
	.tabs-maps li.active{background:#f8f6f6;cursor:default;border-radius:2px 2px 0 0}
		.tabs-maps li.active a{text-decoration:none;cursor:default;color:#333}

.content-maps{position:relative;background:url(../images/frame-map.png) 0 0 no-repeat;height:420px;margin:0 16px 0 0}
.item-map{height:403px;position:relative;background:url(../images/frame-map.png) 100% -430px no-repeat;padding:17px 16px 0 0;left:16px}
.a-hide{position:absolute;top:16px;left:50%;margin-left:-70px;width:140px;text-align:center;height:30px;line-height:30px;color:#fff !important;text-decoration:none;z-index:10;background:url(../images/hide-map-button.png) 0 -40px no-repeat;font-size:18px}
.a-hide:hover{background-position:0 0}
	.item-map .map{height:379px;padding:0 0 0 0;overflow:hidden}
.selects{position:absolute;width:390px;height:32px;left:50%;margin-left:-195px;top:364px;z-index:12;background:#96323e}

.tabs-places{width:513px;margin:-5px auto 20px;height:54px;font-size:24px;line-height:44px}
	.tabs-places a{text-align:center;color:#effbee;float:left;height:54px;text-decoration:none}
.tab-place{background:url(../images/place-path-buttons.png) 0 -64px no-repeat;width:239px;padding:0 12px 0 6px}
.tab-path{background:url(../images/place-path-buttons.png) -257px 0 no-repeat;width:246px;padding:0 6px 0 4px}
.tab-place.active{background-position:0 0;cursor:default}
.tab-path.active{background-position:-257px -64px;cursor:default}
.tabs-places.tabs-places-fix{position: fixed;top: 100px;left: 50%;margin-left: -257px;}

.tabs-content{height:44px;padding:0 10px}
	.tabs-content a{text-decoration:none;float:left;margin:0 1px 0 0;background:url(../images/tab-36.png) 0 -9999px no-repeat;padding:0 0 0 20px;height:36px}
		.tabs-content span{float:left;width:auto;height:36px;line-height:36px;padding:0 20px 0 0;background:url(../images/tab-36.png) 100% -9999px no-repeat;text-decoration:underline}
	.tabs-content .active{text-decoration:none;cursor:default;color:#333;background-position:0 0}
		.tabs-content .active span{text-decoration:none;cursor:default;background-position:100% 0}

/*#slide-colums{.zoom:1;margin:0 -20px 0 0}*/
#slide-colums{zoom:1;margin:0 auto}
#slide-colums:after{content:"";display:block;clear:both;height:1px;overflow:hidden}
.sc-item{width:226px;background:#f0fbef;margin:0 0 10px 2px;border:solid 1px #ccd7cb;border-top:0;border-bottom:solid 1px #c4d2c2}
:root .sc-item{width:228px;border:0;-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .39);-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .39);box-shadow:0 1px 2px rgba(0, 0, 0, .39)}
.sc-item.white-block{background:#fff}
.sc-body{padding:8px 10px 14px;font-size:12px;color:#666;line-height:18px}
	.sc-body .photo{display:block;width:208px;/*height:164px;*/padding:1px 2px 5px;background:url(../images/shadow-img.png) 0 100% no-repeat;margin:0 0 4px -2px}
	.sc-body .photo + .photo{margin-top:10px}
		.sc-body .photo img{display:block}
	.sc-body h3{font-weight:400;font-size:17px;line-height:22px;padding:0 0 10px}
	.sc-body h3 a{text-decoration: none;}
	.sc-body h3 a:hover{text-decoration: underline;}
	.sc-item footer{background:#d8ecd6;padding:0 10px;border-bottom:solid 1px #b3c3b1;font-size:12px;color:#333;height:28px;border-top:solid 1px #e3f1e1}
	:root .sc-item footer{border-bottom:solid 1px #e3f1e1}
		.sc-item footer span{float:left;width:auto;height:20px;line-height:20px;margin:4px 17px 0 0}
	.sc-item  .like{padding:0 0 0 23px;background-position:-335px -151px}
	.sc-item  .label{padding:0 0 0 21px;background-position:-406px -75px}
    .sc-item .user{font-size: 12px;font-weight: bold;background-color: #E3F1E1}
    .sc-item .user .user-name {width: 167px;}
    .sc-item .close {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 24px;
        height: 24px;
        background: transparent url('../images/close.png') -48px 0px;
        cursor: pointer;
    }
#footer{height:114px;padding:10px 38px 0 49px;text-align:left;min-width:913px;max-width:1397px;margin:0 auto}
.copyright{width:22%;color:#333}
.a-feedback{width:9%;margin:0 7% 0 0}
.social{width:26%}
	.social a{float:left;width:32px;height:32px;margin:0 6px 0 0;text-decoration:none;-moz-transition:opacity .2s;-webkit-transition:opacity .2s;-ms-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}
	.social .vk{background-position:0 0}
	.social .tw{background-position:-40px 0}
	.social .ok{background-position:-79px 0}
	.social .fb{background-position:-118px 0}
	.social a:hover{opacity0.7}
.app-button{width:117px;height:38px;background:url(../images/app-store-button.png) 0 0 no-repeat;text-decoration:none}
.design{font-size:12px;color:#666}
	.design a{display:block;text-decoration:none;width:70px;height:27px;background:url(../images/lollipop.png) 0 0 no-repeat;margin:4px 0 0}

#overlay{position:absolute;z-index:1234;left:0;top:0;width:100%;height:100%;background:url(../images/overlay.png) repeat;display:none}
.popup{margin:0 auto;position:relative;z-index:1235;text-align:left;top:10px;overflow:hidden;display:none;}
	.popup aside.fl{width:214px;margin:0 -8px 0 0;background:#6a7a68}
	.popup aside h3{font-weight:400;padding:30px 0 10px 35px;color:#effbee;font-size:32px;line-height:1em}
	.popup aside li{padding:2px 0 0}
	.popup aside li a{display:block;background:url(../images/active-menu-popup.png) -310px -9999px no-repeat;padding:12px 0 0;text-decoration:none}
		.popup aside li span{display:block;padding:0 10px 14px 35px;color:#effbee;background:url(../images/active-menu-popup.png) -310px -9999px no-repeat;font-size:13px;line-height:18px}
	.popup aside li a:hover{background-position:-310px 0}
		.popup aside li a:hover span{background-position:-310px 100%}
	.popup aside .active a{background-position:0 0 !important}
	.popup aside .active span{background-position:0 100% !important}
.popup-content{width:528px}
	.popup-content .popup-body{background:url(../images/popup.png) 0 0 repeat-y;padding:13px 21px 35px 22px}
	.popup .slider{width:484px;height:325px;position:relative;overflow:hidden;margin:0 0 12px}
.a-see-scheme{position:absolute;bottom:0;left:148px;background:url(../images/see-scheme-button.png) 0 0 no-repeat;text-align:center;line-height:37px;text-decoration:none;color:#fff !important;width:146px;z-index:1236}
.a-see-scheme:hover{color:#fff !important;background-position:0 -47px}
.a-see-scheme:visited{color:#fff;}
	.slider .a-like{width:124px;height:24px;line-height:24px;text-align:center;text-decoration:none;background:#fff;border-radius:2px;position:absolute;right:7px;bottom:6px;z-index:1236;font-size:13px}
	.slider .slider-pager{position:absolute;text-align:center;background:url(../images/overlay-stats.png) repeat;color:#fff;top:0;right:15px;height:32px;width:68px;font-size:18px;line-height:32px;z-index:1236}
	.slider .prev, .slider .next{position:absolute;width:70px;height:130px;border:0;cursor:pointer;top:-9998px;z-index:1236}
	.slider .prev{left:0;background-position:20px -74px}
	.slider .next{right:0;background-position:-160px -74px}
	.slider:hover .prev, .slider:hover .next{top:98px}
    #itemDetail .items .item img{cursor: pointer;}
.scrollable{position:relative;width:484px;height:325px;overflow:hidden}
	.scrollable .items{width:23456em;position:relative;left:0;top:0}
	.scrollable .item{float:left;width:484px;height:325px;text-align: center;}
	.popup h2{font-weight:400;font-size:29px;line-height:32px;color:#333}
	.popup .place{font-size:11px;color:#999;display:block;margin:0 0 16px}
.a-want{display:block;margin:25px auto 0;width:194px;height:41px;text-decoration:none;color:#fff !important;text-align:center;line-height:40px;background:url(../images/want-button.png) 0 0 no-repeat;font-size:19px}
.a-want:hover{background-position:0 -51px}
.a-want:active{background-position:0 -103px}
#popup-details-point{width:528px;}
#popup-details-route{width:736px;}

#popup-add-place{width:900px;background:#effbee;-moz-box-shadow: 0 5px 9px rgba(0, 0, 0, .42);-webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, .42);box-shadow: 0 5px 9px rgba(0, 0, 0, .42);padding:30px 50px;}
.popup h3{font-size:29px;color:#333;line-height:1em;margin:0 0 24px;font-weight:400;}
.map-add-place{width:100%;overflow:hidden;position:relative;border-bottom:solid 1px #c0d7af;height:390px;margin:0 0 26px;}
.hint-specify-place{position:absolute;top:50%;left:50%;margin:-80px 0 0 -141px;color:#Fff;font-size:20px;line-height:24px;padding:52px 0 0 117px;width:165px;height:108px;background:url(../images/add-place.png) 0 0 no-repeat;}
.map-shadow-top{position:absolute;left:0;top:0;width:100%;height:6px;background:url(../images/map-shadow-top.png) 0 0 repeat-x;}
.map-shadow-left{position:absolute;left:0;top:0;height:100%;width:3px;background:url(../images/map-shadow-left.png) 0 0 repeat-y;}
.map-shadow-right{position:absolute;right:0;top:0;height:100%;width:3px;background:url(../images/map-shadow-right.png) 0 0 repeat-y;}

	.popup-content footer{background:url(../images/popup.png) -538px 100% no-repeat;height:100px}
	.popup .share{padding:22px 28px 0 46px}
		.popup .share > div{display:inline-block;vertical-align:top;margin:0 18px 12px 0;.display:inline;.zoom:1}

.popup form .fl{width:450px;}
.popup form .fr{width:418px;}
.popup dt{font-size:18px;line-height:20px;padding:0 0 6px;}
.popup dd{padding:0 0 24px;}
	.popup dd input[type=text]{display:block;width:427px;border:solid 1px #bfbfbf;padding:8px 10px 9px;font:14px arial, sans-serif;background:#fff;margin:0 0 4px;}
	:root .popup dd input[type=text]{border:0;width:429px;-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);border-radius:3px;padding:10px}
	.popup input[type=submit]{margin:14px 0 48px;border:0;cursor:pointer;padding-bottom:4px;line-height:38px;}

.custom-file-field{position:relative;height:44px;}
.file-button{float:right;width:86px;height:35px;position:relative;overflow:hidden;cursor:pointer;}
.txt-button{width:86px;height:35px;line-height:34px;display:block;text-align:center;color:#fff;font-size:13px;background-position:0 -246px;}
.file-button:hover .txt-button{background-position: 0 -301px;}
.file-button input[type=file]{position: absolute;;right:0;top:0;opacity:0;font-size:123px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 0);cursor:pointer}
.custom-file-field .file-name{width:326px !important;}
.delete-file{position:absolute;left:308px;top:0;z-index:123;cursor:pointer;background:url(../images/sprite.png) -169px -293px no-repeat #becfbc; border:0;width:40px;height:35px;-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);border-radius:3px;}
.hint-file, .hint-coord{display:block;font-size:12px;color:#666;}
.a-add-more-photo{text-decoration:none;color:#9c575e;border-bottom:dashed 1px #9c575e;font-size:15px;}
.a-add-more-photo:hover{border-bottom-color:#EC5A51;color:#EC5A51 !important;}
.a-add-more-photo:visited{color:#9c575e}
#ap-coords-longitude, #ap-coords-latitude{width:180px;}
.popup textarea{width:395px;height:143px;overflow:auto;border:solid 1px #bfbfbf;font:14px arial, sans-serif;background:#fff;margin:0 0 4px;padding:8px 10px}
:root .popup textarea{border:0;width:397px;-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);box-shadow:inset 0 1px 3px rgba(0, 0, 0, .75);border-radius:3px;resize:none;}
.custom-checkbox{display:inline-block;.display:inline;.zoom:1;padding:0 0 0 25px;line-height: 18px;position:relative;overflow:hidden; background-position:-234px -252px;color:#333;font-size:14.5px;margin:0 0 6px;cursor:pointer;}
.custom-checkbox input[type=checkbox]{position:absolute;left:-9100px;vertical-align:top;}
.checked{background-position: -287px -207px}

#popup-add-place footer{background:#becfbc;text-align:center; margin:0 -50px -30px;border-top:solid 1px #545b53;padding:5px 0 16px;}
#popup-add-place .popup .share{padding:22px 0 12px;}

#popup-auth{width:244px;background:#effbee;-moz-box-shadow: 0 5px 9px rgba(0, 0, 0, .42);-webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, .42);box-shadow: 0 5px 9px rgba(0, 0, 0, .42);padding:30px 43px;}
	#popup-auth footer{background:#becfbc;text-align:center; margin:0 -43px -30px;border-top:solid 1px #545b53;padding:20px 43px 30px;text-align:left;.zoom:1;}
	#popup-auth dd input[type=text]{width:226px;}
	:root #popup-auth dd input[type=text]{width:224px;}
	#popup-auth footer:after, #popup-auth .social:after{content:"";display:block;height:1px;overflow: hidden;clear:both;}
	#popup-auth .social{width:100%;.zoom:1;}
	.title-auth-social{display:block;padding:0 0 10px;color:#000;font-size:14.5px;}
.forgot{text-decoration: none;border-bottom:dashed 1px #9c575e;font-size:14.5px;}
.a-add-more-photo:hover{border-bottom-color:#EC5A51}
#popup-auth input[type=submit]{display:block;margin:5px auto 40px;width:121px;height:41px;color:#fff !important;text-align:center;line-height:38px;background:url(../images/want-button-121.png) 0 0 no-repeat;font-size:19px;padding:0 0 2px;border:0;cursor:pointer;}
#popup-auth input[type=submit]:hover{background-position:0 -51px}
#popup-auth input[type=submit]:active{background-position:0 -103px}

.cusel { /* общий вид селекта включая стрелку справа */
	height: 26px;
	background-position: left top;
	float:left;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	z-index: 1;
	width: 195px !important;
	height:30px !important;
	text-decoration:underline;
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 36px;
	background: url(../images/arrow-select.png) 0 50% no-repeat;
}

.cuselText { /* контейнер для отображенного текста селект */
	height: 30px;
	padding: 0 0 0 16px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	color:#fff;
	line-height:30px;
	white-space:nowrap;
	text-decoration:underline;
	font-size:13px;
}

.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 4px 16px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
	font-size:12px;
	color:#fff;
	text-decoration:underline;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	text-decoration:none;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	color: #fff;
	cursor: default;
}

/*
	styles for focus and hover
*/

.cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background-image: url(../images/selects-2-dis.png) !important;
	cursor: default;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #96323e; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 23px !important;
	background: url(../images/track.png) -33px 0 repeat-y;
	position: absolute;
	top: 0;
	right: 0;
	z-index:12;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background: #6d121c;
	cursor: pointer;
	width: 23px !important;
	right: 0;
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: -6px;
	left: 0;
	overflow: hidden;
	height:5px !important;
	width:23px !important;
	border-top:solid 1px #5f1c24;
	background: #6d121c;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: -6px;
	left: 0;
	overflow: hidden;
	height:5px !important;
	width:23px !important;
	border-bottom:solid 1px #5f1c24;
	background: #6d121c;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 0;
	width: 23px !important;
	height: 6px;
	cursor: pointer;
	overflow: hidden;
	background: url(../images/track.png) 0 0 no-repeat;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 23px !important;
	height: 6px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 0;
	cursor: pointer;
	background: url(../images/track.png) 100% 100% no-repeat;
	overflow: hidden;
}

/*  19.10.2012  */

#header{height:auto;padding:100px 0 22px;.zoom:1}
	/*.top-panel-float .search{float:right;width:21%;height:22px;margin:20px 0 0}*/
	.top-panel-float .search{float:right;width:21%;height:22px;margin:20px 0 0}
	.top-panel-float .search input{width:88%;padding:4px 6%;border:solid 1px #bcc6bb;background:#fff;border-radius:2px;color:#abadaa;font:14px verdana, sans-serif}
.top-panel-float{position:fixed;height:101px;left:0;top:0;width:100%;z-index:1234;background: url(../images/bg.jpg) 50% 0 repeat;}
	.top-panel-float .wrap{min-width: 960px;max-width: 1444px;margin: 0 auto;padding: 0 20px;height:65px}
	.top-panel-float .tabs-maps{float: left;overflow:hidden;padding:0 0 0 20px}
    /*.top-panel-float .wrap li .tabs-maps{overflow:hidden;padding:0 0 0 20px}*/
    .top-panel-float .wrap .tabs-maps li{height:35px;float:left;margin:0 2px 0 0;padding:0 0 0 30px;cursor:pointer;font-size:17px}
    .top-panel-float .wrap .tabs-maps li a{float:left;padding:0 30px 0 0;height:45px;line-height:36px}
    .top-panel-float .wrap .tabs-maps li.active{background:#f8f6f6;cursor:default;border-radius:2px 2px 0 0}
    .top-panel-float .wrap .tabs-maps li.active a{text-decoration:none;cursor:default;color:#333}
    .top-panel-float.panel-shadow{box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.78);}

.auth-login{padding-left:3%;position:relative;text-align:left;max-width:255px}
.user{float:left;width:auto;padding-right:56px;margin-top:-9px}
.user-avatar, .user-name{display:inline-block;.display:inline;.zoom:1;vertical-align:middle}
.user-avatar{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin:0 8px 0 0}
.user-name{width:102px;line-height:16px}
.a-logout{position:absolute;top:24px;right:12px;border-left:solid 1px #9eab9e;padding-left:10px;line-height:14px}

.a-add-path, .a-up{font-family: 'pf_agora_slab_pro_thin'}
.site-name{margin-top:12px}
.a-add-path{background:#6f5e4e;float:left;width:auto;padding:0 15px;color:#fff;text-decoration:none;height:31px;line-height:31px;margin:18px 0 0 3%;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;display: none;}
.a-add-path:hover, .a-up:hover{background:#a58e78;color:#fff}

.a-up{position:fixed;right:20px;bottom:0;background:#6f5e4e;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;width:auto;padding:5px 25px;color:#fff;text-decoration:none;z-index:1234;line-height:18px;display:none}
	.a-up span{font-size:18px}

.progress{font-size:12px;line-height:16px;display: none;}
.p-photo-name{color:#333}
.file-size{font-size:10px}
.progress-bar{display:inline-block;.display:inline;.zoom:1;width:100px;height:4px;font-size:0;line-height:0;overflow:hidden;position:relative;margin:0 4px;background:url(../images/progress.png) 0 0 repeat-x;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;vertical-align:middle}
.progress-value{position:absolute;left:0;top:0;height:4px;background:url(../images/progress.png) 0 100% repeat-x;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}

.ajax-select{position:relative;height:36px;width:449px;z-index:126}
.arrow-input{position:absolute;width:34px;height:32px;right:4px;top:2px;background:#fff;cursor:pointer}
	.arrow-input i{position:absolute;border:6px solid transparent;
border-top-color:#000;top:14px;left:12px}
.drop-select{background:#becfbc;left:0;top:36px;position:absolute;overflow:hidden;.zoom:1;z-index:125;width:449px;-moz-border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;-moz-box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .3);-webkit-box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .3);box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .3);display:none}
	.drop-select ul{float:left;width:149px;margin:0 0 0 1px;padding:8px 0}
	.drop-select ul:first-child{margin:0}
		.drop-select ul li{padding:3px 10px;color:#000;margin:1px 0}
		.drop-select ul li:hover, .drop-select ul li.selected{color:#fff;background:#6b7968;cursor:pointer}

.tabs-places.user-tabs-places{width:938px;-moz-box-shadow:0 2px 4px rgba(0, 0, 0, .78);-webkit-box-shadow:0 2px 4px rgba(0, 0, 0, .78);box-shadow:0 2px 4px rgba(0, 0, 0, .78);height:40px;margin-bottom:30px;-moz-border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px}
	.user-tabs-places a{width:186px;border-left:solid 1px #ab9785;border-right:solid 1px #685442;padding:0;height:40px;background:url(../images/bg-menu-center.png) 0 0 repeat-x;font-size:18px;line-height:40px}
	.user-tabs-places a.last{border-right:0;-moz-border-radius:0 0 2px 0;-webkit-border-radius:0 0 2px 0;border-radius:0 0 2px 0}
	.user-tabs-places a:first-child{border-left:0;-moz-border-radius:0 0 0 2px;-webkit-border-radius:0 0 0 2px;border-radius:0 0 0 2px}
	.user-tabs-places a.active{background-position:0 -104px;-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, .78);-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, .78);box-shadow:inset 0 2px 4px rgba(0, 0, 0, .78);position:relative;z-index:1;padding:0 2px;margin:0 -1px;border:0}
	.user-tabs-places a.last.active{padding:0 0 0 2px;margin:0 0 0 -1px}
	.user-tabs-places a:first-child.active{padding:0 2px 0 0;margin:0 -1px 0 0}
	
	.user-tabs-places a.active:after, .user-tabs-places a.active .after{content:"";display:block;border:solid 10px transparent;border-top-color:#473a2e;position:absolute;left:50%;top:40px;margin:0 0 0 -10px;width:0;-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, .78);-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, .78);box-shadow:inset 0 2px 4px rgba(0, 0, 0, .78)}
	.user-tabs-places a.active{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<div class="after"></div>'));}
    .user-tabs-places.fix{position: fixed;top: 100px;left: 50%;margin-left: -469px;}
    .user-tabs-places .count-want-visit{background:url(../images/count-want-visit.png) 0 0 repeat-x;font-size:12px;color:#8D7661;line-height:21px;text-align: center;font-weight: bold;height: 20px;left: 531px;position: relative;top: -33px;width: 20px;z-index: 2000;float:left;}
    /*.user-tabs-places .count-want-visit{background:url(../images/count-want-visit.png) 0 0 repeat-x;font-size:12px;color:#8D7661;line-height:21px;text-align: center;font-weight: bold;height: 20px;left: 684px;position: absolute;top: 417px;width: 20px;z-index: 2000;}*/


#popup-add-path {width: 192px;background:#EFFBEE;-moz-box-shadow: 0 5px 9px rgba(0, 0, 0, .42);
-webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, .42);box-shadow: 0 5px 9px rgba(0, 0, 0, .42);padding: 30px 40px 40px}
	#popup-add-path select{width:192px}
	#popup-add-path .field-select{position:relative;width:192px;top:0;left:0;margin:0;.zoom:1;margin-bottom:0px}
	#popup-add-path .cuselOpen{margin-bottom:30px}
	#popup-add-path .field-select:after{content:"";display:block;height:1px;clear:both;overflow:hidden}
	#popup-add-path .cusel{background:#6a7a68;width:192px !important;height:auto !important;min-height:30px}
		#popup-add-path .field-select .cuselFrameRight{background-image:url(../images/arrow-select-green.png);top:0;height:30px}
		#popup-add-path .cusel-scroll-wrap{position:relative;top:30px;left:0}
		#popup-add-path .cusel .cusel-scroll-wrap{background:#6a7a68}
		#popup-add-path .cusel .jScrollPaneTrack, #popup-add-path .cusel .jScrollArrowUp, #popup-add-path .cusel .jScrollArrowDown{background-image:url(../images/track-green.png)}
		#popup-add-path .cusel .jScrollPaneDrag{background:#80957d}
		#popup-add-path .cusel .jScrollPaneDragTop{background:#80957d;border-top:solid 1px #8fa68c}
		#popup-add-path .cusel .jScrollPaneDragBottom{background:#80957d;border-bottom:solid 1px #384437;overflow:hidden}
		#popup-add-path .cuselText, #popup-add-path .cusel span, #popup-add-path .cusel .cuselOptHover{text-decoration:none !important}
		#popup-add-path .cusel span:hover, #popup-add-path .cusel .cuselOptHover, #popup-add-path .cuselActive{color:#e6fee3;background:#778774}

.page-404 #content{padding-top:115px}
.page-404 #wrap{background:none}

.content-404{min-height:670px;background:url(../images/page-404-bg.jpg) 50% 50% no-repeat;position:relative;color:#687668;font-size:16px;line-height:28px}
	.content-404 .body{position:absolute;left:50%;top:178px;margin:0 0 0 -24px}
	.content-404 h2{font-size:36px;line-height:36px;margin:0 0 9px}
.content-off{min-height:670px;background:url(../images/page-off-bg.jpg) 50% 50% no-repeat;position:relative;color:#687668;font-size:16px;line-height:28px}
	.content-off .body{position:absolute;left:32%;top:178px;margin:0 0 0 -24px}
	.content-off h2{font-size:36px;line-height:36px;margin:0 0 9px}
html{background:url(../images/bg.jpg) 50% 0 repeat}
#popup-auth h3{margin:0 0 12px}
#popup-auth h3 + p{padding:0 0 16px;font-size:14.5px}
#popup-auth footer{padding:20px 43px}
#popup-auth{padding-bottom:20px}

#popup-from-route{width: 527px;}

#popup-save-route{width: 527px;}
#popup-save-route dd input[type="text"]{width: 462px;}
#popup-save-route textarea{width: 462px;}
#popup-save-route input[type="submit"]{margin: 14px 0 0px;}

.map-buttons{position:absolute;background:#96323e;height:27px;padding:6px 0 0;top:364px;left:50%;margin:0 0 0 -195px;width:390px;z-index:5;text-align:center;white-space:nowrap;display: none;}
	.map-buttons a{display:inline-block;.display:inline;.zoom:1;border-left:solid 1px #6e181a;color:#fff;padding:0 26px;line-height:14px;font-size:13px;text-decoration:none}
	.map-buttons a:first-child{border-left:0}
	.map-buttons a:hover{text-decoration:underline}
	

.a-add-to-path, .a-edit, .a-want-visit{display:block;width:120px;height:26px;font:bold 10px/26px "Trebuchet MS", "Helvetica CY", sans-serif;text-align:center;text-decoration:none;color:#fff;padding:0 2px 2px 0;background:url(../images/add-to-path-button.png) 0 0 no-repeat;margin:12px 0 2px;margin-left: 40px;}
	.a-add-to-path:hover, .a-edit:hover, .a-want-visit:hover{color:#fff;background-position:0 -38px}

.ymaps-controls-pane .search{height:22px;margin:20px 0 0;width: 570px;}
.ymaps-controls-pane .search input{width:100%;padding:4px 5px;border:solid 1px #bcc6bb;background:#fff;border-radius:2px;color:#abadaa;font:14px verdana, sans-serif}
.typeahead.dropdown-menu{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
}
.typeahead.dropdown-menu li{
    font: 14px verdana,sans-serif;
    overflow: hidden;
    padding: 5px 10px;
    white-space: nowrap;
}
.typeahead.dropdown-menu li:hover{
    background: none repeat scroll 0 0 #C9E6ED;
}
.typeahead.dropdown-menu li a{
    text-decoration: none;
}
.clear{
    clear: both;
}