<div class="header__search">
  <select data-placeholder="Места, маршруты, события...">
    <option></option>
    <option value="1" data-type="g" data-city="г. Вологда">Вологодские узоры</option>
    <option value="2" data-type="y" data-city="г. Вологда">Вологодские мероприятия</option>
    <option value="3" data-type="b" data-city="г. Вологда">Вологодские кафе</option>
    <option value="4" data-type="br" data-city="г. Вологда">Вологодские места отдыха</option>
    <option value="5" data-type="g" data-city="г. Вологда">Вологодские дороги</option>
  </select>
</div><!-- class="header__search" -->
<a href="/" class="logo">
  <img src="/static//images/logo.png" alt="ЯсенПуть">
</a>
<div class="header__btns">
  <a href="#?" class="btn btn_action_add">
    <span class="sprite-add"></span>
  </a>
  <!-- <a href="#?" class="btn btn_color_blue">Войти</a> -->
  <div class="header__user">
    <a href="#?" class="link-user">
      <img src="/static/images/guest.png" alt="uset" class="photo">
      Константин Константиновский
    </a>
    <a href="#?" class="btn btn_color_blue js-profile-menu"></a>
    <ul class="profile-menu">
      <li class="item">
        <a href="#?" class="link">
          <span class="icon sprite-bag"></span>
          Я создал
        </a>
        <a href="#?" class="link">
          <span class="icon sprite-heart"></span>
          Мне нравится
        </a>
        <a href="#?" class="link">
          <span class="icon sprite-settings"></span>
          Настройки
        </a>
        <a href="#?" class="link">
          <span class="icon sprite-power"></span>
          Выход
        </a>
      </li>
    </ul>
  </div>
</div><!-- class="header__btns" -->
