<div class="slogan">Путешествуйте вместе с нами</div>
<div class="query">
  <form id="destination-form" action="/">
    <input id="destination-input" type="text" placeholder="Куда вы собираетесь?">
    <button type="submit" class="btn btn_color_blue">Поехали</button>
  </form>
  <span>
    Например,
    <a class="search-example" data-name="Череповец" data-address="Вологодская область" href="#">Череповец</a> ,
    <a class="search-example" data-name="Устюжна" data-address="Вологодская область" href="#">Устюжна</a> ,
    <a class="search-example" data-name="Республика Крым" data-address="Россия" href="#">Крым</a>
  </span>
</div>
