<ul class="categories">
  <li class="categories__item categories__item_btn">
  <a href="/trip" class="categories__link btn btn_color_grey {{#ifEquals settings.models 'trips'}}btn_color_green{{/ifEquals}}" data-model="trips" title="Показать только бесплатные путешествия">Путешествия</a>
  </li>
  <li class="categories__item categories__item_btn">
    <a href="/trip" class="categories__link btn btn_color_grey {{#ifEquals settings.models 'trips'}}btn_color_green{{/ifEquals}}" data-model="trips" title="Показать только платные экскурсии">Экскурсии</a>
  </li>
  <li class="categories__item categories__item_btn">
    <a href="/point" class="categories__link btn btn_color_grey {{#ifEquals settings.models 'points'}}btn_color_green{{/ifEquals}}" data-model="points" title="Показать только места">Места</a>
  </li>
  <li class="categories__item categories__item_btn">
    <a href="/event" class="categories__link btn btn_color_grey {{#ifEquals settings.models 'events'}}btn_color_green{{/ifEquals}}" data-model="events" title="Показатьтолько события">События</a>
  </li>
  <li class="categories__item categories__item_btn">
    <a href="/route" class="categories__link btn btn_color_grey {{#ifEquals settings.models 'routes'}}btn_color_green{{/ifEquals}}" data-model="routes" title="Показать только маршруты">Маршруты</a>
  </li>
</ul>

<!--
<ul class="categories">
  {{#each items}}
  <li class="categories__item">
    <a href="#" class="categories__link sprite-filter-photo {{style}}" data-id="{{id}}" data-toggle="tooltip" data-placement="bottom" title="{{name}}"></a>
  </li>
  {{/each}}
  <li class="categories__item"><a href="#?" class="categories__link categories__link_type_all sprite-filter-all"></a></li>
</ul>
<div class="filter-type">
  <a href="#?" class="btn btn_color_grey js-open">Выберите тип</a>
  <ul class="filter-type__list">
    <li class="filter-type__item">
      <a data-name="Выберите тип" data-models="" href="#?" class="filter-type__link active">Все</a>
    </li>
    <li class="filter-type__item">
      <a data-name="Путешествия" data-models="trips" href="#?" class="filter-type__link c-trip">Путешествия</a>
    </li>
    <li class="filter-type__item">
      <a data-name="Места" data-models="points" href="#?" class="filter-type__link c-place">Места</a>
    </li>
    <li class="filter-type__item">
      <a data-name="Маршруты" data-models="routes" href="#?" class="filter-type__link c-route">Маршруты</a>
    </li>
    <li class="filter-type__item">
      <a data-name="События" data-models="events" href="#?" class="filter-type__link c-event">События</a>
    </li>
  </ul>
</div>

<div class="filter-sort">
  <a href="#?" class="sprite-filter-down" data-toggle="tooltip" data-placement="bottom" title="Новое"></a>
  <a href="#?" class="sprite-filter-up" data-toggle="tooltip" data-placement="bottom" title="Популярное"></a>
</div>
<div class="filter-dropdown">
  <div class="dropdown">
    <a href="" class="link sprite-filter2-time" title="Продолжительность" data-toggle="dropdown"></a>
    <div class="dropdown-block dropdown-block_time">
      от&nbsp;
      <input type="text" class="delay_start">&nbsp;&nbsp;
      до&nbsp;
      <input type="text" class="delay_end">&nbsp;&nbsp;
      дней
      <button class="btn btn_color_green-dark yp_delay_sub">Ок</button>
    </div>
  </div>
  <div class="dropdown">
    <a href="" class="link sprite-filter2-money" title="Диапазон цен" data-toggle="dropdown"></a>
    <div class="dropdown-block dropdown-block_money">
      от&nbsp;
      <input type="text" class="price_start">&nbsp;&nbsp;
      до&nbsp;
      <input type="text" class="price_end">&nbsp;
      <span class="sprite-ruble-dark"></span>
      <button class="btn btn_color_green-dark yp_price_sub">Ок</button>
    </div>
  </div>
</div>
-->
