<div class="popupwin__content clearfix">
  <div class="popupwin__title clearfix">
    Добавить
  </div>
  <ul class="stuff-add">
    <li class="stuff-add__item">
      <a href="/add/point" class="stuff-add__link js-popup-add-place">
        <span class="icon icon_place"></span>
        <span class="btn btn_color_green">Добавить место</span>
        <span class="text">Город, гостиница, кафе, улица...</span>
      </a>
    </li>
    <li class="stuff-add__item">
      <a href="/add/event" class="stuff-add__link js-popup-add-event">
        <span class="icon icon_event"></span>
        <span class="btn btn_color_yel">Добавить событие</span>
        <span class="text">Фестивали, выставки, праздники...</span>
      </a>
    </li>
    <!--
    <li class="stuff-add__item">
      <a  class="stuff-add__link ">
        <span class="icon icon_route"></span>
        <span class="btn btn_color_brown">Добавить маршрут</span>
        <span class="text">Откуда, куда и как...</span>
      </a>
    </li>
    -->
    <li class="stuff-add__item">
      <a href="/add/trip" class="stuff-add__link js-popup-add-trip">
        {{#if user.dealer}}
        <span class="icon icon_trip"></span>
        <span class="btn btn_color_blue">Добавить экскурсию</span>
        {{else}}
        <span class="icon icon_trip"></span>
        <span class="btn btn_color_blue">Добавить путешествие</span>
        {{/if}}
        <span class="text">Фото, маршруты, события, места</span>
      </a>
    </li>
  </ul>
</div><!-- class="popup-content" -->
