<div class="popupwin__content clearfix">
  <div class="popupwin__title clearfix">
    Войти
  </div>
  <div class="wrap-content">
    <div class="title-entry">Авторизируйтесь через социальные сети</div>
    <ul class="soc-reg">
      <li class="soc-reg__item"><a href="/auth/login/vk-oauth2/?next=/{{current}}" class="link link_vk"></a></li>
      <li class="soc-reg__item"><a href="/auth/login/facebook/?next=/{{current}}" class="link link_fb"></a></li>
      <li class="soc-reg__item"><a href="/auth/login/twitter/?next=/{{current}}" class="link link_tw"></a></li>
      <li class="soc-reg__item"><a href="#?" class="link link_odn disabled"></a></li>
      <li class="soc-reg__item"><a href="#?" class="link link_ya disabled"></a></li>
      <li class="soc-reg__item"><a href="#?" class="link link_mail disabled"></a></li>
    </ul>
    <div class="title-entry"><span class="c-place">Вход для гидов через e-mail</span></div>
    <form method="POST" action="/login/" id="loginForm">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{token}}">
      <div class="form">
        <div class="form__field clearfix">
          <div class="form__item form__item_email left">
            <input type="text" placeholder="Ваш email">
          </div>
          <div class="form__item form__pass right">
            <input type="text" placeholder="Ваш пароль">
          </div>
        </div>
        <div class="links right">
          <a href="/register/" class="link register">зарегистрироваться?</a><br>
          <!--<a href="#?" class="link">забыли пароль</a>-->
        </div>
        <input type="submit" value="Войти" class="btn btn_color_blue">
      </div>
    </form>
  </div>
</div><!-- class="popup-content" -->
