<div class="popupwin__content clearfix">
  <div class="popupwin__title clearfix">
    Войти
  </div>
  <div class="wrap-content">
    <div class="title-entry">Авторизируйтесь через социальные сети</div>
    <ul class="soc-reg">
      <li class="soc-reg__item"><a href="/login/vkontakte-oauth2/" class="link link_vk"></a></li>
      <li class="soc-reg__item"><a href="#?" class="link link_fb disabled"></a></li>
      <li class="soc-reg__item"><a href="#?" class="link link_tw disabled"></a></li>
      <li class="soc-reg__item"><a href="#?" class="link link_odn disabled"></a></li>
      <li class="soc-reg__item"><a href="#?" class="link link_ya disabled"></a></li>
      <li class="soc-reg__item"><a href="#?" class="link link_mail disabled"></a></li>
    </ul>
    <!--
    <div class="title-entry"><span class="c-place">Или через e-mail</span></div>
    <form action="/">
      <div class="form">
        <div class="form__field clearfix">
          <div class="form__item form__item_email left">
            <input type="text" placeholder="Ваш email">
          </div>
          <div class="form__item form__pass right">
            <input type="text" placeholder="Ваш пароль">
          </div>
        </div>
        <div class="links right">
          <a href="#?" class="link">зарегистрироваться?</a><br>
          <a href="#?" class="link">забыли пароль</a>
        </div>
        <input type="submit" value="Войти" class="btn btn_color_blue">
      </div>
    </form>
    -->
  </div>
</div><!-- class="popup-content" -->
