<div class="popupwin__content clearfix">
  <div class="popupwin__title clearfix">
    Заказать маршрут
  </div>
  <div class="form">
    <div class="field">
      <label>Ваши ФИО:</label>
      <input name="fullname" type="text">
    </div>
    <div class="field field_email">
      <label>E-mail:</label>
      <input name="email" type="text">
    </div>
    <div class="field field_phone">
      <label>Телефон:</label>
      <input name="phone" type="text" placeholder="* (***) ***-**-**">
    </div>
    <div class="note">Все поля обязательны для заполнения</div>
  </div>
  <div class="popupwin__footer clearfix">
    <a href="#?" class="btn btn_color_blue right js-finish">Готово</a>
  </div>
</div><!-- class="popup-content" -->
