<div class="popupwin__route-wrap clearfix">
  <div id="route-aside-region"></div>

  <div class="popupwin__content">
    <div id="route-header-region" class="place-info clearfix"></div>
    <div id="route-map-region"></div>
    <!--<div class="map map_popupwin">
      <a href="#?" class="map__close sprite-close js-map-close"></a>
      <div class="map__container" id="map4"></div>
      <a href="#?" class="btn-open js-map-open"></a>
    </div>-->
    <div class="description">
      <h3 class="description__title route_name">{{ name }}</h3>
      <p class="description__text route_description">{{ description }}</p>
    </div>
    <div class="comments-wrap" id="route-comments-region"></div>

  </div>
</div>
