<a href="#" class="user">
  <img src="{{author.icon}}" alt="" class="img">
  <span class="name">{{author.first_name}} {{author.last_name}}</span><br>
  добавил <span class="type c-route">маршрут</span>
</a>
<ul class="actions">
  <li class="item">
    <!--<a href="#?" class="btn btn_color_grey btn-print">
      <span class="icon sprite-print"></span>
      <span class="text">Печать</span>
    </a>
  </li>
  <li class="item">
    <a href="#?" class="btn-like">
      <span class="icon sprite-like-user"></span>
      <span class="text">4</span>
    </a>
  </li>
  <li class="item">
    <a href="#?" class="btn btn_color_blue">
      Создать путешествие
    </a>
  </li>-
  <li class="item">
    <a href="#?" class="btn-upload">
      <span class="icon sprite-upload"></span>
    </a>
    <div class="soc-wrap">
      <ul class="soc-list">
        <li class="soc-list__item">
          <a href="#?" class="btn-soc btn-soc_tw">Twitter</a>
        </li>
        <li class="soc-list__item">
          <a href="#?" class="btn-soc btn-soc_vk">Вконтакте</a>
        </li>
        <li class="soc-list__item">
          <a href="#?" class="btn-soc btn-soc_fb">Facebook</a>
        </li>
      </ul>
    </div>
  </li>-->
</ul>
