<!--<div class="popupwin__content clearfix">
  <div id="route-header-region" class="place-info clearfix"></div>
  
  <div id="route-photo-region"></div> 

  <div class="description">
    <h3 class="description__title">{{name}}</h3>
    <p class="description__text">{{description}}</p>
    
    <div class="description__address">{{address}}</div>
  </div>

  <div id="route-map-region"></div>

  <div class="comments-wrap" id="route-comments-region"></div>
</div>

{{#if likeusers}}
<div class="popupwin__content clearfix">
  <div class="title title_blue title_bg_light">Им понравилось:</div>
  <ul class="peoples">
    {{#likeusers}}
      <li class="peoples__item">
        <a href="#" class="peoples__link">
          <img src="{{icon}}" alt="{{ first_name }} {{ last_name}}" class="peoples__img">
        </a>
      </li>
    {{/likeusers}}
  </ul>
</div>
{{/if}}

{{#if sets}}
<div class="popupwin__content clearfix">
  <div class="title title_green title_bg_light">Добавили к себе в путешествие:</div>
  <ul class="peoples">
    {{#sets}}
      <li class="peoples__item">
        <a href="#" class="peoples__link">
          <img src="{{author.icon}}" alt="user" class="peoples__img">
        </a>
      </li>
    {{/sets}}
    <li class="peoples__item">
      <a href="#" class="peoples__link peoples__link_all js-more-people">
        Ещё
      </a>
    </li>
  </ul>
</div>
{{/if}}-->

<div class="popupwin__route-wrap clearfix">
            <!--<div class="popupwin__aside">
              <div class="route-list popupwin__content">
                <div class="title">Добавленные места и события</div>
                <ul class="list">
                  <li class="item">
                    <a href="#?" class="close js-delete"></a>
                    <a href="#?" class="link-wrap js-popupwin-place">
                      <span class="drag"></span>
                      <span class="number">1</span>
                      <img src="media/uploads/route-1.png" alt="" class="img">
                      <div class="text">
                        <span class="text__place">Ферапонтов монастырь</span>
                        <span class="text__type c-place">место</span>
                      </div>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="close js-delete"></a>
                    <a href="#?" class="link-wrap js-popupwin-event">
                      <span class="drag"></span>
                      <span class="number">2</span>
                      <img src="media/uploads/route-2.png" alt="" class="img">
                      <div class="text">
                        <span class="text__place">Российский дельфинарий впервые...</span>
                        <span class="text__type c-event">событие 14.09—20.10</span>
                      </div>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="close js-delete"></a>
                    <a href="#?" class="link-wrap js-popupwin-event">
                      <span class="drag"></span>
                      <span class="number">3</span>
                      <img src="media/uploads/route-3.png" alt="" class="img">
                      <div class="text">
                        <span class="text__place">Фестиваль красок ХОЛИ Не пропустите самый...</span>
                        <span class="text__type c-event">событие 14.09</span>
                      </div>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="close js-delete"></a>
                    <a href="#?" class="link-wrap js-popupwin-place">
                      <span class="drag"></span>
                      <span class="number">4</span>
                      <img src="media/uploads/route-4.png" alt="" class="img">
                      <div class="text">
                        <span class="text__place">Архиерейское подворье (Вологодский кремль)</span>
                        <span class="text__type c-place">место</span>
                      </div>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="close js-delete"></a>
                    <a href="#?" class="link-wrap js-popupwin-place">
                      <span class="drag"></span>
                      <span class="number">5</span>
                      <img src="media/uploads/route-1.png" alt="" class="img">
                      <div class="text">
                        <span class="text__place">Ферапонтов монастырь</span>
                        <span class="text__type c-place">место</span>
                      </div>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="close js-delete"></a>
                    <a href="#?" class="link-wrap js-popupwin-event">
                      <span class="drag"></span>
                      <span class="number">6</span>
                      <img src="media/uploads/route-2.png" alt="" class="img">
                      <div class="text">
                        <span class="text__place">Российский дельфинарий впервые...</span>
                        <span class="text__type c-event">событие 14.09—20.10</span>
                      </div>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="close js-delete"></a>
                    <a href="#?" class="link-wrap js-popupwin-place">
                      <span class="drag"></span>
                      <span class="number">7</span>
                      <img src="media/uploads/route-3.png" alt="" class="img">
                      <div class="text">
                        <span class="text__place">Фестиваль красок ХОЛИ Не пропустите самый...</span>
                        <span class="text__type c-event">событие 14.09</span>
                      </div>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="close js-delete"></a>
                    <a href="#?" class="link-wrap js-popupwin-place">
                      <span class="drag"></span>
                      <span class="number">8</span>
                      <img src="media/uploads/route-4.png" alt="" class="img">
                      <div class="text">
                        <span class="text__place">Архиерейское подворье (Вологодский кремль)</span>
                        <span class="text__type c-place">место</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="route-aside-commercial popupwin__content">
                <div class="price">10 000 <span class="sprite-ruble-green-big"></span></div>
                <div class="text">Цена данного маршрута вместе с <a href="#?">Белкотур</a></div>
                <a href="#?" class="btn btn_color_blue js-popup-order-route">Заказать маршрут</a>
              </div>
            </div>-->
            <div class="popupwin__content">
              <div class="place-info clearfix">
                <a href="#?" class="user">
                  <img class="route_img" src="media/uploads/user-place-1.png" alt="" class="img">
                  <span class="name route_author"></span><br>
                  добавил <span class="type c-route">маршрут</span>
                </a>
                <ul class="actions">
                  <li class="item">
                    <!--<a href="#?" class="btn btn_color_grey btn-print">
                      <span class="icon sprite-print"></span>
                      <span class="text">Печать</span>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="btn-like">
                      <span class="icon sprite-like-user"></span>
                      <span class="text">4</span>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#?" class="btn btn_color_blue">
                      Создать путешествие
                    </a>
                  </li>-
                  <li class="item">
                    <a href="#?" class="btn-upload">
                      <span class="icon sprite-upload"></span>
                    </a>
                    <div class="soc-wrap">
                      <ul class="soc-list">
                        <li class="soc-list__item">
                          <a href="#?" class="btn-soc btn-soc_tw">Twitter</a>
                        </li>
                        <li class="soc-list__item">
                          <a href="#?" class="btn-soc btn-soc_vk">Вконтакте</a>
                        </li>
                        <li class="soc-list__item">
                          <a href="#?" class="btn-soc btn-soc_fb">Facebook</a>
                        </li>
                      </ul>
                    </div>
                  </li>-->
                </ul>
              </div>
              <div id="route-map-region"></div>
              <!--<div class="map map_popupwin">
                <a href="#?" class="map__close sprite-close js-map-close"></a>
                <div class="map__container" id="map4"></div>
                <a href="#?" class="btn-open js-map-open"></a>
              </div>-->
              <div class="description">
                <h3 class="description__title route_name"></h3>
                <p class="description__text route_description"></p>
              </div>
              <!--<div class="comments-wrap">
                <ul class="comments">
                  <li class="comments__item">
                    <a href="#?" class="photo">
                      <img src="media/uploads/user-comments-1.png" alt="user1" class="photo__img">
                    </a>
                    <div class="text">
                      <div class="text__info">
                        <a href="#?" class="name">Нина Реджинова</a>
                        <span class="time">&bull; 12.04.2013 в 17:27</span>
                      </div>
                      <div class="text__comment">В XVI веке рядом с ним появился малый Ивановский монастырь.</div>
                    </div>
                  </li>
                  <li class="comments__item">
                    <a href="#?" class="photo">
                      <img src="media/uploads/user-comments-2.png" alt="user1" class="photo__img">
                    </a>
                    <div class="text">
                      <div class="text__info">
                        <a href="#?" class="name">Константин Васильевич</a>
                        <span class="time">&bull; 12.04.2013 в 17:27</span>
                      </div>
                      <div class="text__comment">Одно из самых древних и самых известных подворий монастыря было Кремлёвское Кирилловское подворье — подворье Кирилло-Белозерского монастыря в Московском Кремле. Подворье находилось недалеко от Фроловских ворот (ныне Спасская башня)</div>
                    </div>
                  </li>
                  <li class="comments__item">
                    <a href="#?" class="photo">
                      <img src="media/uploads/user-comments-3.png" alt="user1" class="photo__img">
                    </a>
                    <div class="text">
                      <div class="text__info">
                        <a href="#?" class="name">Виталий Вадимович</a>
                        <span class="time">&bull; 12.04.2013 в 17:27</span>
                      </div>
                      <div class="text__comment">В комплекс Кирилло-Белозерского монастыря входят ансамбли Большого Успенского и Ивановского монастырей</div>
                    </div>
                  </li>
                  <li class="comments__item">
                    <form action="/">
                      <a href="#?" class="photo">
                        <img src="media/uploads/user-comments-4.png" alt="user1" class="photo__img">
                      </a>
                      <div class="text">
                        <textarea placeholder="Написать комментарий"></textarea>
                        <input type="submit" class="btn btn_color_blue" value="Комментировать">
                      </div>
                    </form>
                  </li>
                </ul>
              </div>-->
            </div><!-- class="popup-content" -->
            <!--<div class="popupwin__content">
              <div class="title title_blue title_bg_light">Им понравилось:</div>
              <ul class="peoples">
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-1.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-2.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-3.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-4.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-yp.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-1.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-1.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-2.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-3.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-4.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-yp.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-1.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-1.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-2.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-3.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-4.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-yp.png" alt="user" class="peoples__img">
                  </a>
                </li>
                <li class="peoples__item">
                  <a href="#?" class="peoples__link">
                    <img src="media/uploads/user-comments-1.png" alt="user" class="peoples__img">
                  </a>
                </li>
              </ul>
            </div><!-- class="popup-content" -->
          </div>
