<div class="popup" id="popup-from-route">
    <div class="fl popup-content">
        <article class="popup-body">
            <h3>Поеду из ...</h3>
            <div class="map-add-place">
                <div class="map" id="addmaprf" style="width:485px;height:390px;">

                </div>
                <div class="hint-specify-place">Указать место<br>на карте</div>
                <div class="map-shadow-top"></div>
                <div class="map-shadow-left"></div>
                <div class="map-shadow-right"></div>
            </div>
            <dt><label>Координаты</label></dt>
            <dd>
                <small class="hint-coord">широта</small>
                <input type="text" id="ap-coords-latitude">
                <small class="hint-coord">долгота</small>
                <input type="text" id="ap-coords-longitude">
                <a href="#" id='ap-coords-locate'>определить мои координаты</a>
            </dd>
            <input type="submit" value="Сформировать" class="a-want" id="a-from-point">
        </article>

        <footer>
            <div class="share"></div>
        </footer>
    </div>
</div>