<div class="popup" id="popup-save-route">
    <div class="fl popup-content">
        <article class="popup-body">
        <h3>Сохранить маршрут</h3>
            <div class="">
                <dl>
                    <dt><label for="ap-name">Название</label></dt>
                    <dd><input type="text" value=""  id="ap-name"></dd>
                    <dt><label for="ap-desc">Описание</label></dt>
                    <dd><textarea cols="40" rows="7" id="ap-desc"></textarea></dd>
                </dl>
            </div>

            <div class="clear"></div>

            <input type="submit" value="Сохранить" class="a-want" id="a-save-route-det">
        </article>
        <footer>
            <div class="share">

            </div>
        </footer>
    </div>
</div>
