<!doctype html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="http://yasenput.ru/assets/images/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="http://yasenput.ru/assets/images/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    {% block preload_css %}{% endblock %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">

    {% block postload_css %}{% endblock %}

    <script src="{{ STATIC_URL }}lib/modernizr.min.js"></script>
    <script src="{{ STATIC_URL }}lib/jquery-1.10.1.min.js"></script>
  </head>

  <body class="front">
    {% if user.is_authenticated %}
      <script>
        var USER = {
          authorized: true,
          id: {{user.id}},
          first_name: '{{ user.first_name }}',
          last_name: '{{ user.last_name }}',
          avatar: '{{ user.person.avatar }}',
          last_state: 'pins',
          count_liked_objects: {{ count_liked_objects }},
          count_commented_objects: {{ count_commented_objects }},
        };
      </script>
    {% else %}
      <script>
        var USER = {
          authorized: false
        };
      </script>
    {% endif %}
    <div id="fb-root"></div>
    <a href="#" class="a-up">Вверх <span>&uarr;</span></a>
    {% csrf_token %}

    <div id="wrap">
      {% block wrap %}{% endblock %}
    </div>
    <div id="overlay"></div>

    {% block popups %}{% endblock %}

    <script src="{{ STATIC_URL }}lib/json2.js"></script>
    <script src="{{ STATIC_URL }}lib/masonry.min.js"></script>
    <script src="{{ STATIC_URL }}lib/jquery.form.js"></script>
    <script src="{{ STATIC_URL }}lib/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}lib/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}lib/handlebars.js"></script>
    <script src="{{ STATIC_URL }}lib/lodash.min.js"></script>
    <script src="{{ STATIC_URL }}lib/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}lib/backbone.marionette.min.js"></script>
    <script src="{{ STATIC_URL }}lib/infiniScroll.js"></script>

    {# application.main #}
    <script src="{{ STATIC_URL }}js/application.js"></script>

    {% block postload_js %}{% endblock %}

    {# external #}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js"></script>

    <script type="text/javascript">
      //FB init
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      //VK init
      VK.init({apiId: {{ VKONTAKTE_APP_ID }}, onlyWidgets: true});
      VK.Widgets.Like("vk_like", {type: "mini"}, 1000);

    </script>
    <!--
    -->

    {# include 'includes/metrika.html' #}
  </body>

</html>
