<!doctype html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="http://yasenput.ru/assets/images/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="http://yasenput.ru/assets/images/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    {% block preload_css %}{% endblock %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">

    {% block postload_css %}{% endblock %}

    <script src="{{ STATIC_URL }}lib/modernizr.min.js"></script>
    <script src="{{ STATIC_URL }}lib/jquery.js"></script>
  </head>

  <body class="front">
    <div id="fb-root"></div>
    <a href="#" class="a-up">Вверх <span>&uarr;</span></a>
    {% csrf_token %}

    <div id="wrap">
        {% block wrap %}{% endblock %}
    </div>
    <div id="overlay"></div>

    {% block popups %}{% endblock %}

    <script src="{{ STATIC_URL }}lib/json2.js"></script>
    <script src="{{ STATIC_URL }}lib/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}lib/jquery.form.js"></script>

    <script src="{{ STATIC_URL }}lib/bootstrap-tooltip.js"></script>

    <script src="{{ STATIC_URL }}lib/handlebars.js"></script>

    {# backbone #}
    <script src="{{ STATIC_URL }}lib/underscore.js"></script>
    <script src="{{ STATIC_URL }}lib/backbone.js"></script>
    <script src="{{ STATIC_URL }}lib/backbone.marionette.js"></script>
    <script src="{{ STATIC_URL }}lib/infiniScroll.js"></script>

    {% block preload_js %}{% endblock %}

    {# application.main #}
    <script src="{{ STATIC_URL }}js/application.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
          $(window).scrollTop(400);
      });
    </script>

    <!--
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU&wizard=constructor&onload=Yapp.Map.init" type="text/javascript"></script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=ru-RU&coordorder=longlat&load=package.full&wizard=constructor&onload=Yapp.Map.init"></script>
    -->

    {% block postload_js %}{% endblock %}

    {# external #}
    <!--
    <script type="text/javascript" src="//vk.com/js/api/openapi.js"></script>

    <script type="text/javascript">
      //VK init
      VK.init({apiId: {{ VKONTAKTE_APP_ID }}, onlyWidgets: true});
      VK.Widgets.Like("vk_like", {type: "mini"});

      //FB init
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    -->

    {# include 'includes/metrika.html' #}
  </body>

</html>
