<!doctype html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="http://yasenput.ru/assets/images/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="http://yasenput.ru/assets/images/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">

  </head>

  <body class="front">
    <div id="fb-root"></div>
    {% csrf_token %}

    <div id="wrap">
      {% block wrap %}{% endblock %}
    </div>

    {% block aside %}
      <aside id="panel-add-path"></aside>
    {% endblock %}

    <div id="overlay"></div>
    <span class="spinner"></span>

    {% block popups %}{% endblock %}

    {% if user.is_authenticated %}
      <script>
        var USER = {
          authorized: true,
          id: {{user.id}},
          first_name: '{{ user.first_name }}',
          last_name: '{{ user.last_name }}',
          avatar: '{{ user.person.avatar }}',
          last_state: 'pins',
          count_liked_objects: {{ count_liked_objects|default:0 }},
          count_commented_objects: {{ count_commented_objects|default:0 }},
          collections: [ {% for collection in collections %}
            {
              id: {{ collection.id }},
              name: '{{ collection.name }}'
            },
          {% endfor %} ]
        };
      </script>
    {% else %}
      <script>
        var USER = {authorized: false};
      </script>
    {% endif %}

    <!--
    <script src="{{ STATIC_URL }}lib/modernizr.min.js"></script>
    <script src="{{ STATIC_URL }}lib/jquery-1.10.1.min.js"></script>
    -->
    <script src="http://yandex.st/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="http://yandex.st/jquery/1.10.1/jquery.min.js"></script>
    {% if ASSETS_DEBUG %}
      <script src="{{ STATIC_URL }}lib/json2.js"></script>
      <script src="{{ STATIC_URL }}lib/moment.min.js"></script>
      <script src="{{ STATIC_URL }}lib/moment.ru.js"></script>
      <script src="{{ STATIC_URL }}lib/masonry.min.js"></script>
      <script src="{{ STATIC_URL }}lib/jquery.form.js"></script>
      <script src="{{ STATIC_URL }}lib/jquery.rating-2.0.min.js"></script>
      <script src="{{ STATIC_URL }}lib/jquery-sortable-min.js"></script>
      <script src="{{ STATIC_URL }}lib/bootstrap-tooltip.js"></script>
      <script src="{{ STATIC_URL }}lib/bootstrap-tab.js"></script>
      <script src="{{ STATIC_URL }}lib/bootstrap-popover.js"></script>
      <script src="{{ STATIC_URL }}lib/handlebars.js"></script>
      <script src="{{ STATIC_URL }}lib/lodash.min.js"></script>
      <script src="{{ STATIC_URL }}lib/backbone-min.js"></script>
      <script src="{{ STATIC_URL }}lib/backbone.marionette.min.js"></script>
      <script src="{{ STATIC_URL }}lib/infiniScroll.js"></script>

      {# application.main #}
      <script src="{{ STATIC_URL }}js/application.js"></script>
    {% else %}
      {# application.main #}
      <script src="{{ STATIC_URL }}js/application.js"></script>

      {% include 'includes/metrika.html' %}
    {% endif %}

    {# external #}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js"></script>

    <script type="text/javascript">
      //FB init
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      //VK init
      VK.init({apiId: {{ VKONTAKTE_APP_ID|default:1 }}, onlyWidgets: true});
      VK.Widgets.Like("vk_like", {type: "mini"}, 1000);

    </script>
    <!--
    -->

  </body>

</html>
