<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

<!--[if lte ie 7]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie7.css" media="screen, projection" /><![endif]-->
<script src="{{ STATIC_URL }}js/modernizr-1.7.min.js"></script>
</head>

<body class="page-404">
<div class="top-panel-float">
	<div class="wrap">
		<a href="#" class="site-name">
			ясен <span>путь</span>
		</a>
	</div>
</div>

<div id="wrap">
	<div id="content">
		
		<section class="content-off" style="margin-top: -150px;">
			<div class="body">
				<h2>Спасибо, что заходите к нам!</h2>
				<p>В данный момент сайт находится в разработке, но совсем скоро мы закончим, и Вы в полной мере сможете насладится его функционалом.</p>
			</div>
		</section>
	</div>
</div>

<footer id="footer">
	<div class="fl copyright">
		ЯсенПуть 2012 г.<br>Все права защищены
	</div>
	
	<div class="fr design">
		Дизайн сайта &mdash;
		<a href="#" class="lollipop"></a>
	</div>
</footer>

            <script src="{{ STATIC_URL }}js/libs/jquery-1.6.1.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
            <script src="{{ STATIC_URL }}js/libs/jquery.masonry.min.js"></script>
            <script src="{{ STATIC_URL }}js/libs/jquery.mousewheel.js"></script>
            <script src="{{ STATIC_URL }}js/libs/cusel.js"></script>
            <script src="{{ STATIC_URL }}js/libs/jScrollPane.js"></script>
            <script src="{{ STATIC_URL }}js/libs/cufon-yui.js"></script>
            <script src="{{ STATIC_URL }}js/pf_agora_slab_pro_500-pf_agora_slab_pro_700.font.js"></script>
            <script src="{{ STATIC_URL }}js/script.js"></script>
</body>
</html>
