<div class="logo"><img src="/static/images/logo-footer.png" alt="ЯсенПуть" class="img"></div>
<div class="constrain">
  <nav class="nav" style="float: left;padding: 20px 0;">
    <ul class="nav_list">
      <li class="nav__item"><a href="/about" class="nav__link">О проекте</a></li>
      <li class="nav__item"><a href="/about#about-contacts" class="nav__link">Контакты</a></li>
      <li class="nav__item"><a href="/static/images/YasenPut_oferta.docx" class="nav__link">Соглашение</a></li>
    </ul>
  </nav>
  <nav class="nav" style="float: right;">
    <ul class="nav_list" style="padding: 10px 0;">
      <li class="nav__item">
      <a href="/payments/">
      <img style="height:40px;" src="/static/images/payanyway.gif">
      </a>
      </li>
    </ul>
  </nav>
  <a href="#top" class="link-up js-up">Вверх</a>
</div>
