/*normalize.css*/
.normalize {
  padding-bottom: 1px;
  line-height: 17px;
  font-size: 12px;
  font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
}
.normalize p,
.normalize ul,
.normalize ol {
  margin-bottom: 1em;
}
.normalize:before {
  display: block;
  content: '';
}
.normalize:after {
  display: block;
  clear: both;
  content: '';
}
.normalize h1,
.normalize h2,
.normalize h3,
.normalize h4,
.normalize h5,
.normalize h6 {
  margin-bottom: 0.5em;
  font-weight: 600;
  line-height: normal;
}
.normalize h1 {
  font-size: 2em;
}
.normalize h2 {
  font-size: 1.5em;
}
.normalize h3 {
  font-size: 1.17em;
}
.normalize h4 {
  font-size: 1em;
}
.normalize h5 {
  font-size: 0.83em;
}
.normalize h6 {
  font-size: 0.75em;
}
.normalize ol,
.normalize ul {
  padding-left: 30px;
}
.normalize ul {
  list-style: disc;
}
.normalize ul ul {
  list-style: circle;
}
.normalize ul ul ul {
  list-style: square;
}
.normalize ol {
  list-style: decimal;
}
.normalize ul.unstyled,
.normalize ol.unstyled {
  padding-left: 0;
  list-style: none;
}
.normalize img {
  clear: both;
  margin-bottom: 5px;
}
.normalize img.img-left {
  float: left;
  margin: 2px 18px 12px 0;
}
.normalize img.img-right {
  float: right;
  margin: 2px 18px 12px 0;
}
.normalize table,
.normalize td,
.normalize th {
  border: none;
}
.normalize table th,
.normalize table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
}
.normalize table {
  border-spacing: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  max-width: 100%;
}
.normalize table th {
  font-weight: bold;
}
.normalize table[border] {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.normalize table[border] thead td,
.normalize table[border] thead th {
  background: #f3f3f3;
}
.normalize table[border] th,
.normalize table[border] td {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.normalize table[border] th {
  background: #f8f8f8;
}
.normalize table[border="2"],
.normalize table[border="2"] td,
.normalize table[border="2"] th {
  border-width: 2px !important;
}
.normalize table[border="3"],
.normalize table[border="3"] td,
.normalize table[border="3"] th {
  border-width: 3px !important;
}
.normalize table[border="0"],
.normalize table[border="0"] td,
.normalize table[border="0"] th {
  border-width: 3px !important;
}