<div class="popupwin__scrollbox">
  <div class="popupwin__content clearfix">
    <div class="popupwin__title clearfix">
      Регистрация
    </div>
    <div class="form">
      <div class="field">
        <label>ФИО или название компании:</label>
        <input name="fullname" type="text">
        <span class="errorlist"></span>
      </div>
      <div class="field field_email">
        <label>E-mail:</label>
        <input name="email" type="text">
        <span class="errorlist"></span>
      </div>
      <div class="field field_phone">
        <label>Телефон:</label>
        <input name="phone" type="text" placeholder="* (***) ***-**-**">
        <span class="errorlist"></span>
      </div>
      <div class="field field_phone">
        <label>Пароль:</label>
        <input name="password" type="password">
        <span class="errorlist"></span>
      </div>
      <div class="note">Все поля обязательны для заполнения</div>
    </div>
    <div class="popupwin__footer clearfix">
      <button class="btn btn_color_blue right js-finish">Готово</button>
    </div>
  </div><!-- class="popup-content" -->
</div>
