<div id="trip-aside-region">
  <div class="popupwin__aside" style="margin-right: -150px;">

    <div class="route-aside-commercial popupwin__content" style="width: 230px;">
      <div class="title">Условия отмены бронирования</div>
      <ul class="list moneyback clearfix">

        <li class="item clearfix" data-step="1">
          <span class="percent green">100%</span>
          <div class="text">
            Полный возврат при отмене за 2 дня до начала экскурсии
          </div>
        </li>
        <li class="item clearfix" data-step="1">
          <span class="percent yellow">50%</span>
          <div class="text">
            Возврат 50%, при отмене за 2 дня
          </div>
        </li>
        <li class="item clearfix" data-step="1">
          <span class="percent red">0%</span>
          <div class="text">
            При отмене бронирования менее чем за 2 дня, средства не возвращаются
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="popupwin__content clearfix first">
  <div class="popupwin__title clearfix">
    Сделать заказ
  </div>
  <div class="form">
    <div class="field">
      <label>Ваши ФИО:</label>
      {{#if user.first_name}}
      <input name="fullname" type="text" value="{{user.first_name}} {{user.last_name}}">
      {{else}}
      <input name="fullname" type="text">
      {{/if}}
    </div>
    <div class="field field_email">
      <label>E-mail<span class="star">*</span>:
      </label>
      {{#if user.email}}
      <input name="email" type="text" value="{{user.email}}">
      {{else}}
      <input name="email" type="text">
      {{/if}}
    </div>
    <div class="field field_phone">
      <label>Телефон:</label>
      {{#if user.phone}}
      <input name="phone" type="text" placeholder="* (***) ***-**-**" value="{{user.phone}}">
      {{else}}
      <input name="phone" type="text" placeholder="* (***) ***-**-**">
      {{/if}}
    </div>
    <div class="field clearfix">
      {{#if summary_info.personal.personal_price_tour}}
        {{#if summary_info.group.group_price_tour}}
        <button class="btn btn_color_blue js-tour-personal" style="width:150px;">Индивидуальный</button>
        <button class="btn btn_color_grey js-tour-group" style="width:150px;">Групповой</button>
        {{/if}}
      {{/if}}
    </div>
    {{#if summary_info.personal.personal_price_tour}}
    <form id="orderPersonalTour">
      <div class="personal-tour">
        <div class="field clearfix">
          <div class="item item_count">
            <label>Кол-во человек<span class="star">*</span>:</label>
            <div class="select-grey">
              <select class="js-personal-users" name="user_count">
                {{optionRange summary_info.personal.personal_max_people}}
              </select>
            </div>
          </div>
          <div class="item item_date">
            <label>Дата<span class="star">*</span>:</label>
            <input name="date" type="text" class="js-datapicker-personal">
          </div>
        </div>
        <!--
        <div class="field">
          <label>Выберите время начала<span class="star">*</span>:</label>
          <div class="select-grey">
            <select name="time">
              <option value="1">18:30</option>
              <option value="2">19:30</option>
              <option value="3">20:30</option>
              <option value="4">21:30</option>
              <option value="5">22:30</option>
            </select>
          </div>
        </div>
        -->
        {{#if summary_info.personal.meet_point}}
        <div class="field clearfix">
          <label>Место сбора:</label>
          <p>{{summary_info.personal.meet_point}}</p>
        </div>
        {{/if}}
        {{#if summary_info.personal.additional}}
        <div class="field additional">
          <div class="entry-title">Дополнительные услуги:</div>
          <ul class="list clearfix">
            {{#each summary_info.personal.additional}}
            <li class="item clearfix">
            <div class="name">{{orderService 'name' this}}</div>
              <label class="check-wrap">
                <input class="js-personal-service" name="{{orderService 'name' this}}" value="{{orderService 'price' this}}" type="checkbox">
                <span class="icon"></span>
              </label>
              <div class="price">{{orderService 'price' this}} <span class="rouble">o</span></div>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
        <input type="hidden" name="total_price" value="{{summary_info.personal.personal_price_tour}}">
        <div class="field finish-price">Итого: <span class="price">{{summary_info.personal.personal_price_tour}} <span class="rouble">o</span></span></div>
      </div><!-- /personal-tour -->
    </form>
    {{/if}}

    {{#if summary_info.group.group_price_tour}}
    <form id="orderGroupTour">
      <div class="group-tour {{#if summary_info.personal.personal_price_tour}}hide{{/if}}">
        <div class="field clearfix">
          <div class="item item_count">
            <label>Кол-во человек<span class="star">*</span>:</label>
            <div class="select-grey">
              <select class="js-group-users" name="user_count">
                {{optionRange summary_info.group.group_max_people}}
              </select>
            </div>
          </div>
          <div class="item item_date">
            <label>Дата<span class="star">*</span>:</label>
            <input name="date" type="text" class="js-datapicker-group">
          </div>
        </div>
        <!--
        <div class="field">
          <label>Выберите время начала<span class="star">*</span>:</label>
          <div class="select-grey">
            <select name="time">
              <option value="1">18:30</option>
              <option value="2">19:30</option>
              <option value="3">20:30</option>
              <option value="4">21:30</option>
              <option value="5">22:30</option>
            </select>
          </div>
        </div>
        -->
        {{#if summary_info.group.meet_point}}
        <div class="field clearfix">
          <label>Место сбора:</label>
          <p>{{summary_info.group.meet_point}}</p>
        </div>
        {{/if}}
        {{#if summary_info.group.additional}}
        <div class="field additional">
          <div class="entry-title">Дополнительные услуги:</div>
          <ul class="list clearfix">
            {{#each summary_info.group.additional}}
            <li class="item clearfix">
            <div class="name">{{orderService 'name' this}}</div>
              <label class="check-wrap">
                <input class="js-group-service" name="{{orderService 'name' this}}" value="{{orderService 'price' this}}" type="checkbox">
                <span class="icon"></span>
              </label>
              <div class="price">{{orderService 'price' this}} <span class="rouble">o</span></div>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
        <input type="hidden" name="total_price" value="{{summary_info.personal.personal_price_tour}}">
        <div class="field finish-price">Итого: <span class="price">{{summary_info.group.group_price_tour}} <span class="rouble">o</span></span></div>
      </div><!-- /group-tour -->
    </form>
    {{/if}}

  </div>
  <div class="note"><span class="star">*</span> - поля обязательны для заполнения</div>
  <div class="popupwin__footer clearfix">
    <button class="btn btn_color_blue right js-next-second">Далее</button>
  </div>
</div><!-- class="popup-content" -->


<div class="popupwin__content clearfix hide second">
  <div class="popupwin__title clearfix">
    Заказ экскурсии
  </div>
  <div class="form">
    <div class="field">
      <label>Название экскурсии</label>
      <div class="title">{{name}}</div>
    </div>
    <div class="field">
      <label>Ваши ФИО</label>
      <div class="title" data-fullname></div>
    </div>
    <div class="field">
      <label>E-mail
      <div class="title" data-email></div>
      </label>
    </div>
    <div class="field">
      <label>Телефон</label>
      <div class="title" data-phone></div>
    </div>
    <div class="field">
      <label>Количество участников</label>
      <div class="title" data-people></div>
    </div>
    <div class="field">
      <label>Дата</label>
      <div class="title" data-date></div>
    </div>
    <!--
    <div class="field">
      <label>Время</label>
      <div class="title" data-time></div>
    </div>
    <div class="field">
      <label>Дополнительные услуги</label>
      <div class="title"></div>
    </div>
    -->
    <div class="field finish-price">
      Итого: <span class="price" data-price></span><span class="rouble"> o</span>
    </div>

  </div>
  <form id="assistant-form" action="https://www.payanyway.ru/assistant.htm" method="post">
    <div class="assistant-fields">
    </div>
    <div class="popupwin__footer clearfix">
      <button type="submit" class="btn btn_color_blue right">Оплатить</button>
    </div>
  </form>
</div><!-- class="popup-content" -->
