{{#if blocks}}
<div class="trip-list popupwin__content">
  <div class="title">Содержание</div>
  <ul class="list">
    {{#each blocks}}
    <li class="item clearfix" data-step="{{position}}">
      <span class="number">{{position}}</span>
      <div class="text">
        <a class="text__place name__blck">{{name}}</a>
      </div>
    </li>
    {{/each}}
  </ul>
</div><!-- class="trip-list" -->
{{/if}}
<!--
<div class="route-list popupwin__content">
  <div class="title">Участники</div>
  <ul class="list">
    <li class="item">
      <span class="drag"></span>
      <span class="number">1</span>
      <img src="media/uploads/route-1.png" alt="" class="img">
      <div class="text">
        <span class="text__place">Владимир Вязников</span>
        <span class="text__type c-place">организатор</span>
      </div>
    </li>
    <li class="item">
      <span class="drag"></span>
      <span class="number">2</span>
      <img src="media/uploads/route-2.png" alt="" class="img">
      <div class="text">
        <span class="text__place">Виталий Меньшиков</span>
        <span class="text__type c-user">участник</span>
      </div>
    </li>
  </ul>
</div>
--><!-- class="route-list" -->
{{#if price}}
<div class="route-aside-commercial popupwin__content">
  {{#if summary_info.personal.personal_price_tour}}
  Индивидуальный тур:
  <div class="price">{{summary_info.personal.personal_price_tour}} <span class="sprite-ruble-green-big"></span></div>
  {{#with summary_info.personal}}
  <div class="duration">{{duration personal_dur_days personal_dur_hours personal_dur_minutes}}</div>
  {{/with}}
  {{/if}}
  {{#if summary_info.group.group_price_tour}}
  Групповой тур:
  <div class="price">{{summary_info.group.group_price_tour}} <span class="sprite-ruble-green-big"></span> / чел</div>
  {{#with summary_info.group}}
  <div class="duration">{{duration group_dur_days group_dur_hours group_dur_minutes}}</div>
  {{/with}}
  {{/if}}
  <div class="text">Цена данной экскурсии вместе с <a class="link" href="/guide/{{author.id}}/">{{author.first_name}} {{author.last_name}}</a></div>
  <a href="#" class="btn btn_color_blue js-popup-order-route">Забронировать</a>
  <!--
  <div class="separator">или</div>
  <a href="#" class="btn btn_color_yel js-popup-order-route">Связаться с гидом</a>
  -->
</div>
{{/if}}
