<div class="popupwin__route-wrap clearfix">
  <div id="trip-aside-region"></div>
  <div class="popupwin__content">
    <div class="place-info clearfix" id="trip-header-region"></div>
    <div class="title-trip c-place trip_name">
      <span>{{name}}</span>
      <p class="description__text">{{#if description}}{{description}}{{/if}}</p>
    </div>
    <div id="trip-blocks-region"></div>
    <div id="trip-comments-region" class="comments-wrap"></div>
  </div><!-- class="popup-content" -->
</div>
