<a href="#" class="user user_in_popup">
  <img src="{{author.icon}}" alt="" class="img">
  <span class="name trip_author">{{author.first_name}} {{author.last_name}}</span><br>
  добавил <span class="type c-trip">путешествие</span>
</a>
<ul class="actions">
  <li class="item">
    <a href="#" class="btn-like {{#ifBelong author likeusers}}active{{/ifBelong}}" data-toggle="tooltip" data-original-title="" data-placement="bottom">
      <span class="icon sprite-like-user"></span>
      <span class="text">{{#if likeusers.length}}{{likeusers.length}}{{else}}0{{/if}}</span>
    </a>
  </li>
  <li class="item">
    <!--<a href="#?" class="btn-upload">
      <span class="icon sprite-upload"></span>
    </a>-->
    <div class="soc-wrap">
      <ul class="soc-list">
        <li class="soc-list__item">
          <a href="#?" class="btn-soc btn-soc_tw">Twitter</a>
        </li>
        <li class="soc-list__item">
          <a href="#?" class="btn-soc btn-soc_vk">Вконтакте</a>
        </li>
        <li class="soc-list__item">
          <a href="#?" class="btn-soc btn-soc_fb">Facebook</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
