<div class="route-list popupwin__content">
  <div class="title">Добавленные места и события</div>
  <ul class="list">
    {{#each points}}
    <li class="item">
      <a href="#?" class="close js-delete"></a>
      <a href="#?" class="link-wrap js-popupwin-place">
      <span class="drag"></span>
      <span class="number">{{position}}</span>
      <img src="{{point.imgs.[0].thumbnail104x104}}" alt="" class="img">
      <div class="text">
        <span class="text__place">{{point.name}}</span>
      <span class="text__type c-place">место</span>
      </div>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
<div class="route-aside-commercial popupwin__content">
  <div class="price">{{price}} <span class="sprite-ruble-green-big"></span></div>
  <div class="text">Цена данного маршрута вместе с <a href="#?">Белкотур</a></div>
  <a href="#?" class="btn btn_color_blue js-popup-order-route">Заказать маршрут</a>
</div>
